<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/style.css">
	<title>lesson_#</title>
</head>

<body>
	<div class="wrapper">


		<header class="header">
			<div class="header__section section"></div>
		</header>


		<main class="main main--dentins">
			<div class="main__section section">

				<!-- TODO Блок HOOP -->
				<div class="popular-block">
					<div class="popular-block--wrap">
						
							<div class="popular-block__desk desk">
								<h2 class="desk__caption">Most popular product</h2>
								<div class="desk__subcaption">Best seller product this week!</div>
							</div>
							
							<div class="popular-block__hoop hoop">

									<div class="hoop__column">
										<a href="#" class="hoop__item-link" title="Ring Mezzaluna" target="_blank">
											<img src="img/caro/caro_one.webp" alt="hoop" class="hoop__item-img">
										</a>
										
										<div class="hoop__product-desk product-desk">
											<h3 class="product-desk__title">
												<a href="#" class="product-desk__title-link" target="_blank">
													Embossed hoop earrings
												</a>
											</h3>
											<div class="product-desk__price">$144.00</div>
										</div>
									</div>

									<div class="hoop__column">
										<a href="#" class="hoop__item-link" title="Cari Kualitas" target="_blank">
											<img src="img/caro/caro_two.webp" alt="hoop" class="hoop__item-img">
										</a>
										
										<div class="hoop__product-desk product-desk">
											<h3 class="product-desk__title">
												<a href="#" class="product-desk__title-link" target="_blank">
													Embossed hoop earrings
												</a>
											</h3>
											<div class="product-desk__price">$144.00</div>
										</div>
									</div>

									<div class="hoop__column">
										<a href="#" class="hoop__item-link" title="Givenchy Small Crystal Stud Earrings" target="_blank">
											<img src="img/caro/caro_three.webp" alt="hoop" class="hoop__item-img">
										</a>
										
										<div class="hoop__product-desk product-desk">
											<h3 class="product-desk__title">
												<a href="#" class="product-desk__title-link" target="_blank">
													Embossed hoop earrings
												</a>
											</h3>
											<div class="product-desk__price">$144.00</div>
										</div>
									</div>

									<div class="hoop__column">
										<a href="#" class="hoop__item-link" title="Squeeze ring - 18 karat guld" target="_blank">
											<img src="img/caro/caro_four.webp" alt="hoop" class="hoop__item-img">
										</a>
										
										<div class="hoop__product-desk product-desk">
											<h3 class="product-desk__title">
												<a href="#" class="product-desk__title-link" target="_blank">
													Embossed hoop earrings
												</a>
											</h3>
											<div class="product-desk__price">$144.00</div>
										</div>
									</div>
							</div>

							<div class="popular-block__view">
								<a href="" class="popular-block__link-more" target="_blank">view more</a>
							</div>
						</div>
				</div>

			<!-- TODO Блок OUR PRODUCTS-->
			<div class="block-our">
				<div class="block-our__bg">
					<div class="block-our--wrap">
						<div class="block-our__caption-box caption-box">
							<h2 class="caption-box__title">Our products</h2>
					
							<div class="caption-box__subtitle">Add our products to weekly lineup</div>
							<ul class="caption-box__menu menu-box">
								<li class="menu-box__item">
									<a href="" class="menu-box__link menu-box__link--start" target="_blank">Gold</a>
								</li>
								<li class="menu-box__item">
									<a href="" class="menu-box__link menu-box__link--other" target="_blank">Diamond</a>
								</li>
								<li class="menu-box__item">
									<a href="" class="menu-box__link menu-box__link--other" target="_blank">Bronze</a>
								</li>
								<li class="menu-box__item">
									<a href="" class="menu-box__link menu-box__link--other" target="_blank">Silver</a>
								</li>
							</ul>
						</div>
						<div class="earrings">
							<div class="earrings__inner">
					
								<div class="earrings__column">
									<a href="#" class="earrings__link" target="_blank">
										<img src="img/rings/rings_one.webp" alt="hoop" class="earrings__trump">
										<p>Earrings with turquoise</p>
									</a>
									<div class="earrings__text-aside text-aside">
										<h3 class="text-aside__title">
											<a href="#" class="text-aside__link" target="_blank">Embossed hoop earrings</a>
										</h3>
										<div class="text-aside__price">$144.00</div>
									</div>
								</div>
								<div class="earrings__column">
									<a href="#" class="earrings__link" target="_blank">
										<img src="img/rings/rings_two.webp" alt="hoop" class="earrings__trump">
										<p>Leopard earrings</p>
									</a>
									<div class="earrings__text-aside text-aside">
										<h3 class="text-aside__title">
											<a href="#" class="text-aside__link" target="_blank">Embossed hoop earrings</a>
										</h3>
										<div class="text-aside__price">$144.00</div>
									</div>
								</div>
								<div class="earrings__column">
									<a href="#" class="earrings__link" target="_blank">
										<img src="img/rings/ring_three.webp" alt="hoop" class="earrings__trump">
										<p>Square rings</p>
									</a>
									<div class="earrings__text-aside text-aside">
										<h3 class="text-aside__title">
											<a href="#" class="text-aside__link" target="_blank">Embossed hoop earrings</a>
										</h3>
										<div class="text-aside__price">$144.00</div>
									</div>
								</div>
								<div class="earrings__column">
									<a href="#" class="earrings__link" target="_blank">
										<img src="img/rings/ring_four.webp" alt="hoop" class="earrings__trump">
										<p>Ethnic MGUB earrings</p>
									</a>
									<div class="earrings__text-aside text-aside">
										<h3 class="text-aside__title">
											<a href="#" class="text-aside__link" target="_blank">Embossed hoop earrings</a>
										</h3>
										<div class="text-aside__price">$144.00</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- TODO Блок POPULAR -->
			<div class="block-popular">

				<div class="block-popular__bg">
					<img src="img/india/flower.webp" alt="flower" class="block-popular__decor">
					<div class="block-popular--wrap">
						<div class="block-popular__holder holder">
							<h3 class="holder__title">Ours popular products</h3>
							<div class="holder__paragraph">
								<p>Best seller product this week!</p>
							</div>
						</div>
						
						<div class="popular">
							<div class="popular__row-inner">
					
								<div class="popular__column">
					
									<a href="#" class="popular__link" target="_blank">
										<img src="img/india/india_one.webp" alt="ring" class="popular__pic">
									</a>
					
									<div class="popular__text-desk text-desc">
					
										<h5 class="text-desc__title">
											<a href="#" class="text-desс__link" target="_blank">
												Engagement rings – a buyer’s guide 
											</a>
										</h5>
										<div class="text-desс__meta meta-block">
											<div class="meta-block__paragraph">
												<p>
													Video marketing is a powerful marketing strategy that allows you to portray an advertisement in the form of a story, which can
												</p>
											</div>
											
											<div class="meta-block__more more">
												<h6 class="more__title">
													<a href="#" class="more__link" target="_blank">
													Read more
													</a>
												</h6>
												<a href="#" class="more__jump" target="_blank"></a>
											</div>
										</div>
									</div>
								</div>

								<div class="popular__column">
					
									<a href="#" class="popular__link" target="_blank">
										<img src="img/india/india_two.webp" alt="ring" class="popular__pic">
									</a>
					
									<div class="popular__text-desk text-desc">
					
										<h5 class="text-desc__title">
											<a href="#" class="text-desс__link" target="_blank">
												Engagement rings – a buyer’s guide
											</a>
										</h5>
										<div class="text-desс__meta meta-block">
											<div class="meta-block__paragraph">
												<p>
													Video marketing is a powerful marketing strategy that allows you to portray an advertisement in the form of a story, which can
												</p>
											</div>
											<div class="meta-block__more more">
												<h6 class="more__title">
													<a href="#" class="more__link" target="_blank">
													Read more
													</a>
												</h6>
												<a href="#" class="more__jump" target="_blank"></a>
											</div>
										</div>
									</div>
								</div>

								<div class="popular__column">
					
									<a href="#" class="popular__link" target="_blank">
										<img src="img/india/india_three.webp" alt="ring" class="popular__pic">
									</a>
					
									<div class="popular__text-desk text-desc">
					
										<h5 class="text-desc__title">
											<a href="#" class="text-desс__link" target="_blank">
												Engagement rings – a buyer’s guide
											</a>
										</h5>
										<div class="text-desс__meta meta-block">
											<div class="meta-block__paragraph">
												<p>
													Video marketing is a powerful marketing strategy that allows you to portray an advertisement in the form of a story, which can
												</p>
											</div>
											<div class="meta-block__more more">
												<h6 class="more__title">
													<a href="#" class="more__link" target="_blank">
													Read more
													</a>
												</h6>
												<a href="#" class="more__jump" target="_blank"></a>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- TODO Блок PROVIDE -->
			<div class="provide">
						
					<div class="row-block">
							<div class="row-block__container">
								<div class="row-block__body">
									<div class="row-block__desc desc-provider">
										<h6 class="desc-provider__subtitle">why choose me</h6>
										<h3 class="desc-provider__title">we provide solutions to grow your business</h3>
										<div class="desc-provider__paragraph">
											<p>Leverage agile frameworks to provide a robust synopsis for high level overviews. thinking to further the overall proposition. </p>
										</div>
									</div>
					
									<div class="circular-bar">
										<div class="circular-bar__block block-circular">
											<div class="block-circular__products-inner bar-products">
												<div class="bar-products__body">
													<div class="bar-products__outer-item" data-index="95">
														<div class="bar-products__inner-item">
															<div id="bar-products__value"><span class="data-products-index">95%</span></div>
														</div>
														<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="circular-bar__anim circular-bar__products" fill="#37393f">
															<circle cx="40" cy="40" r="36" stroke-linecap="round" />
														</svg>
													</div>
												</div>
												<div class="bar-products__desc decs">
													<div class="decs__paragraph">clients</div>
													<div class="decs__subcaption">quick response</div>
												</div>
											</div>
											<div class="block-circular__clients-inner bar-clients">
												<div class="bar-clients__body">
													<div class="bar-clients__outer-item" data-index="85">
														<div class="bar-clients__inner-item">
															<div id="bar-clients__value"><span class="data-clients-index">85%</span></div>
														</div>
														<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="circular-bar__anim circular-bar__clients" fill="#37393f">
															<circle cx="40" cy="40" r="36" stroke-linecap="round" />
														</svg>
													</div>
												</div>
												<div class="bar-clients__desc decs">
													<div class="decs__paragraph">project</div>
													<div class="decs__subcaption">finished jobs</div>
												</div>
											</div>
										</div>
									</div>
					
									<div class="row-block__statistics indicators">
											
											<div class="indicators__row">
												
												<div class="indicators__col">
													<div class="indicators__block-numbers code-js" data-number="2800">
														<div class="code-js__number" lang="en-En">2800</div>
													</div>

													<div class="indicators__desc">Active clients</div>
												</div>

												<div class="indicators__col">
													<div class="indicators__block-numbers code-js" data-number="106">
														<div class="code-js__number" lang="en-En">106</div>
													</div>
												</div>
											</div>
											
											<div class="indicators__row">
												
												<div class="indicators__col">
													<div class="indicators__block-numbers code-js" data-number="1670">
														<div class="code-js__number" lang="en-En">1670</div>
													</div>

													<div class="indicators__color">
														<div class="indicators__num indicators__num--yellow">5</div>
														<span class="indicators__num--yellow">stars</span>
														<span class="indicators__num--normal">reviews</span>
													</div>
												</div>

												<div class="indicators__col">
													<a href="#" class="indicators__link" target="_blank">Get in touch</a>
												</div>

											</div>
									</div>
								</div>
							</div>
						</div>

						<div class="provide__poster-block poster-block">
							<img src="img/drafts/poster.webp" alt="poster" class="poster-block__picture">
						</div>
			</div>
			<!-- !Конец общего блока -->
			</div>
			<!-- !Конец main -->
		</main>
		<footer class="footer">
			<div class="footer__section section"></div>
		</footer>
	</div>
	<script src="js/script.js"></script>
</body>

</html>