@import url("fonts.css");
@import url("reset.css");

body {
	font: 18px "Inter", sans-serif;
	color: #7d7d7d;
	background: url("../img/fon.svg");
}

.wrapper__setup {
	padding-top: 60px;
	padding-bottom: 60px;
}

.main__section {
	max-width: 1300px;
	margin: 0 auto;
	padding: 50px 15px 50px;
	background-color: #f4ebdb;
}

.main__section > *:not(:last-child) {
	margin-bottom: 50px;
}

/* TODO: Секція практика */

.section__title {
	font: 600 26px "Cuprum", sans-serif;
	text-align: center;
	color: #2c4a52;
	line-height: 1.35;
}

.section__lesson > *:not(:last-child) {
	margin-bottom: 60px;
}

.lesson__task {
	text-align: center;
}

.lesson__task h2 {
	color: #0a0ecc;
	line-height: 1.2;
}

.lesson__task .task__big-word {
	font-size: 16px;
	text-transform: uppercase;
	color: #a53307;
}

.lesson__task > *:not(:last-child) {
	margin-bottom: 10px;
}

.task__elements {
	font-size: 0;
	max-width: 306px;
	min-height: 206px;
	border: 3px solid #2c4a52;
	margin: 0 auto;
}

.task__elements img {
	max-width: 100px;
	width: 100%;
	min-height: 100px;
}

.section__lesson {
	max-width: 800px;
	margin: 0 auto;
}

/* TODO: Секція #1 */

.section__menu {
	font-size: 0;
	max-width: 735px;
	margin: 0 auto;
	background: #c8c8ee;
	text-align: center;
}

.nav__list .link__item {
	display: inline-block;
}

.nav__list .link__item {
	font-size: 18px;
	color: #47118d;
	padding: 15px 22px;
}

.nav__list .link__jump::before {
	position: absolute;
	top: 0;
	left: 0;
}

.nav__list .link__jump {
	position: relative;
	padding-left: 30px;
}

.nav__list .link__jump:nth-child(1)::before {
	content: "";
	width: 20px;
	height: 18px;
	background: url("../img/menu_house_chimney_solid.svg") center/cover no-repeat;
}

.nav__list .link__jump:nth-child(2)::before {
	content: "";
	width: 20px;
	height: 18px;
	background: url("../img/menu_cart_shopping_solid.svg") center/cover no-repeat;
}

.nav__list .link__jump:nth-child(3)::before {
	content: "";
	width: 20px;
	height: 18px;
	background: url("../img/menu_gear_solid.svg") center/cover no-repeat;
}

.nav__list .link__jump:nth-child(4)::before {
	content: "";
	width: 20px;
	height: 18px;
	background: url("../img/menu_table_list_solid.svg") center/cover no-repeat;
}

.nav__list .link__jump:nth-child(5)::before {
	content: "";
	width: 20px;
	height: 18px;
	background: url("../img/menu_envelope_open_solid.svg") center/cover no-repeat;
}

/* TODO: Секція #2 */
/* !Example #1 */

.task__one .unit__picture:nth-child(1) {
	position: relative;
	top: 100px;
	left: 0;
}

.task__one .unit__picture:nth-child(3) {
	position: relative;
	top: 100px;
	left: 0;
}

/* !Example #2 */

.task__two .unit__picture:nth-child(2) {
	position: relative;
	top: 50px;
	left: 0;
}

.task__two .unit__picture:nth-child(3) {
	position: relative;
	top: 100px;
	left: 0;
}

/* !Example #3 */

.task__three {
	position: relative;
}

.task__three .unit__picture:nth-child(3) {
	position: absolute;
	top: 0;
	left: 0;
}

.task__three .unit__picture:nth-child(1) {
	position: absolute;
	top: 100px;
	left: 100px;
}

.task__three .unit__picture:nth-child(2) {
	position: absolute;
	top: 0;
	left: 200px;
}

/* !Example #4 */

.task__four {
	position: relative;
}

.task__four .unit__picture:nth-child(1) {
	position: absolute;
	top: 50px;
	left: 50px;
	z-index: 3;
}

.task__four .unit__picture:nth-child(2) {
	position: absolute;
	top: 100px;
	left: 100px;
	z-index: 2;
}

.task__four .unit__picture:nth-child(3) {
	position: absolute;
	top: 150px;
	left: 150px;
	z-index: 1;
}

/* !Example #5 */

.task__five {
	position: relative;
	max-width: 406px;
	min-height: 206px;
}

.task__five .unit__picture:nth-child(1) {
	position: absolute;
	top: 0;
	left: 0;
}

.task__five .unit__picture:nth-child(2) {
	position: absolute;
	top: 100px;
	left: 0;
}

.task__five .unit__picture:nth-child(3) {
	position: absolute;
	top: 0px;
	left: 300px;
}

.task__five .unit__picture:nth-child(4) {
	position: absolute;
	top: 100px;
	left: 300px;
}

/* !Example #6 */

.task__six {
	position: relative;
	max-width: 406px;
	min-height: 206px;
}

.task__six .unit__picture:nth-child(2) {
	position: absolute;
	top: 50px;
	left: 79px;
	transform: rotate(-45deg);
	z-index: 2;
}

.task__six .unit__picture:nth-child(1) {
	position: absolute;
	top: 50px;
	left: 150px;
	z-index: 3;
}

.task__six .unit__picture:nth-child(3) {
	position: absolute;
	top: 50px;
	left: 221px;
	transform: rotate(45deg);
	z-index: 1;
}

/* !Example #7 */

.task__seven {
	text-align: justify;
	line-height: 1.8;
}

.task__seven .unit__relative {
	font-size: 15px;
	font-weight: 600;
	font-family: "Cuprum";
	color: #0f7406;
	position: relative;
	text-transform: uppercase;
	text-decoration: underline;
	top: -10px;
	letter-spacing: 1.5px;
}

/* !Example #8 */

.task__eight {
	font-size: 0;
}

.task__eight a {
	width: 30px;
	height: 29px;
	background-color: #3056d3;
	border-radius: 2px;
}

.task__eight img {
	position: relative;
	top: 5px;
	left: 0;
	max-width: 20px;
	min-height: 18px;
	width: 100%;
	padding: 2px;
}

.task__eight .cursor__link-up {
	position: fixed;
	top: 60px;
	right: 60px;
}

.task__eight .cursor__link-down {
	position: fixed;
	bottom: 140px;
	right: 60px;
}

/* !Example #9 */

.task__nine {
	max-width: 600px;
	margin: 0 auto;
}

.task__nine .figure__position-relative {
	position: relative;
	background-color: #794f45;
	width: 100%;
	min-height: 32px;
}

.figure__position-relative .position-relative__span-box {
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #7a956b;
	color: aliceblue;
	text-align: center;
	line-height: 1.7;
}

/* !Example #10 */
.task__position-relative {
	max-width: 304px;
	width: 100%;
	min-height: 34px;
	background-color: rgb(245, 174, 149);
	margin: 0 auto;
	border: 2px solid #3056d3;
	position: relative;
}

.task__position-relative .relative__span-box:nth-child(1) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 30px;
	background-color: #794f45;
	font-size: 15px;
	text-align: center;
	color: #ebf0fc;
	line-height: 2;
}

.task__position-relative .relative__span-box:nth-child(2) {
	position: absolute;
	top: 0;
	left: 100px;
	width: 100px;
	height: 30px;
	background-color: #7a956b;
	text-align: center;
	color: #ebf0fc;
	font-size: 15px;
	line-height: 1.8;
	line-height: 2;
}

.task__position-relative .relative__span-box:nth-child(3) {
	position: absolute;
	top: 0;
	left: 200px;
	width: 100px;
	height: 30px;
	background-color: #77608d;
	text-align: center;
	color: #ebf0fc;
	font-size: 15px;
	line-height: 1.8;
	line-height: 2;
}

/* !Example #11 */

.task__relative-area {
	position: relative;
	max-width: 360px;
	min-height: 96px;
	margin: 0 auto;
}

.task__relative-area .relative-box__item:nth-child(1) {
	display: block;
	position: relative;
	max-width: 360px;
	min-height: 32px;
	border-left: 2px solid #2c4a52;
	border-top: 2px solid #2c4a52;
	border-right: 2px solid #2c4a52;
}

.task__relative-area .relative-box__item:nth-child(2) {
	display: inline-block;
	position: relative;
	right: 180px;
	max-width: 360px;
	min-height: 32px;
	border-left: 2px solid #2c4a52;
	border-right: 2px solid #2c4a52;
	vertical-align: middle;
	line-height: 1.5;
	padding: 0 111px;
}

.task__relative-area .relative-box__item:nth-child(3) {
	display: block;
	position: relative;
	max-width: 360px;
	min-height: 32px;
	border-left: 2px solid #2c4a52;
	border-bottom: 2px solid #2c4a52;
	border-right: 2px solid #2c4a52;
}

/* !Example #12 */

.task__sticky-box {
	border: 1px solid #2c4a52;
	padding: 0 15px 20px;
	overflow: scroll;
	max-width: 500px;
	height: 340px;
	text-align: justify;
	margin: 0 auto;
}

.task__sticky-box .sticky__span {
	font: 600 20px "Cuprum", sans-serif;
	color: rgb(211, 8, 8);
	position: relative;
	text-decoration: underline;
	text-transform: uppercase;
}

.task__sticky-box p {
	padding-top: 10px;
}

.task__sticky-box p:not(:last-child) {
	margin-bottom: 20px;
}

.task__sticky-box .sticky__static,
.task__sticky-box .sticky__relative,
.task__sticky-box .sticky__absolute,
.task__sticky-box .sticky__fixed,
.task__sticky-box .sticky__sticky-block {
	width: 100%;
	min-height: 40px;
	text-align: center;
	color: #ebf0fc;
	line-height: 2.6;
	text-transform: uppercase;
	position: sticky;
	top: 0;
	left: 0;
}

.task__sticky-box .sticky__static {
	background-color: #3056d3;
	z-index: 1;
}

.task__sticky-box .sticky__relative {
	background-color: #b64612;
	/* z-index: 2; */
}

.task__sticky-box .sticky__absolute {
	background-color: #7a956b;
	z-index: 3;
}

.task__sticky-box .sticky__fixed {
	background-color: #794f45;
	z-index: 4;
}

.task__sticky-box .sticky__sticky-block {
	background-color: #77608d;
	z-index: 5;
}

/* TODO: Секція #3 */

.section__employees {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 15px;
	font-size: 0;
}

.section__employees .employees__row > * {
	display: inline-block;
	font-size: 18px;
}

.section__employees .employee__card:not(:last-child) {
	margin-right: 31px;
}

.section__employees .employees__row:not(:last-child) {
	margin-bottom: 31px;
}

.employee__card .card__icons {
	font-size: 0;
}

.employee__card {
	position: relative;
}

.employee__card .card__content {
	position: absolute;
	text-align: center;
	bottom: 22px;
	left: 22px;
	max-width: 340px;
	min-height: 114px;
	width: 100%;
	background: #fff;
	padding: 24px 44px;
}

.employee__card .card__icons {
	position: absolute;
	bottom: 45%;
	left: 27%;
}

.employee__card .card__icons img {
	max-width: 25px;
	min-height: 23px;
	width: 100%;
}

.employee__card .card__icons a {
	background-color: #40ddb6;
	width: 50px;
	height: 50px;
	padding: 13px;
	border-radius: 50%;
}

.employee__card .card__icons a:not(:last-child) {
	margin-right: 13px;
}

.employee__card .card__content h4 {
	color: #37393f;
	font: 600 25px "Poppins", sans-serif;
	line-height: 1.52; /* 38/25 */
	margin-bottom: 4px;
}

.employee__card .card__content .item__paragraph-block {
	color: #7d7d7d;
	line-height: 1.35; /* 24.334/18 */
}

.item__paragraph-block > *:not(:last-child) {
	margin-bottom: 6px;
}

.employee__card .card__img {
	max-width: 386px;
	min-height: 532px;
}

.employee__card .card__img img {
	width: 100%;
	height: 100%;
}

.employee__card::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(107, 119, 229, 0.7);
	visibility: hidden;
}

.employee__card:hover::before {
	visibility: visible;
}

.employee__card .card__icons a:hover {
	outline: 2px solid #06e4ac;
	background-color: #268a71;
}

/* TODO: Секція Footer */
.footer__section {
	background-color: #537072;
	padding: 40px 0;
}
