$fontCaption: #fff;
$fontTitle: #3c4242;
$fontCategoriesManTitle: #2a2f2f;
$fontCategoriesManWomenDesk: #7f7f7f;
$fontCategoriesWomenTitle: #191919;
$fontCategoriesBrandOther: #fbd103;
$beforeMainTitle: #8A33FD;
$fontCategoriesLimeFeedbackDesk: #807d7e;
$fontFooterMain: #f6f6f6;
$hoverLinkPoster: #6620C1;
$backgroundPoster: #02b7db;
$backgroundUptoYellow: #ffbd4b;
$backgroundUptoLilac: #775a8f;
$hoverLinkPic: rgba(102, 32, 193, 0.5);


$fontMain: "Core Sans C", sans-serif;
$fontMainButtonCardDesk: "Causten", sans-serif;
$fontUpto: "Montserrat", sans-serif;
$fontCategoriesWomen: "Poppins", sans-serif;

//hovers
// transition: all 0.45s ease-in-out;

body {
	font-family: $fontMainButtonCardDesk;
	color: $fontTitle;
}

//Шаблони
// @extend %markTitlesection;
// @extend %mainBlock;

// @media (any-hover: hover) {
// 	&:hover {
// 		width: 0;
// 	}
// }


// &__link-accent {
// 	position: relative;
// 	transition: all 0.45s ease-in-out;
// 	&::before {
// 		content: "";
// 		position: absolute;
// 		left: 50%;
// 		top: 100%;
// 		transform: translateX(-50%);
// 		width: 0%;
// 		height: 3px;
// 		background-color: $fontCaption;
// 		transition: all 0.45s ease-in-out;
// 	}
// 	@media (any-hover: hover) {
// 		&:hover {
// 			cursor: pointer;
// 			color: $hoverLinkPoster;
// 		}
// 		&:hover::before {
// 			width: 100%;
// 			background-color: $hoverLinkPoster;
// 		}
// 	}
// }

// %mainBlock{
// 	max-width: 1270px;
// 	margin: 0 auto;
// 	padding: 0 15px;
// }