@use "sass:math";

@import "_mixins.scss";
@import "_reset.scss";
@import "_common.scss";
@import "_fonts.scss";

// ?Налаштування
// !Color for text
$colorMain: #606060;
$colorHeaderIconValue: rgba(255, 51, 51, 1);
$colorTitle: #fff;
$colorHoverSubTitle: rgba(213, 132, 23, 1);
$colorIndividualJewelry: rgba(14, 51, 61, 1);
$colorNeutral: #000;
$colorHoverMenu: #d58417;

// !Color for background
$backgroundHero: rgba(80, 34, 3, 1);
$backgroundSubMenu: rgba(255, 147, 74, 1);
$backgroundHeroIndJewelry: rgba(216, 216, 216, 1);
$backgroundHeaderIconValue: rgba(255, 51, 51, 1);
$backgroundHeaderBurger: rgba(158, 253, 229, 0.411);
$backgroundHeader: #fefbf7;
$backgroundHover: rgba(255, 255, 255, 0.06);
$backgroundFillDecor: rgba(255, 255, 255, 0.27);
$backgroundDecorLabel: rgba(255, 147, 74, 0.28);
$backgroundPhasizingTitle: #78473b;
$backgroundFooter: rgba(61, 25, 1, 1);
$backgroundIndividualJewelry: #0e333d;
$backgroundPhasizingIndJewelry: rgba(14, 51, 61, 1);

//! UserFonts
$fontMain: "Inter", sans-serif;
$fontHeader: "Merriweather", serif;
$fontDesk: "Cormorant Infant", serif;
$fontDeskIndividual: "DM Serif Text", serif;

// !Змінні
:root {
	--hieghtHeader: toEm(100);
}

.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.wrapper > main {
	flex-grow: 1;
}

body {
	font-family: $fontMain;
	color: $colorMain;

	.menu-open &{
		overflow: hidden;
	}
}

//!BEM-Block
.header {
	background-color: $backgroundHeader;
	border-bottom: toEm(1) solid $backgroundHeroIndJewelry;

	// .header__menu
	&__menu {
		max-width: toEm(1200);
		margin: 0 auto;
		padding: toEm(5) toEm(15);
		min-height: toEm(100);

		display: flex;
		column-gap: toRem(15);
		align-items: center;

		color: $colorNeutral;
		font-family: $fontHeader;
		font-size: toRem(20);

		@media (max-width: toEm(960)){
			min-height: toEm(40);
			background-color: $backgroundHeaderBurger;
		}
	}
}

//!BEM-Block
.menu {
	// .menu__logo
	&__logo {
		flex-shrink: 0;

		font-size: toRem(30);
		font-style: italic;
		font-weight: 700;
		line-height: 0.533333;

		z-index: 2;

		@media (max-width: toEm(960)){
			font-size: clamp(1.5rem, 1.313rem + 0.94vw, 1.875rem);
		}
	}

	// .menu__favorities
	&__favorities {
		flex-shrink: 0;
		display: flex;
		gap: toRem(25);
		align-items: center;

		@media (max-width: toEm(960)){
			gap: toRem(10);
		}
	}
}

//!BEM-Block
.nav-menu {
	flex: 1 1 auto;

	// .nav-menu__body
	&__body {
			right: -100%;
		@media (max-width: toEm(960)){
			position: fixed;
			overflow: auto;
			width: 100%;
			height: 100%;
			top: toEm(40);
			right: 0;
			background-color: $colorHoverSubTitle;
			padding: toEm(35) toEm(15) toEm(15) toEm(15);
			transition: right .4s ease-in;

			.menu-open {
				right: 0;
			}
		}
	}


	// .nav-menu__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		column-gap: toEm(36);
		row-gap: toEm(10);
		justify-content: center;

		@media (max-width: toEm(960)){
			flex-direction: column;
			align-items: flex-end;
			row-gap: toEm(30);
		}
	}

	// .nav-menu__item
	&__item {
		line-height: 0.8;
		@media (any-hover: hover) {
			&:hover .nav-menu__link {
				text-decoration: underline;
				color: $colorHoverMenu;
			}
		}

		@media (max-width: toEm(960)){
			font-size: toRem(29);
		}
	}

	// .nav-menu__link
	&__link {
		transition: all 0.2s ease-in;
	}

	// .nav-menu__item--parent
	&__item--parent {
		position: relative;

		@media (any-hover: hover) {
			&:hover .sub-menu {
				transform: translate(0, 0);
				opacity: 1;
				visibility: visible;
				pointer-events: all;
			}
		}
		@media (max-width: toEm(960)){
			text-align: end;
			}
	}

	// .nav-menu__link--parent
	&__link--parent {
		@media (min-width: toEm(960)){
		position: relative;
		display: flex;
		align-items: center;
		column-gap: toEm(4);
		&::after {
			content: "";
			flex: 0 0 toRem(16);
			width: toRem(16);
			height: toRem(8);
			background: url("../img/header/mark.png") 0 0 no-repeat;
			}
		}
	}
}

//!BEM-Block
.sub-menu {
	position: absolute;
	left: 0;
	top: 100%;

	padding-top: toEm(10);

	transform: translate(0px, 10%);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	height: auto;
	width: toEm(150);
	transition: all 0.4s ease-in;

	@media (max-width: toEm(960)){
		visibility: visible;
		position: relative;
		transform: translate(0, 0);
		opacity: 1;
	}

	// .sub-menu__list
	&__list {
		padding: toEm(14) toEm(8);
		background-color: $backgroundSubMenu;
		border-radius: toEm(4);

		@media (max-width: toEm(960)){
			font-size: toRem(24);
		}
	}

	// .sub-menu__item
	&__item {
		&:not(:last-child) {
			margin-bottom: toEm(12);
		}

		@media (max-width: toEm(960)){
			&:not(:last-child) {
				margin-bottom: toEm(16);
			}
		}
		text-align: end;
	}

	// .sub-menu__link
	&__link {

		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

//! BEM-Block
.favorities {
	font-size: toRem(10);
	z-index: 2;

	// .favorities__link
	&__link {
		position: relative;
		flex: 0 0 toRem(30);
		@media (any-hover: hover) {
			&:hover .favorities__pic {
				transform: scale(1.1);
			}
		}
	}

	// .favorities__pic
	&__pic {
		transition: transform 0.4s ease-in;
		max-width: 100%;
	}

	// .favorities__value
	&__value {
		position: absolute;
		right: 0;
		top: 0;
		max-width: toRem(30);
		width: toEm(22);
		height: toEm(22);
		background-color: $backgroundHeaderIconValue;
		border-radius: 50%;
		color: $colorTitle;
		text-align: center;
		line-height: 1.3;
	}

	// .favorities__burger
	&__burger {
		display: none;
		
		@media (max-width: toEm(960)){
			display: block;
			flex: 0 0 toEm(38);
			height: toEm(23);
			width: toEm(30);
			position: relative;
			z-index: 3;
			&::before, &::after{
				content: "";
				position: absolute;
				left: 0;
				height: toEm(3);
				width: 100%;
				background-color: #000;
			}

			&::before{
				top: 0;
			}

			&::after{
				bottom: 0;
			}
		}
	}

	// .favorities__line
	&__line {
		position: absolute;
				left: 0;
				height: toEm(3);
				width: 100%;
				background-color: #000;
				top: 50%;
				margin-top: -1px;
	}
}
