@use "sass:math";

@import "_mixins.scss";
@import "_reset.scss";
@import "_common.scss";
@import "_fonts.scss";

.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.wrapper > main {
	flex-grow: 1;
}

//TODO Розмір шритів
$sizeTitle: toRem(79);
$sizeParagraph: toRem(30);

//TODO Колір шритів
$mainColorFont: #fff;
$colorFontQuotes: #377de5;
$colorFontTitle: #ff4a4a;
$projectBackground: #12161c;
$mainFont: "Onest", sans-serif;

//TODO Брейкпоінти
$breikpoinSuperHigh: toEm(4000);
$breikpoinSuperTall: toEm(2000);
$breikpoinTall: toEm(1600);
$breikPointViewport: toEm(1840);
$breikpoinCompTablet: toEm(992);
$breikpoinTablet: toEm(991.98);
$breikpoinAverage: toEm(1599.98);
$breikpoinNormal: toEm(1200);
$breikpoinLow: toEm(1199.98);

//TODO
// !padding, gap - Перехід 991.98-320px (40-10)
$paddingMainGap: clamp(0.625rem, -0.268rem + 4.46vw, 2.5rem);
// !Перехід останнній bottom розділу 991.98-320px (40-10)
$marginSectionBottom: clamp(0.625rem, -0.268rem + 4.46vw, 2.5rem);
// !Перехід 1840-320px (79-356)
$fontSizeMainTitleSection: clamp(0.625rem, -0.268rem + 4.46vw, 2.5rem);

// TODO Міксіни
@mixin blueRedTitle($colorTitle: $colorFontTitle) {
	font-size: $sizeTitle;
	color: $colorTitle;
	line-height: 1.1;
	letter-spacing: toRem(-1.58);
}

@mixin blueRedParagraph($colorParagraph: $mainColorFont) {
	line-height: 1.4;
	letter-spacing: toRem(-0.3);
}

// ?Зміна зоголовка по брекпоїнтам
//! $breikpoinNormal (font-size 79px)
//! $breikpoinLow (font-size 56)
@mixin сhangeСaption {
	font-size: clamp(3.375rem, 0.445rem + 3.91vw, 4.938rem);
	font-size: clamp(2.125rem, 1.781rem + 1.72vw, 3.5rem);
}

.main {
	// .main__section
	&__section {
		font-size: $sizeParagraph;
		color: $mainColorFont;
		font-family: $mainFont;
	}
}
.section {
	// .section__wrap
	&__wrap {
		margin: 0 auto;
		background-color: $projectBackground;
		max-width: 100vw;

		@media (min-width: $breikpoinCompTablet) {
			padding: toRem(40);
		}

		// !Перехід 991.98-320px (40-10)
		padding: $paddingMainGap;
	}
}

// TODO Секція #1
.block {
	// .block__presentation
	&__presentation {
		background: linear-gradient(
			256deg,
			#192230 0.46%,
			#192230 46.69%,
			#132e50 56.52%,
			#0e2d53 85.65%,
			#121820 101.73%
		);

		display: flex;

		@media (min-width: $breikpoinCompTablet) {
			&:not(:last-child) {
				margin-bottom: 40px;
			}
		}

		// !Перехід 991.98-320px (40-10)
		margin-bottom: $marginSectionBottom;

		@media (max-width: $breikpoinTablet) {
			flex-direction: column;
			& > :nth-child(2) {
				order: 1;
			}

			& > *:nth-child(1) {
				order: 2;
			}
		}
	}
}

.presentation {
	// .block__content
	&__content {
		flex: 0 0 100%;
	}

	// .block__container
	&__container {
		@media (min-width: $breikpoinSuperTall) {
			max-width: toRem(4000);
		}

		max-width: toRem(2107);
		margin: 0 auto;
		padding: toRem(45) toRem(207) toRem(60) toRem(60);
		display: flex;
		min-height: 100%; //?Для застосування justify-content: space-between для .block__body

		//!Перехід 1840-320px (820 на 30)
		min-height: clamp(
			18.75rem,
			11.908rem + 34.21vw,
			51.25rem
		); //?Для застосування керування висотою між роширеннями 1599,98 - 320 px

		@media (min-width: $breikpoinCompTablet) and (max-width: $breikPointViewport) {
			width: 100%;
			padding: toRem(45) toRem(150) toRem(60) clamp(2.375rem, 0.767rem + 2.59vw, 3.75rem);
		}

		@media (max-width: $breikpoinTablet) {
			width: 100%;
			padding: toRem(45) toRem(150) toRem(60) toRem(60);
			//!Перехід 991.98-320px (45-80-60-60 на 15-20-20-20)
			padding: clamp(0.938rem, 0.045rem + 4.46vw, 2.813rem)
				clamp(1.25rem, -2.619rem + 19.35vw, 9.375rem) clamp(1.25rem, 0.059rem + 5.95vw, 3.75rem)
				clamp(1.25rem, 0.059rem + 5.95vw, 3.75rem);
		}
	}

	// .block__body
	&__body {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		row-gap: toRem(50);

		//?Розтягнення текстового у flex контейнеры для екранів менше $breikpoinLow
		@media (max-width: $breikpoinTablet) {
			width: 100%;
		}
	}

	// .block__logo
	&__logo {
		width: toRem(160);
		height: toRem(43);

		//!ПРИБРАТИ $breikpoinLow)
		width: clamp(6.75rem, 5.567rem + 5.92vw, 10rem);
		height: clamp(1.813rem, 1.494rem + 1.59vw, 2.688rem);
	}

	// .block__text-box
	&__text-box {
		display: flex;
		flex-direction: column;

		line-height: 1.1;
		letter-spacing: -1.58px;

		//!!Перехід 1840-320px (79-46)
		font-size: clamp(2.875rem, 0.462rem + 3.89vw, 4.938rem);

		//!Перехід 991.98-320px (46-35)
		@media (max-width: $breikpoinTablet) {
			font-size: clamp(2.188rem, 1.86rem + 1.64vw, 2.875rem);
		}
	}

	// .block__training-period
	&__training-period {
		color: $colorFontQuotes;
	}

	// .block__inner-img
	&__inner-img {
		position: relative;
		overflow: hidden;

		@media (min-width: $breikpoinCompTablet) {
			flex: 0 0 50%;
			transform: translate(-100%, 0);
			padding: 0 0 45.46% 0;
		}

		@media (max-width: $breikpoinTablet) {
			position: relative;
			flex: 0 0 100%;
			aspect-ratio: 540/400;
		}

		&::after {
			content: "";
			position: absolute;
			right: -160px;
			bottom: -160px;
			width: 0;
			height: 0;
			border-left: 220px solid transparent;
			border-right: 270px solid transparent;
			border-bottom: 530px solid $projectBackground;
			object-fit: cover;

			@media (min-width: $breikpoinCompTablet) {
				transform: rotate(24deg);
				//!Перехід 1840-992px
				border-right: clamp(6.188rem, -6.315rem + 20.17vw, 16.875rem) solid transparent;
			}

			@media (max-width: $breikpoinTablet) {
				right: -286px;
				top: -254px;
				transform: rotate(49deg);
				//!Перехід 991.98-320px
				border-bottom: clamp(18.688rem, 13.437rem + 26.25vw, 33.125rem) solid $projectBackground;
			}
		}
	}

	// .block__pic
	&__pic {
		max-width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

// TODO Секція #2
.block {
	// .block__main-info
	&__main-info {
		display: grid;
		@media (min-width: $breikpoinTall) {
			grid-template-columns: 1fr 1fr;
			&:not(:last-child) {
				margin-bottom: toRem(40);
			}
		}

		@media (max-width: $breikpoinAverage) {
			// !Перехід 991.98-320px (40-10)
			row-gap: clamp(0.625rem, -0.268rem + 4.46vw, 2.5rem);
			grid-template-columns: 1fr;
		}
	}
}
.main-info {
	&:not(:last-child) {
		// !Перехід 991.98-320px (40-10)
		margin-bottom: clamp(0.625rem, -0.268rem + 4.46vw, 2.5rem);
	}

	// .main-info__transformation
	&__transformation {
		@include blueRedParagraph;
		display: flex;
		&:nth-child(odd):last-child {
			grid-column: span 2;
		}

		//!Прибрати $breikpoinTall)
		&:last-child .main-info__column {
			max-width: clamp(40.75rem, -13.417rem + 54.17vw, 48.875rem);

			@media (max-width: $breikpoinAverage) {
				max-width: 100%;
			}
		}

		@media (max-width: $breikpoinTablet) {
			grid-column: span 2;
		}

		@media (min-width: $breikpoinTall) {
			&:not(:first-child):nth-child(even) {
				margin-left: toRem(40);
			}
		}

		& p:not(:last-child) {
			margin-bottom: toRem(12);
		}

		background: linear-gradient(
			248deg,
			#192230 17.44%,
			#192230 24.18%,
			#172539 35.3%,
			#123057 50.83%,
			#11315a 65.06%,
			#102b4c 80.13%,
			#111823 93.33%
		);

		// !Перехід 991.98-320px
		min-height: calc(toRem(280) - (280 + 260) * ((100vw - toEm(320)) / (1599.98 - 320)));
		padding: clamp(1.25rem, 0.789rem + 2.3vw, 3.438rem) clamp(1.25rem, 0.724rem + 2.63vw, 3.75rem)
			clamp(1.25rem, 0.724rem + 2.63vw, 3.75rem) clamp(1.25rem, 0.724rem + 2.63vw, 3.75rem);

		font-size: clamp(1.25rem, 1.094rem + 0.78vw, 1.875rem);
	}
}

// TODO Секція #3
.block {
	// .block__main-desk
	&__main-desk {
		display: grid;
		grid-template-columns: 1fr 1fr;
		row-gap: toRem(40);
		@media (min-width: $breikpoinTall) {
			&:not(:last-child) {
				margin-bottom: toRem(40);
			}
		}

		//!ПРИБРАТИ $breikpoinAverage)
		row-gap: clamp(0.625rem, 0.156rem + 2.34vw, 2.5rem);
		&:not(:last-child) {
			margin-bottom: clamp(0.625rem, 0.156rem + 2.34vw, 2.5rem);
		}
	}
}

.main-desk {
	// .main-desk__proftraining
	&__proftraining {
		padding: toRem(55) toRem(60);
		min-height: toRem(420);

		//!ПРИБРАТИ $breikpoinTall
		padding: clamp(0.938rem, 0.312rem + 3.13vw, 3.438rem) clamp(1.25rem, 0.34rem + 4.55vw, 3.75rem);
		min-height: calc(toRem(205) - (205 + 230) * ((100vw - toEm(320)) / (1599.98 - 320)));

		//!ПРИБРАТИ min-height: clamp(18.75rem, 17.812rem + 4.69vw, 22.5rem);

		@media (min-width: $breikpoinTall) {
			&:not(:first-child):nth-child(even) {
				margin-left: toRem(40);
			}
		}

		background: linear-gradient(
			259deg,
			#151b24 6.36%,
			#192230 20.13%,
			#331c28 41.15%,
			#4e151c 62.56%,
			#4d1319 81.7%,
			#451318 84.68%,
			#1c151b 97.11%
		);

		&:nth-child(odd):last-child {
			grid-column: span 2;
		}

		//!Прибрати $breikpoinTall)
		&:last-child .main-desk__column {
			max-width: clamp(40rem, -23.333rem + 63.33vw, 49.5rem);

			@media (max-width: $breikpoinAverage) {
				max-width: 100%;
			}
		}

		@media (max-width: $breikpoinAverage) {
			grid-column: span 2;
		}
	}

	// .main-desk__column
	&__column {
		display: flex;
		flex-direction: column;
		min-height: 100%;
	}

	// .main-desk__title
	&__title {
		@include blueRedTitle;

		&:not(:last-child) {
			margin-bottom: toRem(20);
		}

		@media (min-width: $breikpoinCompTablet) {
			font-size: clamp(3.5rem, -6.083rem + 9.58vw, 4.938rem);
		}

		@media (max-width: $breikpoinCompTablet) {
			font-size: clamp(2.25rem, 1.937rem + 1.56vw, 3.5rem);
		}
	}

	// .main-desk__paragraph
	&__paragraph {
		p:not(:last-child) {
			margin-bottom: toRem(15);
		}

		@include blueRedParagraph;
		font-size: clamp(1.25rem, 1.094rem + 0.78vw, 1.875rem);
	}
}

// TODO Секція #4

.block {
	// .block__career
	&__career {
		background: linear-gradient(
			252deg,
			#192230 0%,
			#192230 42.37%,
			#142d4d 51.56%,
			#10325a 64.27%,
			#0f2d51 91.68%,
			#111822 100%
		);

		display: flex;

		@media (min-width: $breikpoinCompTablet) {
			&:not(:last-child) {
				margin-bottom: 40px;
			}
		}

		@media (max-width: $breikpoinTablet) {
			flex-direction: column;
			margin-bottom: clamp(0.625rem, -0.268rem + 4.46vw, 2.5rem);
		}
	}
}

.career {
	// .career__inner-img
	&__inner-img {
		position: relative;
		overflow: hidden;

		@media (min-width: $breikpoinCompTablet) {
			flex: 0 0 50%;
			transform: translate(0, 0);
			padding: 0 0 50.5% 0;
		}

		@media (max-width: $breikpoinTablet) {
			aspect-ratio: 1/1;
		}
	}

	// .career__pic
	&__pic {
		max-width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: top;

		@media (max-width: $breikpoinTablet) {
			object-position: top;
		}
	}

	// .career__content
	&__content {
		flex: 0 0 100%;
	}

	// .career__container
	&__container {
		max-width: toRem(2027);
		margin: 0 auto;
		padding: toRem(50) toRem(120) toRem(40) toRem(40);
		display: flex;

		@media (max-width: $breikpoinTablet) {
			width: 100%;
			padding: toRem(50) toRem(60) toRem(60) toRem(40);
		}

		@media (max-width: $breikpoinCompTablet) {
			padding: clamp(0.938rem, -0.104rem + 5.21vw, 3.125rem) 0 clamp(0.625rem, 0.149rem + 2.38vw, 1.625rem) 0;
		}
	}

	// .career__body
	&__body {
		width: 50%;
		display: flex;
		flex-direction: column;
	
		@media (min-width: $breikpoinCompTablet){
			row-gap: toRem(70);
		}

		@media (max-width: $breikpoinTablet) {
			row-gap: clamp(1.563rem, 0.878rem + 3.42vw, 3rem);
		}

		//?Розтягнення текстового у flex контейнеры для екранів менше $breikpoinLow
		@media (max-width: $breikpoinTablet) {
			width: 100%;
		}
	}

	// .career__caption
	&__caption {
		@include blueRedTitle($colorTitle: $mainColorFont);

		@media (min-width: $breikpoinCompTablet) {
			font-size: clamp(3.5rem, -6.083rem + 9.58vw, 4.938rem);
		}

		@media (max-width: $breikpoinTablet) {
			font-size: clamp(2.25rem, 1.937rem + 1.56vw, 3.5rem);
		}

		@media (max-width: $breikpoinTablet) {
			padding: 0 clamp(1.25rem, 0.952rem + 1.49vw, 1.875rem);
		}
	}

	// .career__column-box-text
	&__column-box-text {
		display: flex;
		flex-direction: column;
		
		@media (min-width: $breikpoinCompTablet) {
			row-gap: clamp(1.625rem, 0.601rem + 1.65vw, 2.5rem);
		}

		@media (max-width: $breikpoinTablet) {
			row-gap: clamp(0.625rem, 0.149rem + 2.38vw, 1.625rem);
		}
	}

	// .career__desk
	&__desk {
		background: linear-gradient(257deg, #12161C 0%, #12161C 8.73%, #12161C 38.61%, #11263F 48.72%, #112F53 63.36%, #14355E 78.25%, #18253A 96.91%); 
		
			// padding: toEm(50) toEm(60);

		@media (min-width: $breikpoinCompTablet) {
			padding: clamp(0.938rem, -1.621rem + 4.13vw, 3.125rem) clamp(1.25rem, -1.675rem + 4.72vw, 3.75rem);
		}

		@media (max-width: $breikpoinTablet) {
			padding: clamp(0.938rem, 0.342rem + 2.98vw, 2.188rem) clamp(1.25rem, 0.357rem + 4.46vw, 3.125rem);
			min-height: calc(toRem(205) - (205 + 230) * ((100vw - toEm(320)) / (1599.98 - 320)));
		}

		
	}

	// .career__title
	&__title {
		@include blueRedTitle($colorTitle: $colorFontQuotes);
		&:not(:last-child){
			margin-bottom: toRem(20);
		}

		@media (min-width: $breikpoinCompTablet) {
			font-size: clamp(3.5rem, -6.083rem + 9.58vw, 4.938rem);
		}

		@media (max-width: $breikpoinTablet) {
			font-size: clamp(2.25rem, 1.937rem + 1.56vw, 3.5rem);
		}
	}

	// .career__paragraph
	&__paragraph {
		@include blueRedParagraph($colorParagraph: $mainColorFont);

		@media (min-width: $breikpoinCompTablet) {
			font-size: clamp(1.563rem, 1.197rem + 0.59vw, 1.875rem);
		}

		@media (max-width: $breikpoinTablet) {
			font-size: clamp(1.25rem, 1.101rem + 0.74vw, 1.563rem);
		}
	}
}
// !Секція #4

// TODO Секція #5
.block {
	// .block__who
	&__process {
		background: linear-gradient(
			258deg,
			#1a2230 0.94%,
			#2e1e2a 17.24%,
			#471821 32.92%,
			#4f151c 51.17%,
			#451319 64%,
			#2e1419 81.12%,
			#16161c 99.07%
		);

		&:not(:last-child) {
			margin-bottom: toRem(40);
		}

		padding: toRem(50) toRem(40) toRem(40) toRem(40);

		@media (min-width: $breikpoinAverage) {
			padding: toRem(50) toRem(40) toRem(40) toRem(40);
		}

		padding: clamp(0.938rem, 0.391rem + 2.73vw, 3.125rem) 0 clamp(0.625rem, 0.156rem + 2.34vw, 2.5rem) 0;
	}
}

.process {
	//.process__caption
	&__caption {
		@include сhangeСaption;
		@include blueRedTitle($colorTitle: $mainColorFont);
		&:not(:last-child) {
			margin-bottom: toRem(70);
			margin-bottom: clamp(1.563rem, 0.859rem + 3.52vw, 4.375rem);
		}

		@media (min-width: $breikpoinTall) {
			padding: 0;
		}
		//!ПРИБРАТИ $breikpoinAverage)
		padding: 0 clamp(1.25rem, 0.938rem + 1.56vw, 2.5rem) 0 clamp(1.25rem, 0.938rem + 1.56vw, 2.5rem);
		
		@media (min-width: $breikpoinCompTablet) {
			font-size: clamp(3.5rem, -6.083rem + 9.58vw, 4.938rem);
		}

		@media (max-width: $breikpoinTablet) {
			font-size: clamp(2.25rem, 1.937rem + 1.56vw, 3.5rem);
		}
	}

	//.process__grid-box
	&__grid-box {
		display: grid;
		row-gap: 40px;
		@media (min-width: $breikpoinTall) {
			grid-template-columns: 1fr 1fr;
			&:not(:last-child) {
				margin-bottom: toRem(40);
			}
		}
		row-gap: clamp(0.625rem, 0.156rem + 2.34vw, 2.5rem);
	}

	// .process__desk
	&__desk {
		padding: clamp(0.938rem, 0.312rem + 3.13vw, 3.438rem) clamp(1.25rem, 0.34rem + 4.55vw, 3.75rem);
		@media (min-width: $breikpoinTall) {
			&:not(:first-child):nth-child(even) {
				margin-left: toRem(40);
			}
		}

		&:nth-child(odd):last-child {
			grid-column: span 2;
		}

		@media (max-width: $breikpoinAverage) {
			grid-column: span 2;
		}

		min-height: calc(12.8125rem - 435 * (100vw - 20em) / 1279.98);

		background: linear-gradient(
			258deg,
			#12161c 0%,
			#1b161c 33.91%,
			#570f13 54.72%,
			#6d161d 76.88%,
			#54141b 98.5%
		);

		&:nth-child(3) {
			//!Прибрати $breikpoinTall)
			&:nth-child(3) .process__column-flex {
				max-width: clamp(40rem, -23.333rem + 63.33vw, 49.5rem);

				@media (max-width: $breikpoinAverage) {
					max-width: 100%;
				}
			}
		}

		& p:not(:last-child) {
			margin-bottom: toRem(15);
		}
	}

	//.process__title
	&__title {
		@media (min-width: $breikpoinCompTablet) {
			font-size: clamp(3.5rem, -6.083rem + 9.58vw, 4.938rem);
		}

		@media (max-width: $breikpoinTablet) {
			font-size: clamp(2.25rem, 1.937rem + 1.56vw, 3.5rem);
		};

		@include blueRedTitle;
		margin-bottom: toRem(20);
	}

	// .process__paragraph
	&__paragraph {
		@include blueRedParagraph;
		font-size: clamp(1.25rem, 1.094rem + 0.78vw, 1.875rem);
	}
}

// TODO Секція #6

.block {
	// .block__benefits
	&__benefits {
		background: linear-gradient(
			251deg,
			#192230 0.51%,
			#192230 44.56%,
			#132f53 67.15%,
			#102e54 84.83%,
			#111a26 102.78%
		);

		display: flex;

		@media (min-width: $breikpoinCompTablet) {
			&:not(:last-child) {
				margin-bottom: 40px;
			}
		}

		//!ПРибрати $breikpoinAverage
		margin-bottom: clamp(1.25rem, 0.937rem + 1.56vw, 2.5rem);

		@media (max-width: $breikpoinTablet) {
			flex-direction: column;
			& > :nth-child(2) {
				order: 1;
			}

			& > *:nth-child(1) {
				order: 2;
			}
		}
	}
}

.benefits {
	// .benefits__content
	&__content {
		flex: 0 0 100%;
	}

	// .benefits__container
	&__container {
		@media (min-width: $breikpoinSuperTall) {
			max-width: toRem(4000);
		}

		max-width: toRem(2027);
		margin: 0 auto;
		padding: toRem(45) toRem(127) toRem(60) toRem(60);
		display: flex;

		@media (max-width: $breikpoinTablet) {
			width: 100%;
			padding: toRem(45) toRem(60) toRem(60) toRem(60);

			//!ПРИБРАТИ $breikpoinLow)
			padding: clamp(0.938rem, 0.255rem + 3.41vw, 2.813rem) clamp(1.25rem, 0.34rem + 4.55vw, 3.75rem)
				clamp(1.25rem, 0.681rem + 2.84vw, 2.813rem) clamp(1.25rem, 0.34rem + 4.55vw, 3.75rem);
		}
	}

	// .benefits__body
	&__body {
		width: 52.5%;
		display: flex;
		flex-direction: column;
		row-gap: toRem(70);

		//?Розтягнення текстового у flex контейнеры для екранів менше $breikpoinLow
		@media (max-width: $breikpoinTablet) {
			width: 100%;
		}
	}

	// .benefits__text-box
	&__text-box {
	}

	// .benefits__inner-articles
	&__inner-articles {
	}

	// .benefits__desk
	&__desk {
	}

	// .benefits__column-flex
	&__column-flex {
	}

	// .benefits__title
	&__title {
	}

	// .benefits__paragraph
	&__paragraph {
	}

	// .benefits__inner-img
	&__inner-img {
		position: relative;
		overflow: hidden;

		@media (min-width: $breikpoinCompTablet) {
			flex: 0 0 47.5%;
			transform: translate(-100%, 0);
			padding: 0 0 90.15% 0;
		}

		@media (max-width: $breikpoinTablet) {
			aspect-ratio: 1/1;
		}
	}

	// .benefits__pic
	&__pic {
		max-width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;

		@media (max-width: $breikpoinLow) {
			object-position: top;
		}
	}
}

// TODO Секція #7
.process {
	// .process__link
	&__link {
		color: $colorFontTitle;
		position: relative;
		transition: all 0.45s ease-in-out;

		&::before {
			content: "";
			position: absolute;
			left: 50%;
			top: 100%;
			transform: translateX(-50%);
			width: 0%;
			height: toEm(1);
			background-color: $colorFontTitle;
			transition: all 0.45s ease-in-out;
		}

		@media (any-hover: hover) {
			&:hover {
				cursor: pointer;
			}
			&:hover::before {
				width: 100%;
				background-color: $colorFontTitle;
			}
		}
	}
}

//TODO Секція #8

.block {
	// .block__contact
	&__contact {
		background: linear-gradient(251deg, #12161c -11.07%, #12161d 37.65%, #113056 70.69%, #132f51 89.15%);

		display: flex;

		@media (min-width: $breikpoinCompTablet) {
			&:not(:last-child) {
				margin-bottom: 40px;
			}
		}

		@media (max-width: $breikpoinTablet) {
			flex-direction: column;
		}
	}
}

.contact {
	// .contact__inner-img
	&__inner-img {
		position: relative;
		overflow: hidden;

		@media (min-width: $breikpoinCompTablet) {
			flex: 0 0 50%;
			transform: translate(0, 0);
			padding: 0 0 62.5% 0;
		}

		@media (max-width: $breikpoinTablet) {
			aspect-ratio: 1/1;
		}
	}

	// .contact__pic
	&__pic {
		max-width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;

		@media (max-width: $breikpoinTablet) {
			object-position: top;
		}
	}

	// .contact__content
	&__content {
		flex: 0 0 100%;
	}

	// .contact__container
	&__container {
		max-width: toRem(2027);
		margin: 0 auto;
		padding: toRem(50) toRem(160) toRem(40) toRem(80);
		display: flex;

		@media (max-width: $breikpoinTablet) {
			width: 100%;
			padding: toRem(50) toRem(60) toRem(60) toRem(60);

			//!ПРИБРАТИ $breikpoinLow)
			padding: clamp(0.938rem, 0.255rem + 3.41vw, 2.813rem) clamp(1.25rem, 0.34rem + 4.55vw, 3.75rem)
				clamp(1.25rem, 0.681rem + 2.84vw, 2.813rem) clamp(1.25rem, 0.34rem + 4.55vw, 3.75rem);
		}
	}

	// .contact__body
	&__body {
		width: 50%;
		display: flex;
		flex-direction: column;
		row-gap: toRem(70);

		//?Розтягнення текстового у flex контейнеры для екранів менше $breikpoinLow
		@media (max-width: $breikpoinTablet) {
			width: 100%;
		}
	}

	// .contact__text-box
	&__text-box {
	}

	// .contact__desk
	&__desk {
	}

	// .contact__column-flex
	&__column-flex {
	}

	// .contact__title
	&__title {
	}

	// .contact__paragraph
	&__paragraph {
	}

	// .contact__link-address
	&__link-address {
	}

	// .contact__link-tel
	&__link-tel {
	}

	// .contact__link-mail
	&__link-mail {
	}
}
