@import url("fonts.css");
@import url("reset.css");

.content,
.content_two {
	font: 600 20px "Poppins", sans-serif;
}

.content {
	padding: 10px;
	background-color: aqua;
}

.content {
	display: none;
}

#box:target .section_test .content {
	display: block;
}
