/* local fonts */
@import url("fonts.css");

/* reset styles */
@import url("reset.css");

body {
	font-family: "Inter", sans-serif;
	font-size: 20px;
	padding-left: 30px;
}
.page {
	margin-bottom: 15px;
}
.title {
	margin-bottom: 25px;
}
.title-one:hover {
	color: blue;
	text-decoration: underline;
}
.subject {
	color: red;
	margin-bottom: 20px;
}
.example {
	margin-bottom: 25px;
	text-decoration: underline;
}
.container {
	width: 1220px;
	height: 464px;
}
.preamble {
	text-align: center;
}
.preamble-text {
	color: #37393f;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
.preamble-text::before {
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	background-color: #40ddb6;
	vertical-align: 2px;
	margin-right: 6px;
}
.title {
	color: #37393f;
	text-align: center;
	font-family: Poppins;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 77px;
}
.november {
	width: 1220px;
	height: 337px;
}
.rectangle1 {
	max-width: 386px;
	min-height: 301px;
	border: 1px solid black;
	display: inline-block;
	text-align: center;
	margin-right: 25px;
}

.icon::before {
	content: "";
	width: 72px;
	height: 72px;
	display: inline-block;
	background: url("../img/label_calendar.svg") center/cover no-repeat;
}

.icon {
	width: 72px;
	height: 72px;
	margin: -36px auto 22px;
	overflow: hidden;
}

.rectangle2 {
	max-width: 386px;
	min-height: 301px;
	border: 1px solid black;
	display: inline-block;
	text-align: center;
	margin-right: 25px;
}
.rectangle3 {
	max-width: 386px;
	min-height: 301px;
	border: 1px solid black;
	display: inline-block;
	text-align: center;
}

.content_one {
	padding: 58px 43px;
}

.rectangel-title {
	color: #37393f;
	text-align: center;
	font-family: Poppins;
	font-size: 25px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.2;
	margin-bottom: 16px;
}
.rectangel-text {
	color: #7d7d7d;
	text-align: center;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.4;
	margin-bottom: 37px;
}
.rectangel-link {
	color: #6b77e5;

	text-align: center;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: capitalize;
}
