//====================================================================================================

body {
	background-color: $colorBackgroundSection;
}

.page--speaking {
}

//====================================================================================================

// TODO БЛОК MAGAZINES

//!BEM Block
.magazines {
	
  // .magazines__container
	&__container {
    padding-bottom: clamp(2.188rem, 1.841rem + 1.73vw, 3.813rem);

    display: flex;
		flex-wrap: wrap;
		gap: toEm(15);
    
		align-items: center;
	
		@media (min-width: toEm(1091)){
		justify-content: space-between;
	}
		
		@media (max-width: toEm(1090.98)){
			flex-direction: column;
			justify-content: center;
		}
	}
}

//!BEM Block
.container {

	// .container__magazine-paragraph
	&__magazine-paragraph {
		color: $fontTitleSubTitleHeaderMenu;
		font-size: toRem(18);
		line-height: 1.5; 

		@media (min-width: toEm(1091)){
			flex: 0 0 toEm(243);
		}

		@media (max-width: toEm(1090.98)){
			text-align: center;
		}
	}



	// .container__logo
	&__logo {
		display: flex;
		column-gap: toEm(32);
		row-gap: toEm(14);
		flex-wrap: wrap;
		justify-content: center;

	}
}

//!BEM Block
.logo {
	// .logo__item
	&__item {
	}

	// .logo__trump
	&__trump {
	}
}


// TODO БЛОК WORKS
//!BEM Modifer
.works--speaking {
  padding: clamp(2.188rem, 1.841rem + 1.73vw, 3.813rem) 0 clamp(2.188rem, 1.801rem + 1.93vw, 4rem) 0; //*61-35 and 64-35
}

//!BEM Block
.works {

  // .works__container
  &__container {
  }
}

//!BEM Block
.container {

  // .container__title-main
  &__title-main {
  }

  // .container__paragraph
  &__paragraph {
    max-width: toEm(754);
    margin: 0 auto toEm(61);
  }

  &__paragraph--howworks{
    max-width: toEm(754);
    margin: 0 auto;
    @include setupParagraphContainer ($fontMainProject, center);

    &:not(:last-child){
    margin-bottom: clamp(1.25rem, 0.703rem + 2.73vw, 3.813rem); //*61-20
    }
  }

  // .container__work-card
  &__work-card {
    display: grid;
    gap: clamp(0.75rem, 0.483rem + 1.33vw, 2rem);

    align-items: center;
    justify-content: center;
    text-align: center;

    @media (min-width: toEm(850)){
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: toEm(578)) and (max-width: toEm(849.98)){
      grid-template-columns: repeat(2, 1fr);
    }

      grid-template-columns: repeat(1, 1fr);

    &:not(:last-child){
      margin-bottom: clamp(1.25rem, 6.25vw, 5rem); //*80-20
    }
  }
}

//!BEM Block
.work-card {

  // .work-card__column
  &__column {
    display: flex;
    height: 100%;

    border-radius: toRem(16);
    border: toRem(1) solid $colorFonSubTitleBorder;
    background: $colorBackgroundSection;
    box-shadow: 0 toRem(2) toRem(4) 0 $boxShadowInputForm;

		@media (min-width: toEm(578)) and (max-width: toEm(849.98)) {
			&:nth-last-child(-n + 1):not(:nth-child(even)) {
				grid-column: span 2;
			}
		}

		@media (max-width: toEm(577.98)) {
			&:nth-last-child(-n + 1):not(:nth-child(even)) {
				grid-column: span 1;
			}
		}
  }
  
  // .work-card__body
  &__body{
    display: flex;
    flex-direction: column;

    padding: clamp(0.75rem, 0.257rem + 2.47vw, 3.063rem) clamp(0.75rem, 0.47rem + 1.4vw, 2.063rem); //*49-12 and 33-12
   
  }

  // .work-card__tally
  &__tally {
    font-family: $familySubIcons;
    font-size: toRem(32);
    color: $colorButtonLink;

    border-radius: toRem(8);
    background: $colorBackgroundButtonLink;
    padding: toRem(8);
    align-self: center;

    &:not(:last-child){
    margin-bottom: toEm(24, 32);
    }
  }

  // .work-card__caption
  &__caption {
    flex-grow: 1;

    color: $fontTitleSubTitleHeaderMenu;
    font-size: toRem(24);
    font-weight: 700;
    line-height: 1.4;

    &:not(:last-child){
      margin-bottom: toEm(17, 24);
      }
  }

  // .work-card__paragraph
  &__paragraph {

    color: $fontMainProject;
    line-height: 1.5;

    &:not(:last-child){
      margin-bottom: toEm(16, 24);
      }

    & p:not(:last-child){
      margin-bottom: toEm(10, 24);
      }
  }
}

// TODO БЛОК FAVORITE

//!BEM Modifer 
.favorite--setup{

  margin: 35px 0 0 0;
  
}

.favorite {
  background-color: $colorSubFon;
  position: relative;

  // .favorite__container
  &__container {
    padding-top: clamp(4.063rem, 3.129rem + 4.67vw, 8.438rem);//*135-65

    padding-bottom: clamp(4.063rem, 3.129rem + 4.67vw, 8.438rem);//*135-65
  }

   // .favorite__decore
   &__decore {
    fill: red;

   }

  // .favorite__decore--up
  &__decore--up {
    width: clamp(4.063rem, 3.129rem + 4.67vw, 8.438rem); //*135-65
    height: clamp(4.063rem, 3.129rem + 4.67vw, 8.438rem); //*135-65
    position: absolute;
    right: 0;
    transform: rotate(90deg);

    @media (min-width: toEm(930)){
      top: toEm(-5);
    }

    @media (max-width: toEm(929.98)){
      top: toEm(-3);
    }

    @media (max-width: toEm(560)){
      top: toEm(-2);
    }
  }

  // .favorite__decore--down
  &__decore--down {
    width: clamp(4.063rem, 3.129rem + 4.67vw, 8.438rem); //*135-65
    height: clamp(4.063rem, 3.129rem + 4.67vw, 8.438rem); //*135-65
    position: absolute;
    left: 0;
    transform: rotate(-90deg);

    @media (min-width: toEm(930)){
      bottom: toEm(-5);
    }

    @media (max-width: toEm(929.98)){
      bottom: toEm(-3);
    }

    @media (max-width: toEm(560)){
      bottom: toEm(-2);
    }
  }
}

//!BEM Block
.container {

   // .container__title-main--setup
  &__title-houses {
    @include setupTitleContainer;
		text-align: center;

    &:not(:last-child){
      margin-bottom: clamp(1.375rem, 0.602rem + 3.87vw, 5rem);//*80-22
    }
  }

  // .container__sticker
  &__sticker {
  }

  //container__sticker--setup
  &__inner-stick{
    text-align: center;

    &:not(:last-child){
    margin-bottom: clamp(1.313rem, 1.259rem + 0.27vw, 1.563rem); //*25-20
}
  }

  //container__sticker--setup
  &__sticker--setup{

  }

  // .container__title-main
  &__title-main {
  }

  // .container__house
  &__house {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: toRem(32);
    row-gap: clamp(1.125rem, 0.792rem + 1.67vw, 2.125rem);//*32-18

    @media (min-width: toEm(1045)) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media (min-width: toEm(801)) and (max-width: toEm(1045)) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (max-width: toEm(800.98)) {
			grid-template-columns: repeat(1, 1fr);
		}

    &:not(:last-child){
      margin-bottom: clamp(1.25rem, 6.25vw, 5rem); //*80-20
    }
  }

  // .container__nav-block
  &__nav-block {
  }

  // .container__properties-title
  &__properties-title {
  }

  // .container__explore-properties-link
  &__explore-properties-link {
  }

  // .container__contact-agent
  &__contact-agent {
  }
}

//!BEM Block
.house-minion {

  // .house-minion__column
  &__column {
    display: flex;
		flex-direction: column;
		height: 100%;
		background-color: $fontSubMainButtonLink;
		border-radius: toRem(16);
		border: 0 toRem(1) solid $colorFonSubTitleBorder 0 toRem(1) solid $colorFonSubTitleBorder;
		box-shadow: 0 toRem(2) toRem(4) 0 $boxShadowInputForm;
  }

  // .house-minion__poster
  &__poster {
    overflow: hidden;
    display: block;
    aspect-ratio: 405/268;

    @media (any-hover: hover) {
      cursor: zoom-in;
    &:hover .house-minion__trump{
        transform: scale(1.03);
      }
    }  
  }

  // .house-minion__trump
  &__trump {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: all .45s ease-in;
  }

  // .house-minion__spec
  &__spec {
    flex-grow: 1;
    display: flex;
    padding: clamp(0.75rem, 0.5rem + 1.25vw, 1.5rem);
  }

  // .house-minion__body
  &__body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  // .house-minion__link
  &__link {
    @include setupTitleCard;
    
    flex-grow: 1;
    transition: color 0.3s ease-in;

		@media (any-hover: hover) {
			cursor: pointer;
			&:hover {
				color: $colorButtonLink;
			}
		}

		&:not(:last-child) {
			margin-bottom: toEm(3, 24);
		}
  }

  // .house-minion__caption
  &__caption {
    
  }

  // .house-minion__price
  &__price {
    color: $fontTitleSubTitleHeaderMenu;
    font-size: clamp(1rem, 0.973rem + 0.13vw, 1.125rem); //*18-16
    font-weight: 700;
    line-height: 0.944444;

    &:not(:last-child) {
			margin-bottom: toEm(16, 18);
		}
  }

  // .house-minion__address
  &__address {
  }

  // .house-minion__location
  &__location {
    color: $fontMainProject;
    font-family: Roboto;
    line-height: 1.5;

    display: flex;
    align-items: center;
    column-gap: toEm(10);

    @media (any-hover: hover) {
			cursor: pointer;
			&:hover {
				color: $colorButtonLink;
			}
    }
  }

  // .house-minion__icon-siting
  &__icon-siting {
    font-family: $familySubIcons;

    align-self: flex-start;
  }

  // .house-minion__listings-item
  &__listings-item {
    color: $fontMainProject;
    font-family: Roboto;
    line-height: 1.5;

    display: flex;
    align-items: center;
    column-gap: toEm(24);
  }

  // .house-minion__property
  &__property {
    display: flex;
    align-items: center;
    column-gap: toEm(10);
  }

  // .house-minion__property--bathtub
  &__property--bathtub {
  }

  // .house-minion__value
  &__value {
    font-family: $familySubIcons;

    align-self: flex-start;
  }

  // .house-minion__property--bed
  &__property--bed {
  }
}


// TODO БЛОК LOCATIONS

//!BEM Block
.locations {
	
  // .locations__container
	&__container {
	}
}

//!BEM Block
.locations--speaking {
	background-color: $colorSubFon;
	padding: 0 0 clamp(2.188rem, 1.583rem + 3.02vw, 4rem) 0; //*Переход 80-35 and 64-35
  // clamp(2.188rem, 1.25rem + 4.69vw, 5rem)

  @media (max-width: toEm(577.98)){
    padding-top: toRem(70);
  }
}

//!BEM Block
.container {
	
  // .container__title-main
	&__title-main {
	}

	// .container__paragraph
	&__paragraph {
	}

	// .container__location
	&__location {
    display: grid;
   
    gap: clamp(0.75rem, 0.697rem + 0.27vw, 1rem);//*16-12

    @media (min-width: toEm(850)){
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: toEm(578)) and (max-width: toEm(849.98)){
      grid-template-columns: repeat(2, 1fr);
    }

      grid-template-columns: repeat(1, 1fr);

    &:not(:last-child){
      margin-bottom: clamp(1.25rem, 6.25vw, 5rem); //*80-20
    }
	}

	// .container__nav-block
	&__nav-block {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: toRem(24);
    row-gap: toRem(12);

    @media (max-width: toEm(449.98)){
      flex-direction: column;
    }
	}

	// .container__properties-title
	&__properties-title {
    color: $fontTitleSubTitleHeaderMenu;
    text-align: center;
    line-height: 1.5;

    border-radius: toRem(6);
    border: toRem(1) solid $colorFonSubTitleBorder;
    background: $colorBackgroundSection;
    box-shadow: 0 toRem(2) toRem(4) 0 $boxShadowInputForm;

    padding: toRem(13) toRem(25);

    @media (max-width: toEm(449.98)){
      width: 100%;
      background-color: $colorButtonLink;
      @include linkButtonHover;
    }

    transition: all .4s ease-in-out;

    @media (any-hover: hover) {
    cursor: pointer;
    &:hover {
          background-color: $colorBackgroundSubHeader;
          color: $fontSubMainButtonLink;
      }
    }
	}

	// .container__explore-properties-link
	&__explore-properties-link {
    
	}

	// .container__contact-agent
	&__contact-agent {
    display: flex;
    align-items: center;
    column-gap: toRem(4);

    &::after {
			content: "chevron_right";
			font-family: $familySubIcons;
			font-size: toRem(16);
		}

    transition: all .4s ease-in-out;

    @media (any-hover: hover) {
    cursor: pointer;
    &:hover {
          color: $colorButtonLink;
      }
    }
	}
}

//!BEM Block
.location {

	// .location__column
	&__column {
    border-radius: toRem(16);
    border: toRem(1) solid $colorFonSubTitleBorder;
    background: $colorBackgroundSection;
    box-shadow: 0 toRem(2) toRem(4) 0 $boxShadowInputForm;
	}

	// .location__body
	&__body {
    padding: clamp(0.75rem, 0.313rem + 2.19vw, 2.063rem); //*33-12

    display: flex;
    flex-direction: column;
    row-gap: toRem(12);
	}

	// .location__link
	&__link {
    color: $fontTitleSubTitleHeaderMenu;
    font-size: toRem(20);
    font-weight: 700;
    line-height: 1.4;
	}

	// .location__sity
	&__sity {
    transition: all .3s ease-in-out;

    @media (any-hover: hover) {
      cursor: pointer;
      &:hover {
            color: $colorButtonLink;
        }
      }
	}

	// .location__properties-link
	&__properties-link {
    color: $fontTitleSubTitleHeaderMenu;
    line-height: 1.5;

    display: flex;
    align-items: center;
    column-gap: toRem(4);

    &::after {
			content: "chevron_right";
			font-family: $familySubIcons;
			font-size: toRem(18);
		}

    transition: all .3s ease-in-out;

    @media (any-hover: hover) {
      cursor: pointer;
      &:hover {
            color: $colorButtonLink;
        }
      }
	}
}

// TODO БЛОК FAMILIES

// .families--speaking
.families--speaking {
	background: linear-gradient(
		to bottom,
		rgba(245, 245, 242, 1) 0%,
		rgba(245, 245, 242, 1) 50%,
		rgba(255, 255, 255, 1) 50%,
		rgba(255, 255, 255, 1) 100%
	);

	padding: clamp(2.188rem, 1.583rem + 3.02vw, 4rem) 0 clamp(2.188rem, 1.25rem + 4.69vw, 5rem) 0; //*Переход 64-35 and 160-70
}

.families {
	// .families__container
	&__container {
	}
}

.container {
	// .container__body
	&__body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: $fontMainProject;
		color: $fontSubMainButtonLink;
		border-radius: toEm(24);
		padding: clamp(1.875rem, 0.5rem + 6.88vw, 6rem) clamp(0.625rem, 0.417rem + 1.04vw, 1.25rem); //*Переход 96-30 , 20-10
	}

	// .container__label
	&__label {
		font-family: $familySubIcons;
		color: $fontMainProject;
		font-size: clamp(1.5rem, 1.333rem + 0.83vw, 2rem); //*Переход 32-24
		line-height: 1.5;
		border-radius: toEm(8, 32);
		background-color: $fontSubMainButtonLink;
		padding: toEm(8, 32) toEm(16, 32);
		align-self: center;

		&:not(:last-child) {
			margin-bottom: toEm(13, 32);
		}
	}

	// .container__title-family-main
	&__title-family-main {
		@include setupTitleContainer($fontSubMainButtonLink);
		text-align: center;

		&:not(:last-child) {
			margin-bottom: toEm(29, 48);
		}
	}

	// .container__paragraph-family
	&__paragraph-family {
		@include setupParagraphContainer($fontSubMainButtonLink, center);
		max-width: toRem(810);

		&:not(:last-child) {
			margin-bottom: toEm(21, 18);
		}

		& > p:not(:last-child) {
			margin-bottom: toEm(8, 18);
		}
	}

	// .container__link
	&__link {
		@include linkButtonHover;

		&:not(:last-child) {
			margin-bottom: toEm(10);
		}
	}
}

//TODO БЛОК CUSTOMERS
// !BEM block
.customers {
	// .customers__container
	&__container {
	}
}

// !BEM modifer
.customers--speaking {
	background-color: $colorBackgroundSection;

	padding: clamp(2.188rem, 1.25rem + 4.69vw, 5rem) 0 clamp(2.188rem, -0.417rem + 13.02vw, 10rem) 0; //*80-35 and 160-35
}

// !BEM block
.container {
	// .container__title-main
	&__title-main {
		@include setupTitleContainer;
		text-align: center;
		&:not(:last-child) {
			margin-bottom: clamp(1.375rem, 1.292rem + 0.42vw, 1.625rem); //*26-22
		}
	}

	// .container__paragraph
	&__paragraph {
		@include setupParagraphContainer($fontMainProject, center);

		&:not(:last-child) {
			margin-bottom: clamp(1.25rem, 6.25vw, 5rem); //*80-20
		}
	}

	// .container__card-block
	&__card-block {
		display: grid;

		@media (min-width: toEm(1000)) {
			grid-template-columns: repeat(3, 1fr);
			column-gap: toEm(32);
		}

		@media (max-width: toEm(999.98)) {
			grid-template-columns: repeat(1, 1fr);
			row-gap: clamp(0.75rem, 0.162rem + 2.94vw, 2rem); //*16-12
			font-size: clamp(1rem, 0.941rem + 0.29vw, 1.125rem); //*18-16
		}
	}
}

// !BEM block
.card-block {
	// .card-block__column
	&__column {
		border-radius: toRem(16);
		border: toRem(1) solid $colorFonSubTitleBorder;
		background: $colorBackgroundSection;
		box-shadow: 0 toRem(2) toRem(4) 0 $boxShadowInputForm;

		display: flex;
		flex-direction: column;
		height: 100%;
	}

	// .card-block__body
	&__body {
		padding: clamp(0.75rem, 0.313rem + 2.19vw, 2.063rem); //*33-12

		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}

	// .card-block__paragraph
	&__paragraph {
		color: $fontTitleSubTitleHeaderMenu;
		font-size: 18px;
		line-height: 1.5;

		flex-grow: 1;

		&:not(:last-child) {
			margin-bottom: toEm(29);
		}
		& p:not(:last-child) {
			margin-bottom: toEm(10);
		}
	}

	// .card-block__customer
	&__customer {
		display: flex;
		column-gap: toRem(16);
		align-items: center;
	}

	// .card-block__img-inner
	&__img-inner {
		display: block;
		overflow: hidden;
		width: 48px;
		height: 48px;
	}

	// .card-block__pic
	&__pic {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	// .card-block__desk
	&__desk {
	}

	// .card-block__name
	&__name {
		color: $fontTitleSubTitleHeaderMenu;
		font-weight: 700;
		line-height: 1.5;
		&:not(:last-child) {
			margin-bottom: toEm(4);
		}
	}

	// .card-block__signature
	&__signature {
		color: $fontMainProject;
		line-height: 1.5;
	}
}

// !BEM block
.rating {
}

.rating--setup {
	&:not(:last-child) {
		margin-bottom: toEm(27);
	}
}

// !BEM block
.rating--setup {
}

// TODO БЛОК LATEST POSTS
// !BEM block

.latest-post--speaking {
	background-color: $colorSubFon;
	padding: clamp(2.188rem, 0.229rem + 9.79vw, 8.063rem) 0 clamp(2.188rem, 0.229rem + 9.79vw, 8.063rem) 0; //*129-35 and 129-35

	&:not(:last-child) {
		margin-bottom: toEm(129);
	}
}

// !BEM block
.latest-post {
	// .latest-post__container
	&__container {
	}
}

// !BEM block
.container {
	// .container__sticker
	&__sticker {
		color: $fontTitleSubTitleHeaderMenu;
		font-size: toRem(14);
		line-height: 1.5;

		border-radius: toRem(32);
		background: $colorFonSubTitleBorder;
		padding: toRem(4) toRem(12);
		display: inline-block;

		&:not(:last-child) {
			margin-bottom: clamp(1.313rem, 1.259rem + 0.27vw, 1.563rem); //*25-20
		}
	}

	// .container__title-latest
	&__title-latest {
		@include setupTitleContainer($fontTitleSubTitleHeaderMenu);

		@media (max-width: toEm(600)) {
			text-align: center;
		}

		&:not(:last-child) {
			margin-bottom: clamp(1.375rem, 1.229rem + 0.73vw, 1.813rem); //*29-22
		}
	}

	// .container__joint-box
	&__joint-box {
		&:not(:last-child) {
			margin-bottom: clamp(1.25rem, 0.042rem + 6.04vw, 4.875rem); //*78-20
		}

		display: flex;
		column-gap: toEm(20);
		row-gap: toEm(12);
		justify-content: space-between;
		align-items: flex-start;

		@media (max-width: toEm(600)) {
			flex-direction: column;
			// justify-content: flex-start;
		}
	}

	// .container__paragraph
	&__paragraph-latest {
		@include setupParagraphContainer($fontMainProject, left);

		@media (min-width: toEm(601)) {
			flex: 0 1 toEm(660);
		}

		& p:not(:last-child) {
			margin-bottom: toEm(8, 18);
		}

		&:not(:last-child) {
			margin-bottom: toEm(10, 18);
		}
	}

	// .container__viewall-link
	&__viewall-link {
		flex-shrink: 0;
		color: $fontTitleSubTitleHeaderMenu;
		text-align: center;
		line-height: 1.5;
		align-self: center;

		@media (max-width: toEm(600)) {
			width: 100%;
		}

		border-radius: 6px;
		border: toRem(1) solid $colorFonSubTitleBorder;
		background: $fontSubMainButtonLink;
		box-shadow: 0 toRem(2) toRem(4) 0 $boxShadowInputForm;
		padding: toEm(13) toEm(25);

		transition: all 0.5s ease-in-out;

		@media (any-hover: hover) {
			cursor: pointer;
			&:hover {
				background-color: $colorLabel;
				color: $fontSubMainButtonLink;
			}
		}
	}

	// .container__flat-card
	&__flat-card {
		display: grid;
		column-gap: toEm(34);
		row-gap: clamp(1.125rem, 0.792rem + 1.67vw, 2.125rem);//*32-18

		@media (min-width: toEm(1045)) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media (min-width: toEm(801)) and (max-width: toEm(1045)) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (max-width: toEm(800.98)) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}

// !BEM block
.flat-card {
	// .flat-card__box
	&__box {
		display: flex;
		flex-direction: column;
		height: 100%;
		background-color: $fontSubMainButtonLink;
		border-radius: toRem(12);
		border: 0 toRem(1) solid $colorFonSubTitleBorder 0 toRem(1) solid $colorFonSubTitleBorder;
		box-shadow: 0 toRem(2) toRem(4) 0 $boxShadowInputForm;

		@media (min-width: toEm(801)) and (max-width: toEm(1045)) {
			&:nth-last-child(-n + 1):not(:nth-child(even)) {
				grid-column: span 2;
			}
		}

		@media (max-width: toEm(800)) {
			&:nth-last-child(-n + 1):not(:nth-child(even)) {
				grid-column: span 1;
			}
		}
	}

	// .flat-card__poster
	&__poster {
		overflow: hidden;
		display: block;
		aspect-ratio: 403/266;

    @media (any-hover: hover) {
      cursor: zoom-in;
    &:hover .flat-card__trump{
        transform: scale(1.03);
      }
    }  

		&:not(:last-child) {
			margin-bottom: clamp(0.75rem, 0.5rem + 1.25vw, 1.5rem);
		}
	}

	// .flat-card__trump
	&__trump {
		width: 100%;
		height: 100%;
		object-fit: cover;

    transition: all .45s ease-in;
	}

	// .flat-card__spec
	&__spec {
		padding: clamp(0.75rem, 0.5rem + 1.25vw, 1.5rem);

		flex-grow: 1;

		display: flex;
		flex-direction: column;
	}

	// .flat-card__body
	&__body {
	}

	// .flat-card__desk-box
	&__desk-box {
		display: flex;
		column-gap: clamp(0.75rem, 0.5rem + 1.25vw, 1.5rem); //*24-12
		align-items: center;

		&:not(:last-child) {
			margin-bottom: clamp(0.75rem, 0.583rem + 0.83vw, 1.25rem); //*20-12
		}
	}

	// .flat-card__category
	&__category {
		@media (any-hover: hover) {
			cursor: pointer;
			&:hover .flat-card__link-flat {
				background: $colorHoverButtonLink;
				color: $fontSubMainButtonLink;
			}
		}
	}

	// .flat-card__link-flat
	&__link-flat {
		color: $fontTitleSubTitleHeaderMenu;
		font-size: toRem(14);
		line-height: 1.5;

		transition: all 0.3s ease-in-out;

		border-radius: toEm(32, 14);
		background: $colorBackgroundButtonLink;
		padding: toEm(4, 14) toEm(8, 14);
	}

	// .flat-card__datetime
	&__datetime {
		color: $fontMainProject;
		font-size: toRem(14);
		line-height: 1.5;
	}

	// .flat-card__link-caption
	&__link-caption {
		flex-grow: 1;

		&:not(:last-child) {
			margin-bottom: toEm(8, 24);
		}
	}

	// .flat-card__caption-main
	&__caption-main {
		@include setupTitleCard;

		transition: color 0.3s ease-in;

		@media (any-hover: hover) {
			cursor: pointer;
			&:hover {
				color: $colorButtonLink;
			}
		}

		&:not(:last-child) {
			margin-bottom: toEm(10, 24);
		}
	}

	// .flat-card__paragraph
	&__paragraph {
		color: $fontMainProject;
		line-height: 1.5;
		font-size: clamp(0.875rem, 0.833rem + 0.21vw, 1rem); //*16-13

		flex-grow: 1;

		&:not(:last-child) {
			margin-bottom: clamp(0.625rem, 0.375rem + 1.25vw, 1.375rem); //*22-10
		}

		& p:not(:last-child) {
			margin-bottom: toEm(10, 16);
		}
	}

	// .flat-card__excerpt-link
	&__excerpt-link {
		color: $fontTitleSubTitleHeaderMenu;
		line-height: 1.5;
		font-weight: 700;

		font-size: clamp(0.875rem, 0.833rem + 0.21vw, 1rem); //*16-13

		transition: color 0.3s ease-in;

		display: flex;
		align-items: center;
		column-gap: toRem(4);
		align-self: flex-start;

		&::after {
			content: "chevron_right";
			font-family: $familySubIcons;
			font-size: toRem(18);
		}

		&:not(:last-child) {
			margin-bottom: toEm(22);
		}

		@media (any-hover: hover) {
			cursor: pointer;
			&:hover {
				color: $colorButtonLink;
			}
		}
	}
}
