*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.desc-benefits__subtitle, .download__subtitle, .services__subtitle {
  color: #37393F;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.27;
}

.download__link {
  padding: 21px 39px 21px 30px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11px;
}

.box-text__title, .main-desk__title {
  color: #37393F;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.27;
}

.box-text__paragraph, .desc-benefits__list, .main-desk__paragraph {
  color: #7D7D7D;
  line-height: 1.46;
}

.main-desk__paragraph > p:nth-child(2) {
  color: #6B77E5;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.27;
}

.desc-benefits__paragraph {
  color: #40DDB6;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.27;
}

.dropdown__link {
  color: #37393F;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 0.8;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

.main__section {
  padding: 150px 50px;
}

.business__wrap {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}
.business__sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 25px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
}
.business__sidebar > *:not(:last-child) {
  margin-bottom: 50px;
}

.bussiness__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -25px;
  row-gap: 50px;
}

.sibebar__services {
  background-color: #F4F4F4;
}
.sibebar__download {
  background-color: #F4F4F4;
}
.sibebar__help-block {
  position: relative;
  aspect-ratio: 478/506;
}

.services__subtitle:not(:last-child) {
  margin-bottom: 24px;
}
.services__inner {
  padding: 56px 35px;
}
.services__item {
  -webkit-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}
@media (any-hover: hover) {
  .services__item:hover {
    background-color: #6B77E5;
    cursor: pointer;
  }
}
.services__title {
  padding: 14px 20px;
}
.services__link {
  text-transform: capitalize;
  color: #37393F;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (any-hover: hover) {
  .services__item:hover .services__link {
    color: #fff;
    -webkit-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out;
  }
}
.services__link::after {
  content: "";
  width: 9px;
  height: 18px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 9px;
          flex: 0 0 9px;
  background: url("../img/check_black.svg") center/cover no-repeat;
  position: relative;
  top: 2px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
@media (any-hover: hover) {
  .services__item:hover .services__link::after {
    background: url("../img/check_white_hover.svg") center/cover no-repeat;
  }
}
.services__item:active .services__link::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.download__inner {
  padding: 56px 35px;
}
.download__subtitle {
  padding-bottom: 24px;
  border-bottom: 1px solid #37393F;
}
.download__subtitle:not(:last-child) {
  margin-bottom: 22px;
}
.download__paragraph {
  color: #7D7D7D;
  font-size: 18px;
  line-height: 1.5;
}
.download__paragraph > p:not(:last-child) {
  margin-bottom: 5px;
}
.download__paragraph:not(:last-child) {
  margin-bottom: 22px;
}
.download__list {
  max-width: 230px;
}
.download__list > li:not(:last-child) {
  margin-bottom: 30px;
}
.download__item {
  background-color: #6B77E5;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}
@media (any-hover: hover) {
  .download__item:hover {
    background-color: #5260e4;
    cursor: pointer;
  }
}
.download__link--pdf::before {
  content: "";
  width: 43px;
  height: 43px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 43px;
          flex: 0 0 43px;
  background: url("../img//icon_pdf.svg") center/cover no-repeat;
}
.download__link--zip::before {
  content: "";
  width: 43px;
  height: 43px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 43px;
          flex: 0 0 43px;
  background: url("../img//icon_zip.svg") center/cover no-repeat;
}

.help-block__fon {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
.help-block__text-container {
  position: relative;
  z-index: 2;
  padding: 96px 50px;
  text-align: center;
}

.text-container__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
  font-weight: 500;
  color: #37393F;
  line-height: 0.9;
}
.text-container__item:not(:last-child) {
  margin-bottom: 22px;
}
.text-container__item::before {
  content: "";
  position: relative;
  top: 2px;
  width: 12px;
  height: 12px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12px;
          flex: 0 0 12px;
  background-color: #6B77E5;
}
.text-container__title {
  color: #37393F;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.21;
}
.text-container__title:not(:last-child) {
  margin-bottom: 10px;
}
.text-container__white {
  color: #fff;
}
.text-container__paragraph {
  color: #37393F;
  line-height: 1.46;
}
.text-container__paragraph:not(:last-child) {
  margin-bottom: 45px;
}
.text-container__paragraph > p:not(:last-child) {
  margin-bottom: 5px;
}
.text-container__contact {
  color: #fff;
  font-weight: 600;
  line-height: 0.9;
  text-transform: capitalize;
  background-color: #6B77E5;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
  display: inline-block;
}
@media (any-hover: hover) {
  .text-container__contact:hover {
    background-color: #5260e4;
    cursor: pointer;
  }
}
.text-container__link {
  padding: 21px 43px;
}

.info-block__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 68.9%;
          flex: 0 1 68.9%;
  row-gap: 37px;
}
.info-block__poster {
  position: relative;
  padding-bottom: 68.9%;
}
.info-block__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-desk--wrap:not(:last-child) {
  margin-bottom: 40px;
}
.main-desk__title {
  text-transform: capitalize;
}
.main-desk__title:not(:last-child) {
  margin-bottom: 3px;
}
.main-desk__paragraph {
  text-align: justify;
}
.main-desk__paragraph > p:not(:last-child) {
  margin-bottom: 12px;
}
.main-desk__paragraph > p:nth-child(1) {
  margin-bottom: 42px;
}
.benefits__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 29px;
}
.benefits__inner:not(:last-child) {
  margin-bottom: 45px;
}

.block-benefits__column--big {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}
.block-benefits__column--small {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}
.block-benefits__fon {
  position: relative;
  padding-bottom: 59%;
}
.block-benefits__thumb {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.desc-benefits__subtitle:not(:last-child) {
  margin-bottom: 15px;
}
.desc-benefits__paragraph:not(:last-child) {
  margin-bottom: 25px;
}
.desc-benefits__paragraph p:not(:last-child) {
  margin-bottom: 10px;
}
.desc-benefits__list li:not(:last-child) {
  margin-bottom: 30px;
}
.desc-benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3px;
     -moz-column-gap: 3px;
          column-gap: 3px;
}
.desc-benefits__item::before {
  content: "";
  width: 27px;
  height: 27px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27px;
          flex: 0 0 27px;
  border-radius: 50%;
  background: #6B77E5 url("../img/mark.svg") center/15px no-repeat;
}

.box-text:not(:last-child) {
  margin-bottom: 45px;
}
.box-text__paragraph > p:not(:last-child) {
  margin-bottom: 10px;
}

.dropdown__item:not(:last-child) {
  margin-bottom: 20px;
}
@media (any-hover: hover) {
  .dropdown__item:hover {
    cursor: pointer;
  }
  .dropdown__item:hover .dropdown__link {
    color: #5260e4;
  }
}
.dropdown__title {
  border: 1px solid #E3E3E3;
}
.dropdown__link {
  padding: 25px 0 25px 30px;
}