@import url("reset.css");
@import url("common.css");

body {
	/* Значення за замовченням */
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #424551;
	background-color: #333;
	color: #fff;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
	position: relative;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}

.page {
	padding: 50px;
}
.page__block {
	margin-bottom: 50px;
}

.grid-areas {
	display: grid;
	text-align: center;
	gap: 15px;

	grid-template-columns: 150px 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"header header"
		"sidebar cont"
		"footer footer";
}
.grid-areas__header {
	grid-area: header;
	background-color: #794f45;
	padding: 15px;
}
.grid-areas__sidebar {
	grid-area: sidebar;
	background-color: #77608d;
	padding: 15px;
}
.grid-areas__content {
	grid-area: cont;
	background-color: #7a956b;
	padding: 15px;
}
.grid-areas__footer {
	grid-area: footer;
	background-color: #794f45;
	padding: 15px;
}

/* ? Варіант #1 */

.grid-areas__content,
.grid-areas__sidebar:last-child {
	grid-column: span 2;
}

.grid-areas__sidebar + .grid-areas__content {
	grid-column: span 1;
}

/* ? Варіант #2 */

/* .grid-areas__header + .grid-areas__sidebar:last-child,
.grid-areas__header + .grid-areas__content:nth-child(2) {
	grid-column-start: sidebar;
	grid-column-end: cont;
} */
