@import url("fonts.css");
@import url("reset.css");

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
}

/* ?Основні налаштування */

.body {
	color: #3c4242;
	font-family: "Causten", sans-serif;
	font-weight: 600;
}
.main__section {
	padding: 220px 0 50px;
}

.shop__wrap {
	max-width: 1270px;
	margin: 0 auto;
	padding: 0 15px;
}

.shop__wrap > *:not(:last-child) {
	margin-bottom: 100px;
}

/* ?Розділ header */
.header__section {
	font-family: "Core Sans C", sans-serif;
	background-color: rgba(82, 54, 52, 0.5);
	font-size: 18px;
	line-height: 1.4;
	color: white;
	position: fixed;
	width: 100%;
	z-index: 50;
}

.menu-desc__content {
	font-size: 22px;
}

.section__inner-header {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 15px;
	min-height: 150px;
	display: flex;
	flex-wrap: wrap;
	gap: 100px;
}

.menu-header__menu-desc {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	align-items: center;
}

.menu-header__form-box {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
	align-items: center;
}

/* анимація */

.form-box__link {
	position: relative;
	overflow: hidden;
	transition: all 0.3s;
}

.form-box__link::after {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 0;
	height: 2px;
	background-color: #523634;
	transition: all 0.3s;
}

.form-box__link:hover::after {
	width: 100%;
	left: 0;
}
/* !Розділ header */

/* ?Розділ footer */
.footer__section {
	background-color: #b6452c;
	padding: 40px 0;
}
/* !Розділ footer */

/* ?Блок Explore Items */
.block__explore {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	column-gap: 30px;
	row-gap: 20px;
	color: #fff;
	font-family: "Core Sans C", sans-serif;
	font-weight: 500;
	text-transform: capitalize;
}

.explore__inner {
	position: relative;
	box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
	border-radius: 12px;
	overflow: clip;
	padding: 67px 0 67px 28px;
}

.container__frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center 10%;
}

.container__frame--yellow {
	background-color: #feaa20;
}

.container__frame--lilac {
	background-color: #8969a3;
}

.explore__text-inner {
	max-width: 264px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 30px;
	height: 100%;
	z-index: 3;
}

.box__desk {
	flex: 1 0 auto;
}

.item__subtitle {
	font: 800 18px Montserrat, "sans-serif";
	line-height: 1.7;
	letter-spacing: 0.251px;
}

.item__subtitle:not(:last-child) {
	margin-bottom: 9px;
}

.item__title {
	font-size: 34px;
	font-weight: 800;
	line-height: 1.3;
}

.item__title:not(:last-child) {
	margin-bottom: 10px;
}

.item__paragraphs {
	line-height: 1.6;
	letter-spacing: 0.251px;
	text-transform: uppercase;
}

.item__paragraphs:not(:last-child) {
	margin-bottom: 5px;
}

.box__link {
	position: relative;
	font-size: 20px;
	font-weight: 800;
	line-height: 1.5;
}

.box__link::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 95%;
	transform: translateX(-50%);
	width: 100%;
	height: 1px;
	background-color: #fff;
	transition: width 0.3s ease-in-out;
}

@media (any-hover: hover) {
	.box__link:hover::before {
		width: 0;
	}

	.item__text-cell:hover .item__link-text::before {
		width: 100%;
	}

	.slider__item a:hover {
		cursor: pointer;
	}

	.body-arrival__arrow-left:hover {
		background: #ccaaf8 url("../img/arrow_slider_left.svg") center/ 15px 14px no-repeat;
	}

	.body-arrival__arrow-right:hover {
		background: #ccaaf8 url("../img/arrow_slider_right.svg") center/ 15px 14px no-repeat;
	}

	.item__link-trump:hover .item__img {
		transform: scale(1.03);
	}

	.discounts-zone__item:nth-child(1) .jump__link:hover .jump__replacement,
	.discounts-zone__item:nth-child(2) .jump__link:hover .jump__replacement,
	.discounts-zone__item:nth-child(3) .jump__link:hover .jump__replacement,
	.discounts-zone__item:nth-child(4) .jump__link:hover .jump__replacement,
	.discounts-zone__item:nth-child(5) .jump__link:hover .jump__replacement {
		display: block;
	}

	.discounts-zone__item:nth-child(1) .jump__link:hover .jump__inscription,
	.discounts-zone__item:nth-child(2) .jump__link:hover .jump__inscription,
	.discounts-zone__item:nth-child(3) .jump__link:hover .jump__inscription,
	.discounts-zone__item:nth-child(4) .jump__link:hover .jump__inscription,
	.discounts-zone__item:nth-child(5) .jump__link:hover .jump__inscription {
		display: none;
	}

	.discounts-zone__item:nth-child(1) .jump__link:hover,
	.discounts-zone__item:nth-child(2) .jump__link:hover {
		color: #292c2c;
	}

	.discounts-zone__item:nth-child(3) .jump__link:hover,
	.discounts-zone__item:nth-child(4) .jump__link:hover,
	.discounts-zone__item:nth-child(5) .jump__link:hover {
		color: #ffffff;
		color: #d41900;
	}

	.discounts-zone__item:nth-child(1) .jump__link:hover::before,
	.discounts-zone__item:nth-child(2) .jump__link:hover::before {
		left: -12px;
	}

	.discounts-zone__item:nth-child(3) .jump__link:hover::before,
	.discounts-zone__item:nth-child(4) .jump__link:hover::before,
	.discounts-zone__item:nth-child(5) .jump__link:hover::before {
		left: -12px;
	}
}

/* !Блок Explore Items */

/* TODO Основні налаштування Блок New Arrival Блок Discounts*/

[class*="__caption"] {
	font-family: "Core Sans C";
	font-size: 34px;
	line-height: 0.98;
	letter-spacing: 0.68px;
	text-transform: capitalize;
}

[class*="__caption"]::before {
	content: "";
	width: 6px;
	height: 30px;
	border-radius: 10px;
	background: #8a33fd;
	flex: 0 0 6px;
	margin-top: 2px;
}

[class*="__caption"] {
	display: flex;
	column-gap: 20px;
}

[class*="__caption"]:not(:last-child) {
	margin-bottom: 70px;
}

/* ?Блок New Arrival */
.arrival-block__body {
	display: grid;
	grid-template-columns: 15px 1fr 15px;
	column-gap: 20px;
}

/* ?Кнопки слайдера */

.body-arrival__arrow-left {
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background: url("../img/arrow_slider_left.svg") center/ 15px 14px no-repeat;
	transition: all 0.2s ease-in-out;
	align-self: center;
}

.body-arrival__arrow-right {
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background: url("../img/arrow_slider_right.svg") center/ 15px 14px no-repeat;
	transition: all 0.2s ease-in-out;
	align-self: center;
}

/* !Кнопки слайдера */

.body-arrival__preview {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(263px, 1fr));
	gap: 38px;
}

.sliders__item {
	display: flex;
	flex-direction: column;
	gap: 33px;
}

.item__text-cell {
	line-height: 0.8;
	letter-spacing: 0.2px;
	font: 700 20px "Causten", sans-serif;
	text-transform: capitalize;
}

.item__text-cell .item__link-text {
	position: relative;
}

.item__link-text::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 120%;
	transform: translateX(-50%);
	width: 0%;
	height: 2px;
	background-color: #3c4242;
	transition: width 0.4s ease-in-out;
}

.item__text-cell:active {
	color: #8a33fd;
}

.item__text-cell:active .item__link-text::before {
	background-color: #8a33fd;
}

.item__link-trump {
	overflow: clip;
	border-radius: 12px;
	display: block;
}

.item__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	aspect-ratio: 263/263;
	transition: transform 0.3s ease-in-out;
}
/* !Блок New Arrival */

/* ?Блок Discounts */

.discounts-zone__body {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 20px;
	color: #fff;
	font-family: "Causten", sans-serif;
}

.discounts-zone__item {
	position: relative;
	grid-column: span 2;
	border-radius: 12px;
	padding: 65px 20px 40px;
	overflow: clip;
}

.unit--flat {
	position: relative;
	grid-column: span 3;
	padding: 45px 100px 50px;
	border-radius: 12px;
	overflow: clip;
}

.unit--speak {
	padding-top: 34px;
}

.unit__img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	object-position: top;
	background-color: #0fa8bd;
}

.area__title {
	color: #fff;
	font: 700 31px "Core Sans C";
	line-height: 1.4;
	letter-spacing: 0.56px;
}

.unit__desc {
	position: relative;
	display: flex;
	flex-direction: column;
	row-gap: 31px;
	max-width: 155px;
	height: 100%;
	flex-grow: 1;
}

.desc__jump {
	display: flex;
	flex-direction: column;
	row-gap: 40px;
	max-width: 121px;
	align-items: center;
}

.desc__jump--printed,
.desc__jump--cargo {
	margin-left: auto;
}

.jump__link {
	text-align: center;
	font-size: 12px;
	font-weight: 500;
	line-height: 1.3;
	padding: 10px 25px;
	border-radius: 4px;
	border: 1px solid #fff;
	transition: all 0.5s;
	text-transform: uppercase;
}

.jump__link {
	position: relative;
	overflow: hidden;
	min-width: 114px;
}

.jump__link--hawaiian::before,
.jump__link--printed::before {
	content: "";
	position: absolute;
	width: 120%;
	height: 100%;
	top: 0;
	left: -140px;
	background-color: rgba(255, 255, 255, 0.4);
	transform: skew(25deg, 0);
	transition: left 0.6s;
}

.jump__replacement {
	display: none;
}

.jump__link--cargo::before,
.jump__link--urban::before,
.jump__link--oversized::before {
	content: "";
	position: absolute;
	width: 120%;
	height: 100%;
	top: 0;
	left: -140px;
	background-color: rgba(55, 56, 56, 0.4);
	transform: skew(25deg, 0);
	transition: left 0.6s;
}

.jump__link--cargo,
.jump__link--urban,
.jump__link--oversized {
	border: 1px solid #3c4242;
}

.jump__arrow:hover {
	transform: translateY(10px);
}

.jump__arrow {
	transition: all 0.5s;
}

.desc__area {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	flex-grow: 1;
}

.area__opto {
	font-size: 18px;
	font-weight: 700;
	line-height: 0.9;
	text-transform: uppercase;
}

.area__tagline {
	font-size: 14px;
	font-weight: 600;
	line-height: 1.2;
}

.stock__link {
	font-size: 12px;
	font-weight: 700;
	line-height: 1.3;
	border-radius: 4px;
	background: #3c4242;
	padding: 8px 16px;
}

.unit__desc--printed,
.unit__desc--cargo,
.unit__desc--urban,
.unit__desc--oversized {
	margin-left: auto;
}

.unit__desc--printed,
.unit__desc--cargo {
	text-align: right;
}

.unit__desc--cargo,
.unit__desc--urban,
.unit__desc--oversized,
.unit__desc--cargo h4,
.unit__desc--urban h4,
.unit__desc--oversized h4 {
	color: #3c4242;
}

.unit__img--hawaiian {
	background-color: #0fa8bd;
}

.unit__img--printed {
	background-color: #ddb2ac;
}

.unit__img--cargo {
	background-color: #d4d4d4;
}

.unit__img--urban {
	background-color: #dbdad4;
}

.unit__img--oversized {
	background-color: #b3e7ea;
}

/* !Блок New Arrival */

/* TODO Блок New Arrival (створення за допомогою Slider Swiper) */

.swiper--wrap {
	max-width: 1230px;
	margin: 0 auto;
}

.swiper-button-disabled {
	opacity: 0.4;
	cursor: default;
}

.swiper-pagination-total,
.swiper-pagination-current {
	opacity: 0.6;
}

.swiper-slide__text-cell {
	line-height: 0.8;
	letter-spacing: 0.2px;
	font: 700 20px "Causten", sans-serif;
	text-transform: capitalize;
}

.swiper-slide__link-trump {
	overflow: clip;
	border-radius: 12px;
	display: block;
}

.swiper-slide__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	aspect-ratio: 263/263;
	transition: transform 0.3s ease-in-out;
}

[class*="__myswiper-caption"] {
	font-family: "Core Sans C";
	font-size: 34px;
	line-height: 0.98;
	letter-spacing: 0.68px;
	text-transform: capitalize;
}

[class*="__myswiper-caption"]::before {
	content: "";
	width: 6px;
	height: 30px;
	border-radius: 10px;
	background: #8a33fd;
	flex: 0 0 6px;
	margin-top: 2px;
}

[class*="__myswiper-caption"] {
	display: flex;
	column-gap: 20px;
	flex-wrap: wrap;
}

.block__myswiper-caption:not(:last-child) {
	margin-bottom: 70px;
}

.block__myswiper-caption span {
	text-transform: none;
	font-size: 20px;
	align-self: center;
}

/* ?Кнопки з боків */
.block__navi:not(:last-child) {
	margin-bottom: 10px;
}

.block__new-arrival-slider {
	position: relative;
	padding: 0 20px;
}

[class*="navi__arrow-"] {
	position: absolute;
	top: 60%;
	right: 0;
	z-index: 2;
}

.navi__arrow-left {
	left: -10px;
}

.navi__arrow-right {
	right: -10px;
}
/* !Кнопки з боків */
/* ?Кнопки слайдера */

.navi__arrow-left {
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background: url("../img/arrow_slider_left.svg") center/ 15px 14px no-repeat;
	transition: all 0.2s ease-in-out;
	align-self: center;
	outline: 2px solid transparent;
}

.navi__arrow-right {
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background: url("../img/arrow_slider_right.svg") center/ 15px 14px no-repeat;
	transition: all 0.2s ease-in-out;
	align-self: center;
	outline: 2px solid transparent;
}

.navi__arrow-left:hover,
.navi__arrow-right:hover {
	background: #ccaaf8 url("../img/arrow_slider.svg") center/ 15px 14px no-repeat;
}

.navi__arrow-left:hover {
	background: #ccaaf8 url("../img/arrow_slider_left.svg") center/ 15px 14px no-repeat;
}

.navi__arrow-left:hover {
	background: #ccaaf8 url("../img/arrow_slider_right.svg") center/ 15px 14px no-repeat;
}
/* !Кнопки слайдера */

.swiper-wrapper__swiper-slide {
	display: flex;
	flex-direction: column;
	row-gap: 33px;
}

.swiper-slide-active {
	margin-right: 58px;
}

.swiper-slide__text-cell .swiper-slide__link-text {
	position: relative;
}

.swiper-slide__text-cell .swiper-slide__link-text::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 120%;
	transform: translateX(-50%);
	width: 0%;
	height: 2px;
	background-color: #3c4242;
	transition: width 0.4s ease-in-out;
}

.swiper-slide__text-cell:active {
	color: #8a33fd;
}

.swiper-slide__text-cell:active .swiper-slide__link-text::before {
	background-color: #8a33fd;
}

.swiper-slide__text-cell:hover .swiper-slide__link-text::before {
	width: 100%;
}

.swiper-slide__link-trump:hover .swiper-slide__img {
	transform: scale(1.03);
}

/* TODO Медіа запити*/

/* ?Блок Explore Items */

@media (min-width: 860px) and (max-width: 1046px) {
	.block__explore {
		column-gap: 20px;
	}

	.explore__inner:nth-child(1) .container__pad::before {
		content: "";
		position: absolute;
		top: 0;
		left: -45%;
		width: 100%;
		height: 100%;
		background-color: #eb910149;
		z-index: 2;
		transform: skew(-25deg);
	}

	.explore__inner:nth-child(2) .container__pad::before {
		content: "";
		position: absolute;
		top: 0;
		left: -45%;
		width: 100%;
		height: 100%;
		background-color: #85669e;
		z-index: 2;
		transform: skew(-25deg);
	}

	.item__title {
		font-size: 30px;
		line-height: 1.2;
	}

	.item__paragraphs {
		font-size: 17px;
		line-height: 1.55;
		letter-spacing: 0.245px;
	}

	.box__link {
		font-size: 19px;
		line-height: 1.48;
	}
}

@media (min-width: 860px) and (max-width: 952px) {
	.block__explore {
		column-gap: 15px;
	}

	.explore__inner:nth-child(1) .container__pad::before {
		left: -43%;
	}

	.explore__inner:nth-child(2) .container__pad::before {
		left: -43%;
	}

	.item__title {
		font-size: 27px;
		line-height: 1.1;
	}

	.box__link {
		font-size: 18px;
		line-height: 1.38;
	}
}

@media (max-width: 587px) {
	.explore__inner:nth-child(1) .container__pad::before {
		content: "";
		position: absolute;
		top: 0;
		left: -45%;
		width: 100%;
		height: 100%;
		background-color: #eb910149;
		z-index: 2;
		transform: skew(-25deg);
	}

	.explore__inner:nth-child(2) .container__pad::before {
		content: "";
		position: absolute;
		top: 0;
		left: -45%;
		width: 100%;
		height: 100%;
		background-color: #85669e;
		z-index: 2;
		transform: skew(-25deg);
	}
}

@media (max-width: 569px) {
	.item__title {
		font-size: 30px;
		line-height: 1.2;
	}

	.item__paragraphs {
		font-size: 17px;
		line-height: 1.55;
		letter-spacing: 0.245px;
	}

	.box__link {
		font-size: 19px;
		line-height: 1.48;
	}

	.explore__text-inner {
		row-gap: 25px;
	}
}

@media (max-width: 484px) {
	.explore__inner:nth-child(1) .container__pad::before {
		left: -43%;
	}

	.explore__inner:nth-child(2) .container__pad::before {
		left: -43%;
	}

	.item__title {
		font-size: 27px;
		line-height: 1.1;
	}

	.item__paragraphs {
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.23px;
	}

	.explore__text-inner {
		row-gap: 20px;
	}
}

@media (max-width: 430px) {
	.block__explore {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	}

	.explore__text-inner {
		max-width: 244px;
	}

	.item__title {
		font-size: 25px;
		line-height: 1;
	}

	.box__link {
		font-size: 16px;
		line-height: 1.43;
	}

	.explore__text-inner {
		row-gap: 17px;
	}
}

@media (max-width: 412px) {
	.explore__text-inner {
		max-width: 230px;
	}

	.item__title {
		font-size: 23px;
		line-height: 1;
	}
}

@media (max-width: 390px) {
	.explore__text-inner {
		max-width: 224px;
	}

	.item__subtitle {
		font-size: 17px;
		line-height: 1.3;
		letter-spacing: 0.14px;
	}

	.item__title {
		font-size: 22px;
		line-height: 0.9;
	}

	.explore__text-inner {
		row-gap: 14px;
	}
}

@media (max-width: 370px) {
	.explore__text-inner {
		max-width: 200px;
	}

	.item__subtitle {
		font-size: 16px;
		line-height: 1.25;
		letter-spacing: 0.14px;
	}

	.item__title {
		font-size: 20px;
		line-height: 1.1;
	}

	.item__paragraphs {
		font-size: 15px;
		line-height: 1.49;
		letter-spacing: 0.2px;
	}

	.box__link {
		font-size: 15px;
		line-height: 1.39;
	}

	.explore__text-inner {
		row-gap: 10px;
	}
}

@media (max-width: 340px) {
	.explore__text-inner {
		max-width: 160px;
	}

	.item__subtitle {
		font-size: 14px;
		line-height: 1.21;
		letter-spacing: 0.12px;
	}

	.item__title {
		font-size: 18px;
		line-height: 1.1;
	}

	.item__paragraphs {
		font-size: 14px;
		line-height: 1.45;
		letter-spacing: 0.18px;
	}

	.box__link {
		font-size: 14px;
		line-height: 1.37;
	}
}

@media (max-width: 320px) {
	.block__explore {
		grid-template-columns: auto;
	}
}

/* ?Блоки и Title */
/* TODO Основні налаштування Блок New Arrival Блок Discounts*/

@media (max-width: 1183px) {
	.shop__wrap > *:not(:last-child) {
		margin-bottom: 65px;
	}

	[class*="__caption"]:not(:last-child),
	.block__myswiper-caption:not(:last-child) {
		margin-bottom: 40px;
		font-size: 33px;
	}

	[class*="__caption"]::before,
	[class*="__myswiper-caption"]::before {
		height: 29px;
	}

	[class*="__caption"],
	[class*="__myswiper-caption"] {
		column-gap: 18px;
	}
}

@media (max-width: 1040px) {
	.shop__wrap > *:not(:last-child) {
		margin-bottom: 70px;
	}

	[class*="__caption"]:not(:last-child),
	.block__myswiper-caption:not(:last-child) {
		margin-bottom: 37px;
		font-size: 31px;
	}

	[class*="__caption"]::before,
	[class*="__myswiper-caption"]::before {
		height: 28px;
	}

	[class*="__caption"],
	[class*="__myswiper-caption"] {
		column-gap: 14px;
	}
}

@media (max-width: 952px) {
	.shop__wrap > *:not(:last-child) {
		margin-bottom: 60px;
	}

	[class*="__caption"]:not(:last-child),
	.block__myswiper-caption:not(:last-child) {
		margin-bottom: 40px;
		font-size: 30px;
	}

	[class*="__caption"]::before,
	[class*="__myswiper-caption"]::before {
		height: 27px;
	}

	[class*="__caption"],
	[class*="__myswiper-caption"] {
		column-gap: 13px;
	}
}

@media (max-width: 860px) {
	.shop__wrap > *:not(:last-child) {
		margin-bottom: 36px;
	}

	[class*="__caption"]:not(:last-child),
	.block__myswiper-caption:not(:last-child) {
		margin-bottom: 20px;
		font-size: 28px;
	}

	[class*="__caption"]::before,
	[class*="__myswiper-caption"]::before {
		height: 25px;
		margin-top: 1px;
	}

	[class*="__caption"],
	[class*="__myswiper-caption"] {
		column-gap: 10px;
	}
}

@media (max-width: 655px) {
	.shop__wrap > *:not(:last-child) {
		margin-bottom: 40px;
	}

	[class*="__caption"]:not(:last-child),
	.block__myswiper-caption:not(:last-child) {
		margin-bottom: 20px;
		font-size: 27px;
	}

	[class*="__caption"]::before,
	[class*="__myswiper-caption"]::before {
		height: 24px;
	}
}

@media (max-width: 430px) {
	.shop__wrap > *:not(:last-child) {
		margin-bottom: 25px;
	}

	[class*="__caption"]:not(:last-child),
	.block__myswiper-caption:not(:last-child) {
		margin-bottom: 15px;
		font-size: 24px;
	}

	[class*="__caption"]::before,
	[class*="__myswiper-caption"]::before {
		height: 22px;
	}
}

@media (max-width: 390px) {
	[class*="__caption"]:not(:last-child),
	.block__myswiper-caption:not(:last-child) {
		font-size: 24px;
	}

	[class*="__caption"]::before,
	[class*="__myswiper-caption"]::before {
		height: 21px;
	}

	[class*="__caption"],
	[class*="__myswiper-caption"] {
		column-gap: 9px;
	}
}

@media (max-width: 370px) {
	[class*="__caption"]:not(:last-child),
	.block__myswiper-caption:not(:last-child) {
		margin-bottom: 8px;
		font-size: 22px;
	}

	[class*="__caption"]::before,
	[class*="__myswiper-caption"]::before {
		height: 20px;
	}

	[class*="__caption"],
	[class*="__myswiper-caption"] {
		column-gap: 8px;
	}
}

/* ?Блок New Arrival */

@media (max-width: 1261px) {
	.body-arrival__preview {
		grid-template-columns: repeat(auto-fill, minmax(243px, 1fr));
	}
}

@media (max-width: 1183px) {
	.body-arrival__preview {
		grid-template-columns: repeat(auto-fill, minmax(213px, 1fr));
		column-gap: 33px;
	}

	.sliders__item,
	.swiper-wrapper__swiper-slide {
		row-gap: 26px;
	}

	.item__text-cell,
	.swiper-slide__text-cell {
		font-size: 19px;
	}
}

@media (max-width: 1082px) {
	.body-arrival__preview {
		grid-template-columns: repeat(auto-fill, minmax(243px, 1fr));
		column-gap: 31px;
	}

	.body-arrival__preview .sliders__item:nth-child(4) {
		display: none;
	}

	.sliders__item,
	.swiper-wrapper__swiper-slide {
		row-gap: 24px;
	}

	.arrival-block__body {
		column-gap: 15px;
	}
}

@media (max-width: 949px) {
	.body-arrival__preview {
		column-gap: 28px;
	}

	.sliders__item,
	.swiper-wrapper__swiper-slide {
		row-gap: 21px;
	}
}

@media (max-width: 880px) {
	.body-arrival__preview {
		grid-template-columns: repeat(auto-fill, minmax(203px, 1fr));
	}
}

@media (max-width: 790px) {
	.body-arrival__preview {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		column-gap: 27px;
	}

	.sliders__item,
	.swiper-wrapper__swiper-slide {
		row-gap: 23px;
	}
}

@media (max-width: 767.98px) {
	.body-arrival__preview {
		grid-template-columns: repeat(auto-fill, minmax(258px, 1fr));
		column-gap: 23px;
	}

	.body-arrival__preview .sliders__item:nth-child(3) {
		display: none;
	}

	.sliders__item,
	.swiper-wrapper__swiper-slide {
		row-gap: 21px;
	}

	.arrival-block__body {
		gap: 10px;
	}
}

@media (max-width: 639px) {
	.body-arrival__preview {
		grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
		column-gap: 20px;
	}

	.body-arrival__preview .sliders__item:nth-child(2) {
		display: none;
	}

	.sliders__item,
	.swiper-wrapper__swiper-slide {
		row-gap: 18px;
	}

	.arrival-block__body {
		gap: 10px;
	}

	.item__text-cell,
	.swiper-slide__text-cell {
		font-size: 21px;
	}
}

@media (max-width: 467px) {
	.body-arrival__preview {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	}

	.sliders__item,
	.swiper-wrapper__swiper-slide {
		row-gap: 12px;
	}

	.item__text-cell,
	.swiper-slide__text-cell {
		font-size: 19px;
	}
}

/* ?Блок Discounts */

@media (min-width: 1047px) and (max-width: 1183px) {
	.area__title {
		font-size: 28px;
		line-height: 1.3;
		letter-spacing: 0.54px;
	}

	.area__opto {
		font-size: 17px;
		line-height: 0.85;
	}

	.jump__link {
		font-size: 11px;
		line-height: 1.25;
		padding: 10px 5px;
		min-width: 104px;
	}

	.jump__link-arrow {
		width: 22px;
		height: 24px;
	}
}

@media (max-width: 1046px) {
	.discounts-zone__body {
		grid-template-columns: repeat(2, 1fr);
	}

	.discounts-zone__item:nth-child(1) {
		grid-column: span 1;
	}

	.discounts-zone__item:nth-child(2) {
		grid-column: span 1;
	}

	.discounts-zone__item:nth-child(3) {
		grid-column: span 1;
	}

	.discounts-zone__item:nth-child(4) {
		grid-column: span 1;
		padding: 65px 20px 40px;
		text-align: right;
	}

	.discounts-zone__item:nth-child(4) .unit__desc .desc__jump {
		margin-left: auto;
	}

	.discounts-zone__item:nth-child(5) {
		grid-column: span 2;
		padding: 70px 210px 70px;
	}
}

@media (max-width: 859px) {
	.discounts-zone__body {
		grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
	}

	.discounts-zone__item:nth-child(1) {
		grid-column: span 1;
	}

	.discounts-zone__item:nth-child(2) {
		grid-column: span 1;
	}

	.discounts-zone__item:nth-child(3) {
		grid-column: span 1;
	}

	.discounts-zone__item:nth-child(4) {
		grid-column: span 1;
	}

	.discounts-zone__item:nth-child(5) {
		grid-column: span 1;
		text-align: right;
		padding: 65px 20px 40px;
	}

	.discounts-zone__item:nth-child(5) .unit__desc .desc__jump {
		margin-left: auto;
	}
}

@media (max-width: 610px) {
	.discounts-zone__body {
		grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
		gap: 17px;
	}

	.area__title {
		font-size: 26px;
		line-height: 1.3;
		letter-spacing: 0.54px;
	}

	.area__opto {
		font-size: 17px;
		line-height: 0.85;
	}

	.jump__link {
		font-size: 11px;
		line-height: 1.25;
		padding: 10px 5px;
		min-width: 104px;
	}

	.jump__link-arrow {
		width: 22px;
		height: 24px;
	}
}

@media (max-width: 430px) {
	.discounts-zone__body {
		gap: 15px;
	}

	.area__title {
		font-size: 24px;
		line-height: 1.24;
		letter-spacing: 0.51px;
	}

	.area__opto {
		font-size: 16px;
		line-height: 0.8;
	}

	.jump__link {
		font-size: 10px;
		line-height: 1.2;
		padding: 10px 4px;
		min-width: 95px;
	}

	.jump__link-arrow {
		width: 18px;
		height: 20px;
	}
}

@media (max-width: 380px) {
	.discounts-zone__body {
		gap: 10px;
	}

	.unit__desc {
		max-width: 125px;
	}

	.area__title {
		font-size: 22px;
		line-height: 1.2;
		letter-spacing: 0.46px;
	}

	.area__opto {
		font-size: 15px;
		line-height: 0.8;
	}

	.jump__link {
		font-size: 9px;
		line-height: 1.15;
		padding: 10px 4px;
		min-width: 90px;
	}

	.jump__link-arrow {
		width: 16px;
		height: 18px;
	}

	.stock__link {
		font-size: 10px;
		line-height: 1.2;
		padding: 8px 14px;
	}
}
