*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: inherit;
  font-size: inherit;
}

em,
i,
address {
  font-style: normal;
}

html,
body {
  line-height: 1;
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse; /* cellspacing="0" */
  border-spacing: 0;
}

@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Regular.woff2") format("woff2"), url("../fonts/Onest-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body {
  background-color: #12161c;
  font-size: 1.875rem;
  color: #fff;
  font-family: "Onest", sans-serif;
}

.header {
  background: linear-gradient(259deg, #151b24 6.36%, #192230 20.13%, #331c28 41.15%, #4e151c 62.56%, #4d1319 81.7%, #451318 84.68%, #1c151b 97.11%);
}
.header__section {
  font-size: clamp(0.625rem, 0.493rem + 0.66vw, 1.25rem);
  max-width: 1900px;
  margin: 0 auto;
  padding: 20px clamp(0.625rem, 0.23rem + 1.97vw, 2.5rem);
}

.section__jump {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.3125rem;
     -moz-column-gap: 0.3125rem;
          column-gap: 0.3125rem;
}
.section__link-lang {
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
@media (any-hover: hover) {
  .section__link-lang:hover {
    cursor: pointer;
    color: #ff4a4a;
  }
}

.section__wrap {
  margin: 0 auto;
  max-width: 100vw;
  padding: clamp(0.625rem, -0.268rem + 4.46vw, 2.5rem);
}
@media (min-width: 62em) {
  .section__wrap {
    padding: 2.5rem;
  }
}

.block__presentation {
  background: linear-gradient(256deg, #192230 0.46%, #192230 46.69%, #132e50 56.52%, #0e2d53 85.65%, #121820 101.73%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 100em) {
  .block__presentation:not(:last-child) {
    margin-bottom: 40px;
  }
}
.block__presentation:not(:last-child) {
  margin-bottom: clamp(0.625rem, 0.156rem + 2.34vw, 2.5rem);
}
@media (max-width: 61.99875em) {
  .block__presentation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block__presentation > :nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .block__presentation > *:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.presentation__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.presentation__container {
  max-width: 131.6875rem;
  margin: 0 auto;
  padding: 2.8125rem 12.9375rem 3.75rem 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  min-height: clamp(18.75rem, 11.908rem + 34.21vw, 51.25rem);
}
@media (min-width: 125em) {
  .presentation__container {
    max-width: 250rem;
  }
}
@media (min-width: 62em) and (max-width: 115em) {
  .presentation__container {
    width: 100%;
    padding: 2.8125rem 9.375rem 3.75rem clamp(2.375rem, 0.767rem + 2.59vw, 3.75rem);
  }
}
@media (max-width: 61.99875em) {
  .presentation__container {
    width: 100%;
    padding: 2.8125rem 9.375rem 3.75rem 3.75rem;
    padding: clamp(0.938rem, 0.045rem + 4.46vw, 2.813rem) clamp(1.25rem, -2.619rem + 19.35vw, 9.375rem) clamp(1.25rem, 0.059rem + 5.95vw, 3.75rem) clamp(1.25rem, 0.059rem + 5.95vw, 3.75rem);
  }
}
.presentation__body {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 3.125rem;
}
@media (max-width: 61.99875em) {
  .presentation__body {
    width: 100%;
  }
}
.presentation__logo {
  width: 10rem;
  height: 2.6875rem;
  width: clamp(6.75rem, 5.567rem + 5.92vw, 10rem);
  height: clamp(1.813rem, 1.494rem + 1.59vw, 2.688rem);
}
.presentation__text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.1;
  letter-spacing: -1.58px;
  font-size: clamp(2.875rem, 0.462rem + 3.89vw, 4.938rem);
}
@media (max-width: 61.99875em) {
  .presentation__text-box {
    font-size: clamp(2.188rem, 1.86rem + 1.64vw, 2.875rem);
  }
}
.presentation__training-period {
  color: #377de5;
}
.presentation__inner-img {
  position: relative;
  overflow: hidden;
}
@media (min-width: 62em) {
  .presentation__inner-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    padding: 0 0 45.46% 0;
  }
}
@media (max-width: 61.99875em) {
  .presentation__inner-img {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    aspect-ratio: 540/400;
  }
}
.presentation__inner-img::after {
  content: "";
  position: absolute;
  right: -160px;
  bottom: -160px;
  width: 0;
  height: 0;
  border-left: 220px solid transparent;
  border-right: 270px solid transparent;
  border-bottom: 530px solid #12161c;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 62em) {
  .presentation__inner-img::after {
    -webkit-transform: rotate(24deg);
        -ms-transform: rotate(24deg);
            transform: rotate(24deg);
    border-right: clamp(6.188rem, -6.315rem + 20.17vw, 16.875rem) solid transparent;
  }
}
@media (max-width: 61.99875em) {
  .presentation__inner-img::after {
    right: -286px;
    top: -254px;
    -webkit-transform: rotate(49deg);
        -ms-transform: rotate(49deg);
            transform: rotate(49deg);
    border-bottom: clamp(18.688rem, 13.437rem + 26.25vw, 33.125rem) solid #12161c;
  }
}
.presentation__pic {
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.block__main-info {
  display: grid;
  row-gap: 2.5rem;
  row-gap: clamp(0.625rem, 0.156rem + 2.34vw, 2.5rem);
}
@media (min-width: 100em) {
  .block__main-info {
    grid-template-columns: 1fr 1fr;
  }
  .block__main-info:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
.block__main-info:not(:last-child) {
  margin-bottom: clamp(0.625rem, 0.156rem + 2.34vw, 2.5rem);
}
@media (max-width: 99.99875em) {
  .block__main-info {
    grid-template-columns: 1fr;
  }
}

.main-info__transformation {
  line-height: 1.4;
  letter-spacing: -0.01875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: linear-gradient(248deg, #192230 17.44%, #192230 24.18%, #172539 35.3%, #123057 50.83%, #11315a 65.06%, #102b4c 80.13%, #111823 93.33%);
  min-height: calc(17.5rem - 540 * (100vw - 20em) / 1279.98);
  padding: clamp(1.25rem, 0.789rem + 2.3vw, 3.438rem) clamp(1.25rem, 0.724rem + 2.63vw, 3.75rem) clamp(1.25rem, 0.724rem + 2.63vw, 3.75rem) clamp(1.25rem, 0.724rem + 2.63vw, 3.75rem);
  font-size: clamp(1.25rem, 1.094rem + 0.78vw, 1.875rem);
}
.main-info__transformation:nth-child(odd):last-child {
  grid-column: span 2;
}
.main-info__transformation:last-child .main-info__column {
  max-width: clamp(40.75rem, -13.417rem + 54.17vw, 48.875rem);
}
@media (max-width: 99.99875em) {
  .main-info__transformation:last-child .main-info__column {
    max-width: 100%;
  }
}
@media (max-width: 61.99875em) {
  .main-info__transformation {
    grid-column: span 2;
  }
}
@media (min-width: 100em) {
  .main-info__transformation:not(:first-child):nth-child(even) {
    margin-left: 2.5rem;
  }
}
.main-info__transformation p:not(:last-child) {
  margin-bottom: 0.75rem;
}

.block__main-desk {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2.5rem;
  row-gap: clamp(0.625rem, 0.156rem + 2.34vw, 2.5rem);
}
@media (min-width: 100em) {
  .block__main-desk:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
.block__main-desk:not(:last-child) {
  margin-bottom: clamp(0.625rem, 0.156rem + 2.34vw, 2.5rem);
}

.main-desk__proftraining {
  padding: 3.4375rem 3.75rem;
  min-height: 26.25rem;
  padding: clamp(0.938rem, 0.312rem + 3.13vw, 3.438rem) clamp(1.25rem, 0.34rem + 4.55vw, 3.75rem);
  min-height: calc(12.8125rem - 435 * (100vw - 20em) / 1279.98);
  background: linear-gradient(259deg, #151b24 6.36%, #192230 20.13%, #331c28 41.15%, #4e151c 62.56%, #4d1319 81.7%, #451318 84.68%, #1c151b 97.11%);
}
@media (min-width: 100em) {
  .main-desk__proftraining:not(:first-child):nth-child(even) {
    margin-left: 2.5rem;
  }
}
.main-desk__proftraining:nth-child(odd):last-child {
  grid-column: span 2;
}
.main-desk__proftraining:last-child .main-desk__column {
  max-width: clamp(40rem, -23.333rem + 63.33vw, 49.5rem);
}
@media (max-width: 99.99875em) {
  .main-desk__proftraining:last-child .main-desk__column {
    max-width: 100%;
  }
}
@media (max-width: 99.99875em) {
  .main-desk__proftraining {
    grid-column: span 2;
  }
}
.main-desk__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
.main-desk__title {
  font-size: 4.9375rem;
  color: #ff4a4a;
  line-height: 1.1;
  letter-spacing: -0.09875rem;
}
@media (min-width: 62em) {
  .main-desk__title {
    font-size: clamp(3.5rem, -6.083rem + 9.58vw, 4.938rem);
  }
  .main-desk__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 61.99875em) {
  .main-desk__title {
    font-size: clamp(2.25rem, 1.937rem + 1.56vw, 3.5rem);
    margin-bottom: clamp(0.625rem, 0.327rem + 1.49vw, 1.25rem);
  }
}
.main-desk__paragraph {
  line-height: 1.4;
  letter-spacing: -0.01875rem;
  font-size: clamp(1.25rem, 1.094rem + 0.78vw, 1.875rem);
}
.main-desk__paragraph p:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.block__career {
  background: linear-gradient(252deg, #192230 0%, #192230 42.37%, #142d4d 51.56%, #10325a 64.27%, #0f2d51 91.68%, #111822 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 100em) {
  .block__career:not(:last-child) {
    margin-bottom: 40px;
  }
}
.block__career:not(:last-child) {
  margin-bottom: clamp(0.625rem, 0.156rem + 2.34vw, 2.5rem);
}
@media (max-width: 61.99875em) {
  .block__career {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.career__inner-img {
  position: relative;
  overflow: hidden;
}
@media (min-width: 62em) {
  .career__inner-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    padding: 0 0 50.5% 0;
  }
}
@media (max-width: 61.99875em) {
  .career__inner-img {
    aspect-ratio: 1/1;
  }
}
.career__inner-img::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 220px solid transparent;
  border-right: 270px solid transparent;
  border-bottom: 530px solid #12161c;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 62em) {
  .career__inner-img::after {
    left: -309px;
    bottom: -228px;
    -webkit-transform: rotate(233deg);
        -ms-transform: rotate(233deg);
            transform: rotate(233deg);
    border-bottom: clamp(26.25rem, 18.208rem + 12.97vw, 33.125rem) solid #12161c;
  }
}
@media (max-width: 61.99875em) {
  .career__inner-img::after {
    left: -184px;
    top: -254px;
    border-left: 292px solid transparent;
    border-right: 268px solid transparent;
    border-bottom: 525px solid #12161c;
    -webkit-transform: rotate(62deg);
        -ms-transform: rotate(62deg);
            transform: rotate(62deg);
    border-left: clamp(7.688rem, 2.658rem + 25.15vw, 18.25rem) solid transparent;
    border-right: clamp(14.375rem, 13.244rem + 5.65vw, 16.75rem) solid transparent;
  }
}
.career__pic {
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
@media (max-width: 61.99875em) {
  .career__pic {
    -o-object-position: top;
       object-position: top;
  }
}
.career__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.career__container {
  max-width: 126.6875rem;
  margin: 0 auto;
  padding: 3.125rem 7.5rem 2.5rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 125em) {
  .career__container {
    max-width: 250rem;
  }
}
@media (max-width: 61.99875em) {
  .career__container {
    width: 100%;
    padding: 3.125rem 3.75rem 3.75rem 2.5rem;
  }
}
@media (max-width: 62em) {
  .career__container {
    padding: clamp(0.938rem, -0.104rem + 5.21vw, 3.125rem) 0 clamp(0.625rem, 0.149rem + 2.38vw, 1.625rem) 0;
  }
}
.career__body {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 62em) {
  .career__body {
    row-gap: 4.375rem;
  }
}
@media (max-width: 61.99875em) {
  .career__body {
    row-gap: clamp(1.563rem, 0.878rem + 3.42vw, 3rem);
  }
}
@media (max-width: 61.99875em) {
  .career__body {
    width: 100%;
  }
}
.career__caption {
  font-size: 4.9375rem;
  color: #fff;
  line-height: 1.1;
  letter-spacing: -0.09875rem;
}
@media (min-width: 62em) {
  .career__caption {
    font-size: clamp(3.5rem, -6.083rem + 9.58vw, 4.938rem);
  }
}
@media (max-width: 61.99875em) {
  .career__caption {
    font-size: clamp(2.25rem, 1.937rem + 1.56vw, 3.5rem);
  }
}
@media (max-width: 61.99875em) {
  .career__caption {
    padding: 0 clamp(1.25rem, 0.952rem + 1.49vw, 1.875rem);
  }
}
.career__column-box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 62em) {
  .career__column-box-text {
    row-gap: clamp(1.625rem, 0.601rem + 1.65vw, 2.5rem);
  }
}
@media (max-width: 61.99875em) {
  .career__column-box-text {
    row-gap: clamp(0.625rem, 0.149rem + 2.38vw, 1.625rem);
  }
}
.career__desk {
  background: linear-gradient(257deg, #12161c 0%, #12161c 8.73%, #12161c 38.61%, #11263f 48.72%, #112f53 63.36%, #14355e 78.25%, #18253a 96.91%);
}
@media (min-width: 62em) {
  .career__desk {
    padding: clamp(0.938rem, -1.621rem + 4.13vw, 3.125rem) clamp(1.25rem, -1.675rem + 4.72vw, 3.75rem);
    min-height: 26.25rem;
  }
}
@media (max-width: 61.99875em) {
  .career__desk {
    padding: clamp(0.938rem, 0.342rem + 2.98vw, 2.188rem) clamp(1.25rem, 0.357rem + 4.46vw, 3.125rem);
    min-height: calc(12.8125rem - 435 * (100vw - 20em) / 1279.98);
  }
}
.career__title {
  font-size: 4.9375rem;
  color: #377de5;
  line-height: 1.1;
  letter-spacing: -0.09875rem;
}
@media (min-width: 62em) {
  .career__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 61.99875em) {
  .career__title:not(:last-child) {
    margin-bottom: clamp(0.625rem, 0.327rem + 1.49vw, 1.25rem);
  }
}
@media (min-width: 62em) {
  .career__title {
    font-size: clamp(3.5rem, -6.083rem + 9.58vw, 4.938rem);
  }
}
@media (max-width: 61.99875em) {
  .career__title {
    font-size: clamp(2.25rem, 1.937rem + 1.56vw, 3.5rem);
  }
}
.career__paragraph {
  line-height: 1.4;
  letter-spacing: -0.01875rem;
}
@media (min-width: 62em) {
  .career__paragraph {
    font-size: clamp(1.563rem, 1.197rem + 0.59vw, 1.875rem);
  }
}
@media (max-width: 61.99875em) {
  .career__paragraph {
    font-size: clamp(1.25rem, 1.101rem + 0.74vw, 1.563rem);
  }
}

.block__process {
  background: linear-gradient(258deg, #1a2230 0.94%, #2e1e2a 17.24%, #471821 32.92%, #4f151c 51.17%, #451319 64%, #2e1419 81.12%, #16161c 99.07%);
  padding: 3.125rem 2.5rem 2.5rem 2.5rem;
  padding: clamp(0.938rem, 0.391rem + 2.73vw, 3.125rem) 0 clamp(0.625rem, 0.156rem + 2.34vw, 2.5rem) 0;
}
@media (min-width: 100em) {
  .block__process:not(:last-child) {
    margin-bottom: 40px;
  }
}
.block__process:not(:last-child) {
  margin-bottom: clamp(0.625rem, 0.156rem + 2.34vw, 2.5rem);
}
@media (min-width: 99.99875em) {
  .block__process {
    padding: 3.125rem 2.5rem 2.5rem 2.5rem;
  }
}

.process__caption {
  font-size: clamp(3.375rem, 0.445rem + 3.91vw, 4.938rem);
  font-size: clamp(2.125rem, 1.781rem + 1.72vw, 3.5rem);
  font-size: 4.9375rem;
  color: #fff;
  line-height: 1.1;
  letter-spacing: -0.09875rem;
  padding: 0 clamp(1.25rem, 0.938rem + 1.56vw, 2.5rem) 0 clamp(1.25rem, 0.938rem + 1.56vw, 2.5rem);
}
.process__caption:not(:last-child) {
  margin-bottom: 4.375rem;
  margin-bottom: clamp(1.563rem, 0.859rem + 3.52vw, 4.375rem);
}
@media (min-width: 100em) {
  .process__caption {
    padding: 0;
  }
}
@media (min-width: 62em) {
  .process__caption {
    font-size: clamp(3.5rem, -6.083rem + 9.58vw, 4.938rem);
  }
}
@media (max-width: 61.99875em) {
  .process__caption {
    font-size: clamp(2.25rem, 1.937rem + 1.56vw, 3.5rem);
  }
}
.process__grid-box {
  display: grid;
  row-gap: 40px;
  row-gap: clamp(0.625rem, 0.156rem + 2.34vw, 2.5rem);
}
@media (min-width: 100em) {
  .process__grid-box {
    grid-template-columns: 1fr 1fr;
  }
  .process__grid-box:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
.process__desk {
  padding: clamp(0.938rem, 0.312rem + 3.13vw, 3.438rem) clamp(1.25rem, 0.34rem + 4.55vw, 3.75rem);
  min-height: calc(12.8125rem - 435 * (100vw - 20em) / 1279.98);
  background: linear-gradient(258deg, #12161c 0%, #1b161c 33.91%, #570f13 54.72%, #6d161d 76.88%, #54141b 98.5%);
}
@media (min-width: 100em) {
  .process__desk:not(:first-child):nth-child(even) {
    margin-left: 2.5rem;
  }
}
.process__desk:nth-child(odd):last-child {
  grid-column: span 2;
}
@media (max-width: 99.99875em) {
  .process__desk {
    grid-column: span 2;
  }
}
.process__desk:nth-child(odd):last-child .process__column-flex {
  max-width: clamp(40rem, -23.333rem + 63.33vw, 49.5rem);
}
@media (max-width: 99.99875em) {
  .process__desk:nth-child(odd):last-child .process__column-flex {
    max-width: 100%;
  }
}
.process__desk p:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.process__title {
  font-size: 4.9375rem;
  color: #ff4a4a;
  line-height: 1.1;
  letter-spacing: -0.09875rem;
}
@media (min-width: 62em) {
  .process__title {
    font-size: clamp(3.5rem, -6.083rem + 9.58vw, 4.938rem);
  }
}
@media (max-width: 61.99875em) {
  .process__title {
    font-size: clamp(2.25rem, 1.937rem + 1.56vw, 3.5rem);
  }
}
@media (min-width: 62em) {
  .process__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 61.99875em) {
  .process__title:not(:last-child) {
    margin-bottom: clamp(0.625rem, 0.327rem + 1.49vw, 1.25rem);
  }
}
.process__paragraph {
  line-height: 1.4;
  letter-spacing: -0.01875rem;
  font-size: clamp(1.25rem, 1.094rem + 0.78vw, 1.875rem);
}

.block__benefits {
  background: linear-gradient(251deg, #192230 0.51%, #192230 44.56%, #132f53 67.15%, #102e54 84.83%, #111a26 102.78%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 100em) {
  .block__benefits:not(:last-child) {
    margin-bottom: 40px;
  }
}
.block__benefits:not(:last-child) {
  margin-bottom: clamp(0.625rem, 0.156rem + 2.34vw, 2.5rem);
}
@media (max-width: 61.99875em) {
  .block__benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block__benefits > :nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .block__benefits > *:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.benefits__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.benefits__container {
  max-width: 126.6875rem;
  margin: 0 auto;
  padding: 2.5rem 7.9375rem 2.5rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 125em) {
  .benefits__container {
    max-width: 250rem;
  }
}
@media (max-width: 61.99875em) {
  .benefits__container {
    width: 100%;
    padding: 3.125rem 3.75rem 3.75rem 2.5rem;
  }
}
@media (max-width: 62em) {
  .benefits__container {
    padding: clamp(0.938rem, -0.104rem + 5.21vw, 3.125rem) 0 clamp(0.625rem, 0.149rem + 2.38vw, 1.625rem) 0;
  }
}
.benefits__body {
  width: 52.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 62em) {
  .benefits__body {
    row-gap: 4.375rem;
  }
}
@media (max-width: 61.99875em) {
  .benefits__body {
    row-gap: clamp(0.625rem, -0.164rem + 3.95vw, 4.375rem);
  }
}
@media (max-width: 61.99875em) {
  .benefits__body {
    width: 100%;
  }
}
.benefits__text-box {
  font-size: 4.9375rem;
  color: #fff;
  line-height: 1.1;
  letter-spacing: -0.09875rem;
}
@media (min-width: 62em) {
  .benefits__text-box {
    font-size: clamp(3.5rem, -6.083rem + 9.58vw, 4.938rem);
  }
}
@media (max-width: 61.99875em) {
  .benefits__text-box {
    font-size: clamp(2.25rem, 1.937rem + 1.56vw, 3.5rem);
  }
}
@media (max-width: 61.99875em) {
  .benefits__text-box {
    padding: 0 clamp(1.25rem, 0.952rem + 1.49vw, 1.875rem);
  }
}
.benefits__inner-articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 62em) {
  .benefits__inner-articles {
    row-gap: 2.5rem;
  }
}
@media (max-width: 61.99875em) {
  .benefits__inner-articles {
    row-gap: clamp(0.625rem, 0.156rem + 2.34vw, 2.5rem);
  }
}
.benefits__desk {
  background: linear-gradient(257deg, #12161c 0%, #12161c 8.73%, #12161c 38.61%, #11263f 48.72%, #112f53 63.36%, #14355e 78.25%, #18253a 96.91%);
}
@media (min-width: 62em) {
  .benefits__desk {
    padding: clamp(0.938rem, -1.621rem + 4.13vw, 3.125rem) clamp(1.25rem, -1.675rem + 4.72vw, 3.75rem);
    min-height: 26.5625rem;
  }
}
@media (max-width: 61.99875em) {
  .benefits__desk {
    padding: clamp(0.938rem, 0.342rem + 2.98vw, 2.188rem) clamp(1.25rem, 0.357rem + 4.46vw, 3.125rem);
    min-height: calc(12.8125rem - 435 * (100vw - 20em) / 1279.98);
  }
}
.benefits__title {
  font-size: 4.9375rem;
  color: #377de5;
  line-height: 1.1;
  letter-spacing: -0.09875rem;
}
.benefits__title:not(:last-child) {
  margin-bottom: 1.25rem;
}
@media (min-width: 62em) {
  .benefits__title {
    font-size: clamp(3.5rem, -6.083rem + 9.58vw, 4.938rem);
  }
}
@media (max-width: 61.99875em) {
  .benefits__title {
    font-size: clamp(2.25rem, 1.937rem + 1.56vw, 3.5rem);
  }
  .benefits__title:not(:last-child) {
    margin-bottom: clamp(0.625rem, 0.327rem + 1.49vw, 1.25rem);
  }
}
.benefits__paragraph {
  line-height: 1.4;
  letter-spacing: -0.01875rem;
}
@media (min-width: 62em) {
  .benefits__paragraph {
    font-size: clamp(1.563rem, 1.197rem + 0.59vw, 1.875rem);
  }
}
@media (max-width: 61.99875em) {
  .benefits__paragraph {
    font-size: clamp(1.25rem, 1.101rem + 0.74vw, 1.563rem);
  }
}
.benefits__inner-img {
  position: relative;
  overflow: hidden;
}
@media (min-width: 62em) {
  .benefits__inner-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 47.5%;
            flex: 0 0 47.5%;
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    padding: 0 0 65.5% 0;
  }
}
@media (max-width: 61.99875em) {
  .benefits__inner-img {
    aspect-ratio: 1/1;
  }
}
.benefits__inner-img::after {
  content: "";
  position: absolute;
  right: -160px;
  bottom: -160px;
  width: 0;
  height: 0;
  border-left: 220px solid transparent;
  border-right: 270px solid transparent;
  border-bottom: 530px solid #12161c;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 62em) {
  .benefits__inner-img::after {
    -webkit-transform: rotate(24deg);
        -ms-transform: rotate(24deg);
            transform: rotate(24deg);
    border-right: clamp(13.188rem, -6.315rem + 20.17vw, 16.875rem) solid transparent;
  }
}
@media (max-width: 61.99875em) {
  .benefits__inner-img::after {
    right: -286px;
    top: -254px;
    -webkit-transform: rotate(49deg);
        -ms-transform: rotate(49deg);
            transform: rotate(49deg);
    border-bottom: clamp(18.688rem, 13.437rem + 26.25vw, 33.125rem) solid #12161c;
  }
}
.benefits__pic {
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}

.process__link {
  color: #ff4a4a;
  position: relative;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.process__link::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0%;
  height: 0.0625em;
  background-color: #ff4a4a;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
@media (any-hover: hover) {
  .process__link:hover {
    cursor: pointer;
  }
  .process__link:hover::before {
    width: 100%;
    background-color: #ff4a4a;
  }
}

.block__contact {
  background: linear-gradient(249deg, #192230 0%, #192230 43.17%, #102f55 66.07%, #112742 88.82%, #121821 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 62em) {
  .block__contact:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media (max-width: 61.99875em) {
  .block__contact {
    margin-bottom: clamp(0.625rem, 0.23rem + 1.97vw, 2.5rem);
  }
}
@media (max-width: 61.99875em) {
  .block__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact__inner-img {
  position: relative;
  overflow: hidden;
}
@media (min-width: 62em) {
  .contact__inner-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    padding: 0 0 50% 0;
  }
}
@media (max-width: 61.99875em) {
  .contact__inner-img {
    aspect-ratio: 1/1;
  }
}
.contact__inner-img::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 220px solid transparent;
  border-right: 270px solid transparent;
  border-bottom: 530px solid #12161c;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 62em) {
  .contact__inner-img::after {
    left: -309px;
    bottom: -228px;
    -webkit-transform: rotate(233deg);
        -ms-transform: rotate(233deg);
            transform: rotate(233deg);
    border-bottom: clamp(26.25rem, 18.208rem + 12.97vw, 33.125rem) solid #12161c;
  }
}
@media (max-width: 61.99875em) {
  .contact__inner-img::after {
    left: -184px;
    top: -254px;
    border-left: 292px solid transparent;
    border-right: 268px solid transparent;
    border-bottom: 525px solid #12161c;
    -webkit-transform: rotate(62deg);
        -ms-transform: rotate(62deg);
            transform: rotate(62deg);
    border-left: clamp(7.688rem, 2.658rem + 25.15vw, 18.25rem) solid transparent;
    border-right: clamp(14.375rem, 13.244rem + 5.65vw, 16.75rem) solid transparent;
  }
}
.contact__pic {
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 61.99875em) {
  .contact__pic {
    -o-object-position: top;
       object-position: top;
  }
}
.contact__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.contact__container {
  max-width: 126.6875rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3.125rem 7.5rem 2.5rem 2.5rem;
}
@media (min-width: 125em) {
  .contact__container {
    max-width: 250rem;
  }
}
@media (max-width: 61.99875em) {
  .contact__container {
    width: 100%;
    padding: 3.125rem 3.75rem 3.75rem 3.75rem;
  }
}
@media (max-width: 61.99875em) and (max-width: 62em) {
  .contact__container {
    padding: clamp(0.938rem, -0.104rem + 5.21vw, 3.125rem) 0 clamp(0.625rem, 0.149rem + 2.38vw, 1.625rem) 0;
  }
}
@media (max-width: 62em) {
  .contact__container {
    width: 100%;
  }
}
.contact__body {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 62em) {
  .contact__body {
    row-gap: 4.375rem;
  }
}
@media (max-width: 61.99875em) {
  .contact__body {
    row-gap: clamp(0.625rem, -0.164rem + 3.95vw, 4.375rem);
  }
}
@media (max-width: 61.99875em) {
  .contact__body {
    width: 100%;
  }
}
.contact__text-box {
  font-size: 4.9375rem;
  color: #fff;
  line-height: 1.1;
  letter-spacing: -0.09875rem;
}
@media (min-width: 62em) {
  .contact__text-box {
    font-size: clamp(3.5rem, -6.083rem + 9.58vw, 4.938rem);
  }
}
@media (max-width: 61.99875em) {
  .contact__text-box {
    font-size: clamp(2.25rem, 1.937rem + 1.56vw, 3.5rem);
  }
}
@media (max-width: 61.99875em) {
  .contact__text-box {
    padding: 0 clamp(1.25rem, 0.952rem + 1.49vw, 1.875rem);
  }
}
.contact__desk {
  background: linear-gradient(260deg, #12161c -1.09%, #12161c 45.01%, #122c4e 64.38%, #133155 94.02%);
}
@media (min-width: 62em) {
  .contact__desk {
    padding: clamp(0.938rem, -1.621rem + 4.13vw, 3.125rem) clamp(1.25rem, -1.675rem + 4.72vw, 3.75rem);
    min-height: 26.5625rem;
  }
}
@media (max-width: 61.99875em) {
  .contact__desk {
    padding: clamp(0.938rem, 0.342rem + 2.98vw, 2.188rem) clamp(1.25rem, 0.357rem + 4.46vw, 3.125rem);
  }
}
.contact__title {
  font-size: 4.9375rem;
  color: #377de5;
  line-height: 1.1;
  letter-spacing: -0.09875rem;
}
.contact__title:not(:last-child) {
  margin-bottom: 1.25rem;
}
@media (min-width: 62em) {
  .contact__title {
    font-size: clamp(3.5rem, -6.083rem + 9.58vw, 4.938rem);
  }
}
@media (max-width: 61.99875em) {
  .contact__title {
    font-size: clamp(2.25rem, 1.937rem + 1.56vw, 3.5rem);
  }
  .contact__title:not(:last-child) {
    margin-bottom: clamp(0.625rem, 0.327rem + 1.49vw, 1.25rem);
  }
}
.contact__paragraph {
  line-height: 1.4;
  letter-spacing: -0.01875rem;
}
@media (min-width: 62em) {
  .contact__paragraph {
    font-size: clamp(1.563rem, 1.197rem + 0.59vw, 1.875rem);
  }
  .contact__paragraph:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
@media (max-width: 61.99875em) {
  .contact__paragraph {
    font-size: clamp(1.25rem, 1.101rem + 0.74vw, 1.563rem);
  }
  .contact__paragraph:not(:last-child) {
    margin-bottom: clamp(1.875rem, 1.28rem + 2.98vw, 3.125rem);
  }
}
.contact__link-address {
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
@media (any-hover: hover) {
  .contact__link-address:hover {
    cursor: pointer;
    color: #ff4a4a;
  }
}
.contact__link-tel {
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
@media (any-hover: hover) {
  .contact__link-tel:hover {
    cursor: pointer;
    color: #ff4a4a;
  }
}
.contact__link-mail {
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
@media (any-hover: hover) {
  .contact__link-mail:hover {
    cursor: pointer;
    color: #ff4a4a;
  }
}

.block__enrollment {
  background: linear-gradient(255deg, #192230 0%, #161C26 42.28%, #141920 69.68%, #12161D 100%);
  padding: 3.125rem 3.75rem 3.75rem 3.75rem;
}
@media (max-width: 99.99875em) {
  .block__enrollment {
    padding: clamp(1.563rem, 1.172rem + 1.95vw, 3.125rem) 0 clamp(0.625rem, -0.156rem + 3.91vw, 3.75rem) 0;
  }
}

.enrollment__title {
  font-size: 4.9375rem;
  color: #fff;
  line-height: 1.1;
  letter-spacing: -0.09875rem;
  padding: 0 clamp(1.25rem, 0.938rem + 1.56vw, 2.5rem) 0 clamp(1.25rem, 0.938rem + 1.56vw, 2.5rem);
}
.enrollment__title:not(:last-child) {
  margin-bottom: 4.375rem;
  margin-bottom: clamp(1.563rem, 0.859rem + 3.52vw, 4.375rem);
  text-transform: capitalize;
}
@media (min-width: 62em) {
  .enrollment__title {
    font-size: clamp(3.5rem, -6.083rem + 9.58vw, 4.938rem);
  }
}
@media (max-width: 61.99875em) {
  .enrollment__title {
    font-size: clamp(2.25rem, 1.937rem + 1.56vw, 3.5rem);
  }
}
.enrollment__title--ua {
  font-size: 4.9375rem;
  color: #fff;
  line-height: 1.1;
  letter-spacing: -0.09875rem;
  padding: 0 clamp(1.25rem, 0.938rem + 1.56vw, 2.5rem) 0 clamp(1.25rem, 0.938rem + 1.56vw, 2.5rem);
}
.enrollment__title--ua:not(:last-child) {
  margin-bottom: 4.375rem;
  margin-bottom: clamp(1.563rem, 0.859rem + 3.52vw, 4.375rem);
}
@media (min-width: 62em) {
  .enrollment__title--ua {
    font-size: clamp(3.5rem, -6.083rem + 9.58vw, 4.938rem);
  }
}
@media (max-width: 61.99875em) {
  .enrollment__title--ua {
    font-size: clamp(2.25rem, 1.937rem + 1.56vw, 3.5rem);
  }
}
.enrollment__form-wrap:not(:last-child) {
  margin-bottom: 2.5rem;
}
@media (min-width: 100em) {
  .enrollment__form-wrap {
    display: grid;
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 61.99875em) {
  .enrollment__form-wrap:not(:last-child) {
    margin-bottom: clamp(0.625rem, 0.156rem + 2.34vw, 2.5rem);
  }
}
.enrollment__label {
  grid-column: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 0.625rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: linear-gradient(269deg, #12161C 0%, #12161C 19.35%, #13181F 40.38%, #151B24 56.88%, #151D28 79.92%, #171C25 98.41%);
  padding: clamp(0.938rem, 0.477rem + 2.3vw, 3.125rem) clamp(1.25rem, 0.724rem + 2.63vw, 3.75rem);
  font-size: clamp(1.25rem, 1.118rem + 0.66vw, 1.875rem);
}
@media (min-width: 62em) {
  .enrollment__label:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 61.99875em) {
  .enrollment__label:not(:last-child) {
    margin-bottom: clamp(0.625rem, 0.156rem + 2.34vw, 2.5rem);
  }
}
.enrollment__field {
  background-color: transparent;
  color: #ff4a4a;
  border: none;
  padding: 0.625rem 0;
  outline: 0;
}
.enrollment__field:focus {
  border: 0.5px solid #ff4a4a;
  border-radius: 0.625rem;
  padding: 0.625rem;
}
.enrollment__button {
  text-align: center;
  background: linear-gradient(269deg, #12161C 0%, #12161C 19.35%, #13181F 40.38%, #151B24 56.88%, #151D28 79.92%, #171C25 98.41%);
  padding: clamp(1.375rem, 1.007rem + 1.84vw, 3.125rem) clamp(1.625rem, 1.178rem + 2.24vw, 3.75rem);
}
.enrollment__join {
  font-size: 4.9375rem;
  color: rgba(255, 255, 255, 0.4);
  line-height: 1.1;
  letter-spacing: -0.09875rem;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
@media (any-hover: hover) {
  .enrollment__join:hover {
    cursor: pointer;
    color: #ff4a4a;
  }
}
@media (min-width: 62em) {
  .enrollment__join {
    font-size: clamp(3.5rem, -6.083rem + 9.58vw, 4.938rem);
  }
}
@media (max-width: 61.99875em) {
  .enrollment__join {
    font-size: clamp(2.25rem, 1.937rem + 1.56vw, 3.5rem);
  }
}
.enrollment__messageuser {
  grid-column: span 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 0.625rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: clamp(1.25rem, 1.118rem + 0.66vw, 1.875rem);
  background: linear-gradient(269deg, #12161C 0%, #12161C 19.35%, #13181F 40.38%, #151B24 56.88%, #151D28 79.92%, #171C25 98.41%);
  padding: clamp(0.938rem, 0.477rem + 2.3vw, 3.125rem) clamp(1.25rem, 0.724rem + 2.63vw, 3.75rem);
}
.enrollment__messageuser:not(:last-child) {
  margin-bottom: 2.5rem;
}
.enrollment__messageuser-more {
  background-color: transparent;
  color: #ff4a4a;
  border: none;
  padding: 0.625rem 0;
  outline: 0;
}
.enrollment__messageuser-more:focus {
  border: 0.5px solid #ff4a4a;
  border-radius: 0.625rem;
  padding: 0.625rem;
}

.section__authority-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  padding: 13.75rem 0 9.375rem;
}
@media (max-width: 61.99875em) {
  .section__authority-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.875rem;
    padding: 3.75rem 0 3.75rem;
    font-size: clamp(1.25rem, 0.951rem + 1.49vw, 1.875rem);
  }
}
.section__authority-link {
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
@media (any-hover: hover) {
  .section__authority-link:hover {
    cursor: pointer;
    color: #ff4a4a;
  }
}
.section__send-button {
  text-align: center;
  padding-bottom: 6.25rem;
  font-size: clamp(1.25rem, 1.118rem + 0.66vw, 1.875rem);
}
@media (min-width: 61.99875em) {
  .section__send-button {
    display: none;
  }
}
.section__send-form {
  color: #377de5;
  padding: 0.9375em 2.5em;
  background: linear-gradient(86deg, #122F54 2.11%, #122237 63.76%, #12161D 100%);
  border-radius: 1.875em;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
@media (any-hover: hover) {
  .section__send-form:hover {
    cursor: pointer;
    color: #ff4a4a;
  }
}