@import url("fonts.css");
@import url("reset.css");

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
}

body {
	font-family: "Causten", sans-serif;
	font-size: 14px;
	color: #3c4242;
}

.main__section > [class*="section__"]:not(:last-child) {
	margin-bottom: 70px;
}

.main__section {
	padding: 230px 0 110px 0;
}

/* !Розділ header */
.header__section {
	background-color: rgba(82, 54, 52, 0.5);
	font-weight: 500;
	font-size: 25px;
	line-height: 1.4;
	color: white;
	position: fixed;
	width: 100%;
	z-index: 50;
}

.section__inner-header {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 15px;
	min-height: 150px;
	display: flex;
	flex-wrap: wrap;
	gap: 150px;
}

.menu-header__menu-desc {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	align-items: center;
}

.menu-header__form-box {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
	align-items: center;
}

/* анимація */

.form-box__link {
	position: relative;
	overflow: hidden;
	transition: all 0.3s;
}

.form-box__link::after {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 0;
	height: 2px;
	background-color: #523634;
	transition: all 0.3s;
}

.form-box__link:hover::after {
	width: 100%;
	left: 0;
}

/* ! Форма Contact Us */

.section__contact-us {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 15px;
	text-align: center;
}

.desc__title {
	color: #37393f;
	font: 700 40px "Poppins", sans-serif;
	line-height: 1.21; /* 48.4/40 */
	margin-bottom: 40px;
	text-transform: capitalize;
}

.contact-us input::placeholder,
.contact-us textarea::placeholder {
	text-transform: capitalize;
}

.desc__subtitle {
	color: #37393f;
	font: 500 18px "Inter", sans-serif;
	line-height: 0.9; /* 16/18 */
	display: flex;
	gap: 6px;
	text-transform: capitalize;
	justify-content: center;
	margin-bottom: 16px;
}

.desc__subtitle::before {
	content: "";
	height: 12px;
	flex: 0 0 12px;
	align-self: flex-start;
	background: #40ddb6;
	margin-top: 2px;
}

[class*="element__field-"] {
	color: #37393f;
	font-family: Inter;
	font-size: 18px;
	font-weight: 400;
	line-height: 0.9; /* 16/18 */
	padding: 0 40px;
	height: 65px;
	background: #f8f8f8;
	border: 1px solid #ddd;
}

.block__set-inputs {
	display: flex;
	flex-wrap: wrap;
	row-gap: 28px;
	column-gap: 35px;
}

.set-inputs__element {
	flex: 1 1 45%;
	min-width: 100px;
}

.set-inputs__element input {
	width: 100%;
}

.element__text-area {
	color: #37393f;
	font-family: Inter;
	font-size: 18px;
	font-weight: 400;
	line-height: 0.9; /* 16/18 */
	padding: 22px 0 0 40px;
	background: #f8f8f8;
	border: 1px solid #ddd;
	width: 100%;
	min-height: 222px;
	resize: vertical;
	margin-bottom: 50px;
}

[class*="element__field-"]:focus-visible,
.element__text-area:focus-visible {
	outline: 2px solid #0ead86;
	border-radius: 2px;
}

.block__submit-aboutus {
	color: #fff;
	text-align: center;
	font: 600 18px Inter, sans-serif;
	line-height: 0.9;
	padding: 21px 61px 22px 61px;
	background: #6b77e5;
}

.block__submit-aboutus:hover {
	background: #3f4797;
}

/* ! Форма My Info */
.section__my-info {
	max-width: 925px;
	margin: 0 auto;
	padding: 0 15px;
}

.my-info__box-text {
	margin-bottom: 50px;
}

.my-info__box-text > *:not(:last-child) {
	margin-bottom: 20px;
}

.box-text__title {
	font: 600 28px "Core Sans C", sans-serif;
	line-height: 1.2; /* 33.5/28 */
	letter-spacing: 0.56px;
}

.box-text__subtitle {
	font: 600 22px "Core Sans C", sans-serif;
	line-height: 1.5; /* 33.5/22 */
	letter-spacing: 0.44px;
}

.cell-form__signature {
	font-size: 18px;
	font-weight: 600;
	line-height: 0.9; /* 16/18 */
	letter-spacing: 0.36px;
}

.row__checkbox {
	font-size: 20px;
	line-height: 0.8; /* 16/20 */
	letter-spacing: 0.36px;
	color: #3c4242;
}

.cell-form__field,
.cell-form__delivery {
	color: #807d7e;
	font-size: 16px;
	line-height: 1;
	font-family: inherit;
}

.blank__body {
	display: flex;
	flex-wrap: wrap;
	row-gap: 31px;
	column-gap: 42px;
	margin-bottom: 30px;
}

.my-info__blank > :nth-child(2) {
	margin-bottom: 61px;
}

.row__cell-form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	row-gap: 11px;
	flex: 1 1 45%;
	width: 100%;
	min-width: 90px;
}

.cell-form__delivery {
	width: 100%;
	min-height: 149px;
	border-radius: 8px;
	background: #f6f6f6;
	padding: 18px 0 0 22px;
	resize: vertical;
}

.cell-form__field {
	height: 52px;
	border-radius: 8px;
	background: #f6f6f6;
	padding: 0 22px;
}

.cell-form__field--down {
	margin-top: 0px;
	appearance: none;
	background: #f6f6f6 url("../img/down.svg") right 22px center no-repeat;
	border-radius: 8px;
}

/* Checkbox */

.row__checkbox {
	position: relative;
}

.cell__check {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
}

.row__checkbox:not(:last-child) {
	margin-bottom: 12px;
}

.cell__check:focus-visible + .cell__signature::before {
	outline: 2px solid black;
}

.cell__signature {
	display: inline-flex;
	column-gap: 11px;
	cursor: pointer;
}

.cell__signature::before {
	content: "";
	width: 20px;
	height: 20px;
	flex: 0 0 20px;
	border: 2px solid #bebcbd;
	border-radius: 2px;
}

.cell__check:checked + .cell__signature::before {
	background: url("../img/check_box.svg") 0 0 / cover no-repeat;
}

/* Кнопки */
.blank__button {
	display: inline-flex;
	flex-wrap: wrap;
	column-gap: 20px;
	row-gap: 15px;
}

.button__save {
	color: #fff;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	line-height: 0.8; /* 16/20 */
	border-radius: 8px;
	background: #8a33fd;
	padding: 12px 40px;
}
.button__reset {
	color: #807d7e;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	line-height: 0.8; /* 16/20 */
	border-radius: 8px;
	background: #f6f6f6;
	padding: 12px 40px;
}

.button__save:hover {
	background: #6f2ac9;
}
.button__reset:hover {
	background: #dadada;
	color: #474747;
}

/* ! Форма My Info */

.section__checkout-head-block {
	max-width: 870px;
	margin: 0 auto;
	padding: 0 15px;
}

.separate-block__checkout-inner {
	max-width: 832px;
	margin: 0 auto;
	padding: 0 15px;
}

[class*="separate-block__"]:not(:last-child) {
	margin-bottom: 32px;
}

.checkout-inner__box {
	margin-bottom: 50px;
}

.checkout-inner__box > *:not(:last-child) {
	margin-bottom: 20px;
}
.checkout-inner__caption {
	color: #3c4242;
	font: 600 28px "Core Sans C", sans-serif;
	line-height: 1.2; /* 33.5/28 */
	letter-spacing: 0.56px;
	display: flex;
	gap: 15px;
	text-transform: capitalize;
}

.checkout-inner__caption:before {
	content: "";
	width: 6px;
	height: 28px;
	border-radius: 10px;
	background: #8a33fd;
	flex: 0 0 6px;
	margin-top: 2px;
}

.checkout-inner__sub-caption {
	font: 600 22px "Core Sans C", sans-serif;
	line-height: 1.5; /* 33.5/22 */
	letter-spacing: 0.44px;
	text-transform: capitalize;
}

.personal-data__user-form {
	display: flex;
	flex-wrap: wrap;
	column-gap: 38px;
	row-gap: 28px;
	margin-bottom: 28px;
}

.user-form__info {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 10px;
	flex: 1 1 45%;
	width: 100%;
	min-width: 100px;
}

.info__client {
	height: 49px;
	border-radius: 8px;
	background: #f6f6f6;
	padding: 0 20px;
}

.info__subtitle,
.registration__subtitle,
.client__subtitle {
	font-weight: 600;
	line-height: 1;
	letter-spacing: 0.32px;
}

.personal-data__location {
	font-family: inherit;
	display: flex;
	flex-wrap: wrap;
	column-gap: 32px;
	row-gap: 28px;
	margin-bottom: 28px;
}

.location__registration {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 10px;
	flex: 1 1 30%;
	min-width: 100px;
}

.location__registration input {
	width: 100%;
}

.registration__client,
.registration__list {
	height: 49px;
	border-radius: 8px;
	background: #f6f6f6;
	padding: 0 20px;
}

.registration__list {
	font-family: inherit;
	color: #807d7e;
}

.registration__list--down {
	margin-top: 0px;
	appearance: none;
	background: #f6f6f6 url("../img/down_check_out.svg") right 22px center no-repeat;
	border-radius: 8px;
}
.personal-data__telephone {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 43px;
}

.telephone__client {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 10px;
	flex: 0 1 382px;
	align-self: flex-start;
}

.client__data-phone {
	height: 49px;
	border-radius: 8px;
	background: #f6f6f6;
	padding: 0 20px;
}
.personal-data__delivery {
	border-radius: 8px;
	background: #8a33fd;
	padding: 16px 20px;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	line-height: 0.9; /* 16/18 */
	margin-bottom: 20px;
}

.personal-data__delivery:hover {
	background: #6f2ac9;
}

.save-info__subtitle {
	font-size: 18px;
	line-height: 0.9;
}

.personal-data__save-info {
	position: relative;
}

.save-info__checkout {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
}

.save-info__subtitle::before {
	content: "";
	width: 20px;
	height: 20px;
	flex: 0 0 20px;
	border: 2px solid #bebcbd;
	border-radius: 2px;
}

.save-info__subtitle {
	display: inline-flex;
	column-gap: 11px;
	cursor: pointer;
}

.save-info__checkout:focus-visible + .save-info__subtitle::before {
	outline: 2px solid black;
}

.save-info__checkout:checked + .save-info__subtitle::before {
	background: url("../img/check_box.svg") 0 0 / cover no-repeat;
}

/* TODO Shipping, Payment */
/* ?Форма - Shipping Address */

.shell__wrap-main {
	border-top: 1px solid #edeef2;
}

.shell__wrap-main:not(:last-child) {
	padding: 30px 0;
}

.shell__wrap-main:last-child {
	padding: 30px 0 0 0;
}

.separate-block__shell h3 {
	font: 600 22px "Core Sans C", sans-serif;
	line-height: 1.5; /* 33.5/22 */
	letter-spacing: 0.44px;
	margin-bottom: 8px;
}

.address-shipping__desc,
.method-shipping__desc,
.wrap-main__method-payment {
	margin-bottom: 30px;
}

.address-shipping__paragraph > p:not(:last-child),
.desc__paragraph > p:not(:last-child) {
	margin-bottom: 10px;
}

.address-shipping__paragraph,
.method-payment__paragraph,
.desc__paragraph,
.radio-wrap__text-zone,
.cash-delivery__text-zone {
	font-size: 16px;
}

.address-shipping__inner-block,
.method-shipping__holder,
.payment-form__inner-block {
	border-radius: 12px;
	background: #f6f6f6;
}

.method-payment__inner-block > *:not(:last-child) {
	margin-bottom: 50px;
}

.address-shipping__holder,
.method-shipping-inner__cost {
	padding: 38px 28px;
}

.payment-form__inner-block {
	padding: 45px 48px 45px 28px;
}

.box-address__delivery:nth-child(1),
.method-shipping-inner__cost > :nth-child(1) {
	padding-bottom: 25px;
	border-bottom: 1px solid #bebcbd;
}

.box-address__delivery:not(:last-child),
.method-shipping-inner__cost > *:not(:last-child) {
	margin-bottom: 25px;
}

.box-address__delivery,
.cost__fact,
.desc__caption,
.delivery-wrap__price,
.wrap-main__payment-form label {
	font-size: 20px;
	font-weight: 700;
	line-height: 0.8; /* 16/20 */
}

.desc__paragraph {
	color: #807d7e;
	font-weight: 500;
	line-height: 1;
}

.box-address__delivery {
	position: relative;
}

.delivery__check {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
}

.box-address__label::before {
	content: "";
	width: 18px;
	height: 18px;
	flex: 0 0 18px;
	border: 2px solid #3c4242;
	border-radius: 100%;
}

.delivery__check:focus-visible + .box-address__label::before {
	outline: 1px solid black;
}

.delivery__check:checked + .box-address__label::before {
	background: url("../img/circle_radio.svg") center / 10px 10px no-repeat;
}

.box-address__label {
	display: inline-flex;
	column-gap: 19px;
	cursor: pointer;
}

.cost__delivery-wrap {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	justify-content: space-between;
}

.delivery-wrap__desс {
	display: flex;
	flex-direction: column;
	gap: 8px;
	flex: 1 1 80%;
}

/* ?Форма - Payment Method */

.radio-wrap__payment-inner-form > *:not(:last-child),
.payment-form__radio-wrap > *:not(:last-child) {
	margin-bottom: 30px;
}

.wrap-main__payment-form > *:not(:last-child) {
	margin-bottom: 50px;
}

.radio-wrap__marker,
.cash-delivery__marker {
	padding-left: 37px;
}

.radio-wrap__marker,
.cash-delivery__marker,
.paypal-block__marker {
	cursor: pointer;
}

.radio-wrap__marker,
.cash-delivery__marker {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.cash-delivery__text-zone,
.radio-wrap__text-zone {
	color: #807d7e;
	font-weight: 500;
	line-height: 1;
}

.radio-wrap__text-zone > p:not(:last-child),
.cash-delivery__text-zone > p:not(:last-child) {
	margin-bottom: 5px;
}

/* Credit Card */

.payment-form__radio-wrap {
	position: relative;
}

.radio-wrap__card-radio {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
}

.radio-wrap__marker {
	display: inline-flex;
	flex-direction: column;
	flex-wrap: wrap;
	row-gap: 5px;
	position: relative;
}

.radio-wrap__marker::before {
	content: "";
	width: 18px;
	height: 18px;
	border: 3px solid #f6f6f6;
	outline: 1px solid #3c4242;
	border-radius: 100%;
	position: absolute;
	top: 9px;
	left: 0;
}

.radio-wrap__payment-inner-form {
	display: none;
	padding: 0 28px 30px 38px;
}

.payment-form__paypal {
	padding-top: 30px;
}

.radio-wrap__card-radio:checked + .radio-wrap__marker::before {
	background-color: #807d7e;
}

.radio-wrap__card-radio:checked ~ .radio-wrap__payment-inner-form,
.radio-wrap__card-radio:focus-visible ~ .radio-wrap__payment-inner-form {
	display: block;
}

.cash-delivery__inner {
	display: inline-flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 5px;
}

/* Credit Card */

.payment-inner-form__thumb {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.payment-inner-form__thumb a:hover {
	outline: 1.5px solid #8a33fd;
	border-radius: 10px;
}

.trumb__icon {
	border-radius: 10px;
}

.payment-form__cash-delivery {
	padding: 30px 0;
	border-top: 1px solid #bebcbd;
	border-bottom: 1px solid #bebcbd;
}

/*Cash Delivery */

.payment-form__cash-delivery {
	position: relative;
}

.cash-delivery__radio {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
}

.cash-delivery__marker {
	display: inline-flex;
	flex-direction: column;
	flex-wrap: wrap;
	row-gap: 5px;
	position: relative;
}

.cash-delivery__marker::before {
	content: "";
	width: 18px;
	height: 18px;
	border: 3px solid #f6f6f6;
	outline: 1px solid #3c4242;
	border-radius: 100%;
	position: absolute;
	top: 9px;
	left: 0;
}

.cash-delivery__radio:checked + .cash-delivery__marker::before {
	background-color: #807d7e;
}

.payment-inner-form__data-card input {
	height: 49px;
	border-radius: 8px;
	border: 1px solid #3c4242;
	padding: 0 20px;
	background: #f6f6f6;
}

.payment-inner-form__data-card {
	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 28px;
}

.data-card__item {
	flex: 1 1 40%;
	min-width: 100px;
}

.data-card__item input {
	width: 100%;
}

.data-card__item:nth-child(4) {
	position: relative;
}

.data-card__eye {
	position: absolute;
	top: 14px;
	right: 20px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

/* PayPal */
.payment-form__paypal {
	position: relative;
}

.paypal-block__radio {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
}

.paypal-block__marker {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 19px;
}

.paypal-block__marker::before {
	content: "";
	width: 18px;
	height: 18px;
	border: 3px solid #f6f6f6;
	outline: 1px solid #3c4242;
	border-radius: 100%;
}

.paypal-block__radio:checked + .paypal-block__marker::before {
	background-color: #807d7e;
}

/* button pay-now */

.payment-form__pay-now {
	border-radius: 8px;
	background: #8a33fd;
	padding: 16px 20px;
	color: #fff;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	line-height: 0.9; /* 16/18 */
	text-transform: capitalize;
}

.payment-form__pay-now:hover {
	background: #6f2ac9;
}

/* !Розділ footer */
.footer__section {
	background-color: #b6452c;
	padding: 40px 0;
}
