@import url("fonts.css");
@import url("reset.css");

body {
	font: 18px "Inter", sans-serif;
	color: #7d7d7d;
}

/* Body */

.main-block {
	margin: 140px auto;
	max-width: 1152px;
}

.set-brandbook_client-projects {
	font-size: 0;
}

.brochure_project-first,
.brochure_project-second,
.brochure_project-third {
	display: inline-block;
	width: 100%;
	max-width: 384px;
	font-size: 14px;
}

.thumb-area_project {
	min-height: 501px;
	max-width: 100%;
}

.brochure_project-first .thumb-area_project {
	background: url("../img/computer.webp") no-repeat;
	margin-bottom: 24px;
	margin-right: 34px;
}

.brochure_project-second .thumb-area_project {
	background: url("../img/man_with_laptop.webp") no-repeat;
	margin-bottom: 24px;
	margin-right: 34px;
}

.brochure_project-third .thumb-area_project {
	background: url("../img/trading_chart.webp") no-repeat;
	margin-bottom: 24px;
}

.brochure_project-fourth .thumb-area_project {
	background: url("../img/businesswoman.webp") no-repeat;
	margin-bottom: 24px;
	margin-right: 34px;
}

.brochure_project-fifth .thumb-area_project {
	background: url("../img/business_meeting.webp") no-repeat;
	margin-bottom: 24px;
	margin-right: 34px;
}

.brochure_project-sixth .thumb-area_project {
	background: url("../img/coffee_on_table.webp") no-repeat;
	margin-bottom: 24px;
}

.zone-text_thumb h4 {
	font: 600 20px "Poppins", sans-serif;
	color: #37393f;
	line-height: 1.27; /* 25.4/20 */
	margin-bottom: 10px;
}

.date-zone_project {
	line-height: 1.46; /* 20.466/14 */
	background: url("../img/label_note.svg") 0 center no-repeat;
	padding-left: 25px;
	min-height: 20px;
}

/* сброс margin */
[class*="_not_margin"] {
	margin-bottom: 0;
}

li.item_not_margin {
	margin-right: 0;
	margin-bottom: 0;
}
