@import url("fonts.css");
@import url("reset.css");

/* TODO Основні налаштування */
.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
}

body {
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	line-height: 1.1; /* 13.2/12 */
	letter-spacing: -0.24px;
	color: #fff;
}

.main__section {
	max-width: 864px;
	margin: 0 auto;
	padding: 100px 15px 0 15px;
}

.products__container {
	display: grid;
	grid-template-columns: 5.8fr 1.8fr 3fr 4fr 2fr;
	grid-template-rows: 19% 14% 13% 35%;
	gap: 15px;
	height: 324px;
}

.section__title {
	color: #fc3448;
	font-size: 40px;
	text-align: center;
}

.section__title:not(:last-child) {
	margin-bottom: 40px;
}

/* ?!Блок - Зображення */
/* TODO Локація */

.container__item-poster img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container__item-poster {
	grid-column: 1 / 4;
	grid-row: 1 / 5;

	clip-path: polygon(
		97.586% 0.015%,
		61.721% 0.015%,
		61.721% 0.015%,
		61.331% 0.064%,
		60.961% 0.204%,
		60.617% 0.429%,
		60.302% 0.73%,
		60.021% 1.1%,
		59.781% 1.532%,
		59.585% 2.017%,
		59.439% 2.548%,
		59.348% 3.118%,
		59.317% 3.718%,
		59.317% 41.052%,
		59.317% 41.052%,
		59.285% 41.652%,
		59.194% 42.222%,
		59.048% 42.753%,
		58.853% 43.238%,
		58.612% 43.67%,
		58.332% 44.04%,
		58.017% 44.341%,
		57.672% 44.566%,
		57.302% 44.706%,
		56.912% 44.755%,
		2.414% 44.755%,
		2.414% 44.755%,
		2.025% 44.803%,
		1.655% 44.944%,
		1.31% 45.168%,
		0.995% 45.469%,
		0.715% 45.84%,
		0.474% 46.271%,
		0.279% 46.756%,
		0.133% 47.287%,
		0.042% 47.857%,
		0.01% 48.457%,
		0.01% 96.282%,
		0.01% 96.282%,
		0.042% 96.882%,
		0.133% 97.452%,
		0.279% 97.983%,
		0.474% 98.468%,
		0.715% 98.9%,
		0.995% 99.27%,
		1.31% 99.571%,
		1.655% 99.796%,
		2.025% 99.936%,
		2.414% 99.985%,
		71.138% 99.985%,
		71.138% 99.985%,
		71.528% 99.936%,
		71.898% 99.796%,
		72.243% 99.571%,
		72.558% 99.27%,
		72.838% 98.9%,
		73.078% 98.468%,
		73.274% 97.983%,
		73.42% 97.452%,
		73.511% 96.882%,
		73.542% 96.282%,
		73.542% 62.033%,
		73.542% 62.033%,
		73.574% 61.433%,
		73.665% 60.864%,
		73.811% 60.332%,
		74.007% 59.847%,
		74.247% 59.416%,
		74.527% 59.046%,
		74.842% 58.744%,
		75.187% 58.52%,
		75.557% 58.379%,
		75.947% 58.331%,
		97.586% 58.331%,
		97.586% 58.331%,
		97.975% 58.282%,
		98.345% 58.142%,
		98.69% 57.917%,
		99.005% 57.616%,
		99.285% 57.246%,
		99.526% 56.814%,
		99.721% 56.329%,
		99.867% 55.798%,
		99.958% 55.228%,
		99.99% 54.628%,
		99.99% 3.718%,
		99.99% 3.718%,
		99.959% 3.117%,
		99.867% 2.548%,
		99.722% 2.017%,
		99.526% 1.531%,
		99.286% 1.1%,
		99.006% 0.73%,
		98.691% 0.429%,
		98.346% 0.204%,
		97.976% 0.064%,
		97.586% 0.015%
	);
}

.container__item-userpic img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container__item-userpic {
	grid-column: 3 / 5;
	grid-row: 2 / 5;

	clip-path: polygon(
		3.64% 99.98%,
		96.468% 99.765%,
		96.468% 99.765%,
		96.747% 99.75%,
		97.023% 99.706%,
		97.294% 99.633%,
		97.559% 99.532%,
		97.817% 99.404%,
		98.066% 99.249%,
		98.307% 99.068%,
		98.537% 98.862%,
		98.754% 98.631%,
		98.959% 98.376%,
		98.959% 98.376%,
		99.149% 98.1%,
		99.32% 97.806%,
		99.473% 97.497%,
		99.607% 97.174%,
		99.721% 96.838%,
		99.816% 96.491%,
		99.89% 96.134%,
		99.943% 95.77%,
		99.975% 95.399%,
		99.985% 95.024%,
		99.875% 5.253%,
		99.875% 5.253%,
		99.862% 4.838%,
		99.825% 4.428%,
		99.765% 4.025%,
		99.681% 3.63%,
		99.575% 3.246%,
		99.447% 2.875%,
		99.297% 2.517%,
		99.127% 2.175%,
		98.936% 1.851%,
		98.726% 1.547%,
		98.726% 1.547%,
		98.498% 1.265%,
		98.256% 1.01%,
		98.001% 0.783%,
		97.734% 0.584%,
		97.457% 0.413%,
		97.17% 0.272%,
		96.876% 0.162%,
		96.576% 0.082%,
		96.271% 0.035%,
		95.961% 0.02%,
		47.072% 0.074%,
		47.072% 0.074%,
		46.793% 0.089%,
		46.517% 0.133%,
		46.246% 0.206%,
		45.981% 0.306%,
		45.723% 0.434%,
		45.473% 0.589%,
		45.233% 0.77%,
		45.003% 0.976%,
		44.785% 1.207%,
		44.58% 1.463%,
		44.58% 1.463%,
		44.391% 1.739%,
		44.22% 2.032%,
		44.067% 2.342%,
		43.933% 2.665%,
		43.818% 3.001%,
		43.724% 3.349%,
		43.65% 3.705%,
		43.597% 4.069%,
		43.565% 4.44%,
		43.555% 4.815%,
		43.534% 46.239%,
		43.534% 46.239%,
		43.482% 47.008%,
		43.332% 47.738%,
		43.093% 48.418%,
		42.776% 49.039%,
		42.391% 49.591%,
		41.947% 50.065%,
		41.454% 50.451%,
		40.923% 50.739%,
		40.363% 50.92%,
		39.784% 50.984%,
		3.532% 51.164%,
		3.532% 51.164%,
		3.253% 51.179%,
		2.977% 51.223%,
		2.706% 51.297%,
		2.441% 51.398%,
		2.183% 51.526%,
		1.933% 51.682%,
		1.693% 51.863%,
		1.463% 52.069%,
		1.245% 52.301%,
		1.04% 52.556%,
		1.04% 52.556%,
		0.851% 52.832%,
		0.68% 53.126%,
		0.527% 53.435%,
		0.393% 53.759%,
		0.279% 54.095%,
		0.184% 54.442%,
		0.11% 54.798%,
		0.057% 55.163%,
		0.025% 55.533%,
		0.015% 55.908%,
		0.082% 95.259%,
		0.082% 95.259%,
		0.134% 96.027%,
		0.274% 96.755%,
		0.492% 97.433%,
		0.783% 98.052%,
		1.139% 98.601%,
		1.552% 99.072%,
		2.016% 99.455%,
		2.524% 99.741%,
		3.067% 99.919%,
		3.64% 99.98%
	);
}

.container__item-trumb img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container__item-trumb {
	width: 100%;
	height: 100%;
	border-radius: 12px;
	overflow: hidden;
	grid-column: 5/6;
	grid-row: 1/5;
	border-radius: 12px;
}

/* !Блок - Зображення */

/* ?Блок - Статистичні мпоказники */
.container__data {
	background-color: #5b7fff;
	grid-column: 1/2;
	grid-row: 1/3;
	border-radius: 12px;
	padding: 16px 20px;
}

.unit__index,
.unit__plus {
	font-size: 21px;
	font-weight: 600;
	line-height: 1.2; /* 25.2/21 */
}

.data__wrap {
	display: flex;
	gap: 5px;
	align-items: center;
}

.wrap__unit {
	display: flex;
	gap: 6px;
	align-items: center;
	flex-shrink: 1;
}

.data__wrap:not(:last-child) {
	padding-bottom: 16px;
	margin-bottom: 16px;
	border-bottom: 1px solid #f3f6f7;
}

.unit__index {
	text-align: right;
	min-width: 42px;
}
/* !Блок - Статистичні мпоказники */

/* ?Блок Замовити*/

.container__link {
	font-family: "Inter", sans-serif;
	font-size: 24px;
	line-height: 1.2; /* 28.8/24 */
	background: #fc3448;
	border-radius: 12px;
	text-align: center;
	padding: 20px 24px;

	display: inline-flex;
	gap: 5px;
	align-items: center;
	justify-content: center;

	grid-column: 4 / 5;
	grid-row: 1 / 2;
}

.container__link::after {
	content: "";
	width: 28px;
	height: 21px;
	background: url("../img/arrow.svg") center/cover no-repeat;
}

/* !Блок Замовити */

@media (any-hover: hover) {
	.container__link:hover {
		background-color: #eb3636;
	}
}

@media (max-width: 870px) {
	.container__item-trumb {
		display: none;
	}
}

@media (min-width: 782px) and (max-width: 869.99px) {
	.products__container {
		grid-template-columns: 5.8fr 1.8fr 3fr 4fr;
	}

	.container__data {
		padding: 18px 12px;
	}

	.container__item-poster {
		clip-path: polygon(
			97.586% 0.015%,
			56.912% 0.015%,
			56.912% 0.015%,
			56.523% 0.064%,
			56.153% 0.204%,
			55.808% 0.429%,
			55.493% 0.73%,
			55.213% 1.1%,
			54.972% 1.532%,
			54.777% 2.017%,
			54.631% 2.548%,
			54.54% 3.118%,
			54.508% 3.718%,
			54.508% 41.052%,
			54.508% 41.052%,
			54.477% 41.652%,
			54.385% 42.222%,
			54.24% 42.753%,
			54.044% 43.238%,
			53.804% 43.67%,
			53.523% 44.04%,
			53.208% 44.341%,
			52.863% 44.566%,
			52.494% 44.706%,
			52.104% 44.755%,
			2.414% 44.755%,
			2.414% 44.755%,
			2.025% 44.803%,
			1.655% 44.944%,
			1.31% 45.168%,
			0.995% 45.469%,
			0.715% 45.84%,
			0.474% 46.271%,
			0.279% 46.756%,
			0.133% 47.287%,
			0.042% 47.857%,
			0.01% 48.457%,
			0.01% 96.282%,
			0.01% 96.282%,
			0.042% 96.882%,
			0.133% 97.452%,
			0.279% 97.983%,
			0.474% 98.468%,
			0.715% 98.9%,
			0.995% 99.27%,
			1.31% 99.571%,
			1.655% 99.796%,
			2.025% 99.936%,
			2.414% 99.985%,
			68.333% 99.985%,
			68.333% 99.985%,
			68.723% 99.936%,
			69.093% 99.796%,
			69.438% 99.571%,
			69.753% 99.27%,
			70.033% 98.9%,
			70.273% 98.468%,
			70.469% 97.983%,
			70.615% 97.452%,
			70.706% 96.882%,
			70.737% 96.282%,
			70.737% 62.033%,
			70.737% 62.033%,
			70.769% 61.433%,
			70.86% 60.864%,
			71.006% 60.332%,
			71.201% 59.847%,
			71.442% 59.416%,
			71.722% 59.046%,
			72.037% 58.744%,
			72.382% 58.52%,
			72.752% 58.379%,
			73.142% 58.331%,
			97.586% 58.331%,
			97.586% 58.331%,
			97.975% 58.282%,
			98.345% 58.142%,
			98.69% 57.917%,
			99.005% 57.616%,
			99.285% 57.246%,
			99.526% 56.814%,
			99.721% 56.329%,
			99.867% 55.798%,
			99.958% 55.228%,
			99.99% 54.628%,
			99.99% 3.718%,
			99.99% 3.718%,
			99.959% 3.117%,
			99.867% 2.548%,
			99.722% 2.017%,
			99.526% 1.531%,
			99.286% 1.1%,
			99.006% 0.73%,
			98.691% 0.429%,
			98.346% 0.204%,
			97.976% 0.064%,
			97.586% 0.015%
		);
	}

	.container__item-userpic {
		clip-path: polygon(
			3.64% 99.98%,
			96.468% 99.765%,
			96.468% 99.765%,
			96.747% 99.75%,
			97.023% 99.706%,
			97.294% 99.633%,
			97.559% 99.532%,
			97.817% 99.404%,
			98.066% 99.249%,
			98.307% 99.068%,
			98.537% 98.862%,
			98.754% 98.631%,
			98.959% 98.376%,
			98.959% 98.376%,
			99.149% 98.1%,
			99.32% 97.806%,
			99.473% 97.497%,
			99.607% 97.174%,
			99.721% 96.838%,
			99.816% 96.491%,
			99.89% 96.134%,
			99.943% 95.77%,
			99.975% 95.399%,
			99.985% 95.024%,
			99.875% 5.253%,
			99.875% 5.253%,
			99.862% 4.838%,
			99.825% 4.428%,
			99.765% 4.025%,
			99.681% 3.63%,
			99.575% 3.246%,
			99.447% 2.875%,
			99.297% 2.517%,
			99.127% 2.175%,
			98.936% 1.851%,
			98.726% 1.547%,
			98.726% 1.547%,
			98.498% 1.265%,
			98.256% 1.01%,
			98.001% 0.783%,
			97.734% 0.584%,
			97.457% 0.413%,
			97.17% 0.272%,
			96.876% 0.162%,
			96.576% 0.082%,
			96.271% 0.035%,
			95.961% 0.02%,
			48.819% 0.074%,
			48.819% 0.074%,
			48.54% 0.089%,
			48.264% 0.133%,
			47.993% 0.206%,
			47.728% 0.306%,
			47.47% 0.434%,
			47.22% 0.589%,
			46.98% 0.77%,
			46.75% 0.976%,
			46.532% 1.207%,
			46.327% 1.463%,
			46.327% 1.463%,
			46.138% 1.739%,
			45.967% 2.032%,
			45.814% 2.342%,
			45.68% 2.665%,
			45.565% 3.001%,
			45.471% 3.349%,
			45.397% 3.705%,
			45.344% 4.069%,
			45.312% 4.44%,
			45.302% 4.815%,
			45.281% 46.239%,
			45.281% 46.239%,
			45.229% 47.008%,
			45.079% 47.738%,
			44.84% 48.418%,
			44.523% 49.039%,
			44.138% 49.591%,
			43.694% 50.065%,
			43.201% 50.451%,
			42.67% 50.739%,
			42.11% 50.92%,
			41.531% 50.984%,
			3.532% 51.164%,
			3.532% 51.164%,
			3.253% 51.179%,
			2.977% 51.223%,
			2.706% 51.297%,
			2.441% 51.398%,
			2.183% 51.526%,
			1.933% 51.682%,
			1.693% 51.863%,
			1.463% 52.069%,
			1.245% 52.301%,
			1.04% 52.556%,
			1.04% 52.556%,
			0.851% 52.832%,
			0.68% 53.126%,
			0.527% 53.435%,
			0.393% 53.759%,
			0.279% 54.095%,
			0.184% 54.442%,
			0.11% 54.798%,
			0.057% 55.163%,
			0.025% 55.533%,
			0.015% 55.908%,
			0.082% 95.259%,
			0.082% 95.259%,
			0.134% 96.027%,
			0.274% 96.755%,
			0.492% 97.433%,
			0.783% 98.052%,
			1.139% 98.601%,
			1.552% 99.072%,
			2.016% 99.455%,
			2.524% 99.741%,
			3.067% 99.919%,
			3.64% 99.98%
		);
	}
}

@media (min-width: 550px) and (max-width: 781px) {
	.products__container {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 19% 14% 29% 19%;
	}

	.data__wrap {
		justify-content: space-between;
	}

	.unit__desc {
		font-size: 12px;
	}

	.container__item-poster {
		grid-column: 1 / 6;
		grid-row: 1 / 5;

		clip-path: polygon(
			56.864% 99.98%,
			56.864% 99.98%,
			57.244% 99.935%,
			57.606% 99.806%,
			57.942% 99.601%,
			58.25% 99.325%,
			58.524% 98.985%,
			58.758% 98.59%,
			58.949% 98.145%,
			59.091% 97.658%,
			59.18% 97.136%,
			59.211% 96.585%,
			59.211% 77.998%,
			59.211% 77.998%,
			59.235% 77.579%,
			59.302% 77.181%,
			59.411% 76.811%,
			59.556% 76.472%,
			59.734% 76.171%,
			59.943% 75.913%,
			60.177% 75.703%,
			60.433% 75.546%,
			60.708% 75.448%,
			60.998% 75.415%,
			97.599% 75.415%,
			97.599% 75.415%,
			97.788% 75.404%,
			97.975% 75.372%,
			98.158% 75.319%,
			98.338% 75.246%,
			98.513% 75.153%,
			98.682% 75.04%,
			98.845% 74.909%,
			99.001% 74.759%,
			99.149% 74.591%,
			99.288% 74.405%,
			99.288% 74.405%,
			99.416% 74.204%,
			99.532% 73.99%,
			99.636% 73.765%,
			99.727% 73.529%,
			99.805% 73.285%,
			99.869% 73.032%,
			99.92% 72.772%,
			99.957% 72.507%,
			99.979% 72.237%,
			99.986% 71.963%,
			99.986% 3.443%,
			99.986% 3.443%,
			99.955% 2.898%,
			99.867% 2.381%,
			99.726% 1.899%,
			99.537% 1.458%,
			99.305% 1.066%,
			99.034% 0.73%,
			98.729% 0.457%,
			98.396% 0.253%,
			98.038% 0.126%,
			97.661% 0.082%,
			83.942% 0.082%,
			83.942% 0.082%,
			83.597% 0.122%,
			83.269% 0.239%,
			82.964% 0.426%,
			82.685% 0.676%,
			82.436% 0.984%,
			82.224% 1.342%,
			82.05% 1.746%,
			81.921% 2.188%,
			81.841% 2.661%,
			81.813% 3.161%,
			81.813% 41.527%,
			81.813% 41.527%,
			81.809% 42.288%,
			81.775% 42.936%,
			81.702% 43.479%,
			81.582% 43.924%,
			81.407% 44.279%,
			81.169% 44.552%,
			80.859% 44.751%,
			80.47% 44.884%,
			79.994% 44.959%,
			79.423% 44.983%,
			20.22% 44.983%,
			20.22% 44.983%,
			20.04% 44.972%,
			19.862% 44.941%,
			19.688% 44.891%,
			19.517% 44.821%,
			19.35% 44.731%,
			19.189% 44.623%,
			19.034% 44.498%,
			18.886% 44.354%,
			18.745% 44.193%,
			18.613% 44.016%,
			18.613% 44.016%,
			18.492% 43.824%,
			18.381% 43.62%,
			18.283% 43.405%,
			18.197% 43.18%,
			18.123% 42.946%,
			18.063% 42.705%,
			18.015% 42.458%,
			17.981% 42.205%,
			17.961% 41.947%,
			17.955% 41.687%,
			17.955% 3.402%,
			17.955% 3.402%,
			17.948% 3.133%,
			17.926% 2.868%,
			17.889% 2.607%,
			17.839% 2.352%,
			17.776% 2.103%,
			17.699% 1.863%,
			17.609% 1.632%,
			17.506% 1.411%,
			17.392% 1.201%,
			17.265% 1.004%,
			17.265% 1.004%,
			17.128% 0.822%,
			16.982% 0.657%,
			16.829% 0.51%,
			16.668% 0.382%,
			16.501% 0.272%,
			16.329% 0.181%,
			16.152% 0.111%,
			15.972% 0.06%,
			15.788% 0.03%,
			15.602% 0.02%,
			2.169% 0.02%,
			2.169% 0.02%,
			1.998% 0.03%,
			1.83% 0.059%,
			1.664% 0.106%,
			1.502% 0.172%,
			1.344% 0.256%,
			1.191% 0.358%,
			1.044% 0.477%,
			0.903% 0.612%,
			0.77% 0.764%,
			0.644% 0.932%,
			0.644% 0.932%,
			0.529% 1.113%,
			0.424% 1.306%,
			0.33% 1.51%,
			0.248% 1.722%,
			0.177% 1.943%,
			0.119% 2.171%,
			0.074% 2.406%,
			0.041% 2.646%,
			0.021% 2.889%,
			0.014% 3.136%,
			0.014% 95.607%,
			0.014% 95.607%,
			0.054% 96.316%,
			0.168% 96.989%,
			0.352% 97.616%,
			0.598% 98.189%,
			0.9% 98.699%,
			1.252% 99.136%,
			1.649% 99.491%,
			2.082% 99.757%,
			2.548% 99.922%,
			3.038% 99.98%
		);
	}

	.container__item-userpic {
		display: none;
	}

	.container__data {
		background-color: #5b7fff;
		grid-column: 2/5;
		grid-row: 1/3;
		border-radius: 12px;
		padding: 16px 22px;
	}

	.container__link {
		font-family: "Inter", sans-serif;
		font-size: 24px;
		line-height: 1.2; /* 28.8/24 */
		background: #fc3448;
		color: #fff;
		border-radius: 12px;
		text-align: center;
		padding: 20px 24px;

		display: inline-flex;
		gap: 5px;
		align-items: center;
		justify-content: center;

		grid-column: 4 / 6;
		grid-row: 4 / 5;
	}
}

@media (max-width: 549px) {
	.products__container {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 19% 14% 47% 25%;
	}

	.container__item-poster {
		grid-column: 1 / 4;
		grid-row: 3 / 5;

		clip-path: polygon(
			96.435% 0.094%,
			96.435% 0.094%,
			97.007% 0.159%,
			97.55% 0.34%,
			98.057% 0.628%,
			98.52% 1.014%,
			98.932% 1.487%,
			99.287% 2.039%,
			99.576% 2.659%,
			99.793% 3.339%,
			99.931% 4.068%,
			99.983% 4.836%,
			99.983% 4.836%,
			99.983% 56.393%,
			99.971% 56.768%,
			99.937% 57.137%,
			99.883% 57.501%,
			99.807% 57.856%,
			99.711% 58.202%,
			99.596% 58.537%,
			99.461% 58.859%,
			99.307% 59.167%,
			99.135% 59.459%,
			98.946% 59.734%,
			98.946% 59.734%,
			98.74% 59.987%,
			98.522% 60.217%,
			98.292% 60.421%,
			98.052% 60.601%,
			97.802% 60.754%,
			97.544% 60.881%,
			97.28% 60.98%,
			97.009% 61.052%,
			96.734% 61.095%,
			96.455% 61.108%,
			96.455% 61.108%,
			35.146% 61.179%,
			34.567% 61.24%,
			34.006% 61.418%,
			33.474% 61.704%,
			32.98% 62.088%,
			32.536% 62.561%,
			32.149% 63.112%,
			31.831% 63.733%,
			31.592% 64.413%,
			31.441% 65.143%,
			31.389% 65.913%,
			31.389% 65.913%,
			31.296% 95.246%,
			31.285% 95.621%,
			31.252% 95.992%,
			31.198% 96.356%,
			31.123% 96.713%,
			31.028% 97.06%,
			30.913% 97.396%,
			30.778% 97.719%,
			30.625% 98.029%,
			30.453% 98.322%,
			30.263% 98.598%,
			30.263% 98.598%,
			30.058% 98.852%,
			29.839% 99.083%,
			29.609% 99.289%,
			29.368% 99.469%,
			29.118% 99.623%,
			28.86% 99.751%,
			28.595% 99.851%,
			28.323% 99.923%,
			28.048% 99.966%,
			27.768% 99.98%,
			27.768% 99.98%,
			3.914% 99.883%,
			3.605% 99.866%,
			3.3% 99.816%,
			3% 99.736%,
			2.707% 99.624%,
			2.421% 99.481%,
			2.145% 99.31%,
			1.878% 99.109%,
			1.624% 98.881%,
			1.383% 98.625%,
			1.156% 98.343%,
			1.156% 98.343%,
			0.946% 98.037%,
			0.756% 97.712%,
			0.587% 97.37%,
			0.438% 97.011%,
			0.311% 96.639%,
			0.205% 96.255%,
			0.122% 95.86%,
			0.063% 95.457%,
			0.027% 95.046%,
			0.015% 94.631%,
			0.015% 94.631%,
			0.055% 4.754%,
			0.066% 4.379%,
			0.099% 4.008%,
			0.153% 3.644%,
			0.228% 3.287%,
			0.323% 2.94%,
			0.438% 2.604%,
			0.573% 2.281%,
			0.726% 1.971%,
			0.898% 1.678%,
			1.088% 1.402%,
			1.088% 1.402%,
			1.293% 1.148%,
			1.512% 0.917%,
			1.742% 0.711%,
			1.982% 0.531%,
			2.233% 0.377%,
			2.491% 0.249%,
			2.756% 0.149%,
			3.027% 0.077%,
			3.303% 0.034%,
			3.582% 0.02%,
			3.582% 0.02%
		);
	}

	.container__item-userpic {
		display: none;
	}

	.container__data {
		background-color: #5b7fff;
		grid-column: 1/4;
		grid-row: 1/3;
		border-radius: 12px;
	}

	.data__wrap {
		justify-content: space-between;
	}

	.unit__desc {
		font-size: 14px;
	}

	.container__data {
		padding: 14px 22px;
	}

	.container__link {
		font-family: "Inter", sans-serif;
		font-size: 24px;
		line-height: 1.2; /* 28.8/24 */
		background: #fc3448;
		color: #fff;
		border-radius: 12px;
		text-align: center;
		padding: 20px 24px;

		display: inline-flex;
		gap: 5px;
		align-items: center;
		justify-content: center;

		grid-column: 2 / 4;
		grid-row: 4 / 5;
	}
}
