@import url("https://fonts.googleapis.com/css?family=Montserrat:800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:500, 700&display=swap");

@font-face {
  font-family: 'Causten';
  src: url('../fonts/Causten_bold.woff2') format('woff2'),
      url('../fonts/Causten_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Causten';
  src: url('../fonts/Causten_medium.woff2') format('woff2'),
      url('../fonts/Causten_medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Causten';
  src: url('../fonts/Causten_light.woff2') format('woff2'),
      url('../fonts/Causten_light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Causten';
  src: url('../fonts/Causten_semibold.woff2') format('woff2'),
      url('../fonts/Causten_semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Causten';
  src: url('../fonts/Causten_regular.woff2') format('woff2'),
      url('../fonts/Causten_regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Core Sans C';
  src: url('../fonts/Causten_medium.woff2') format('woff2'),
      url('../fonts/Causten_medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Core Sans C';
  src: url('../fonts/Сoresansc_bold.woff2') format('woff2'),
      url('../fonts/Сoresansc_bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Core Sans C';
  src: url('../fonts/Сoresansc_extrabold.woff2') format('woff2'),
      url('../fonts/Сoresansc_extrabold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Core Sans C';
  src: url('../fonts/Сoresansc_heavy.woff2') format('woff2'),
      url('../fonts/Сoresansc_heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}