@import url("fonts.css");
@import url("reset.css");

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
}

.main {
	font-family: "Poppins", sans-serif;
	color: #fff;
	background-color: #37393f;
}
.main__section {
	padding-top: 150px;
}

.progress-bar__block-bar {
	max-width: 640px;
	margin: 0 auto;
	padding: 0 15px;
	display: flex;
	column-gap: 15px;
}

.block-bar__clients,
.block-bar__products {
	background-color: #2e2f34;
	padding: 27px 30px;
	flex: 1 0 auto;
}

.clients-bar__wrap,
.products-bar__wrap {
	display: flex;
	flex-wrap: wrap;
	column-gap: 12px;
	align-items: center;
}
.clients-bar__circular,
.products-bar__circular {
	position: relative;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: conic-gradient(#40ddb6 3.7deg, #37393f 0deg);
	display: flex;
	align-items: center;
	justify-content: center;
}

.clients-bar__circular::before,
.products-bar__circular::before {
	content: "";
	position: absolute;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: #37393f;
}
.clients-bar__value,
.products-bar__value {
	font-size: 20px;
	font-weight: 600;
	line-height: 0.8;
	z-index: 2;
}

.text-block__paragraph {
	text-transform: capitalize;
	font-family: "Inter", sans-serif;
	line-height: 1.4;
}

.text-block__paragraph:not(:last-child) {
	margin-bottom: 1px;
}
.text-block__subtitle {
	text-transform: capitalize;
	font-size: 18px;
	font-weight: 600;
	line-height: 0.9;
}
.products-bar {
}
.products-bar__wrap {
}
.products-bar__circular {
}
[class*="-bar__value"] {
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 0.8;
}
.products-bar__text-block {
}
